<?xml version="1.0" encoding="windows-1250"?>
<config>
	<data>
		<ORG_NAME>Olomoucký kraj</ORG_NAME>
		<ORG_ULICE>Jeremenkova</ORG_ULICE>
		<ORG_cisPop>40a</ORG_cisPop>
		<ORG_cisOr></ORG_cisOr>
		<ORG_MESTO>Olomouc</ORG_MESTO>
		<ORG_PSC>77911</ORG_PSC>
		<ORG_TEL>+420 585 508 111</ORG_TEL>
	</data>
</config>
