<?xml version="1.0" encoding="utf-8"?>
<format type="grr" xmlns="http://www.gordic.cz/TR/alf/1.4/" version="4.72.1.7">
  ${InfoSection.GRR}
  <region name="${RootRegName}">
    <head>
      <line>
        <text value=""/>
      </line>
    </head>
    <body>
      <line>
        <text value=""/>
      </line>
    </body>
    <foot>
      <line>
        <text value=""/>
      </line>
    </foot>
  </region>
</format>