<?xml version="1.0" encoding="utf-8"?>
<reports xmlns="${SsrReportXmlns}" version="4.72.1.7">
  <report title="${CurText}">
    <format file="${ItemPath}" />
    <data file="${CurDataFileName}" />
    <structure file="${CurStructFileName}" title="${CurStructID}" />
  </report>
</reports>