<?xml version="1.0" encoding="utf-8"?>
<data xmlns="data:${CurStructID}:${CurStructVersionMajor}:${CurStructVersionMinor}" version="4.72.1.7">
  <${CurStructRootRegName}>
  </${CurStructRootRegName}>
</data>