.tree_root {
    font-weight: bolder;
    /*font-style: italic;*/
}
.tree_item {
 /*   font-weight: bold;
    font-style: italic;*/
}
.tree_item_last {
    font-style: italic;
    text-decoration: underline;
}
.mytextarea{
    background-color: none;
}
.dphRecap .cell.ui-selected:focus {
    border: 0.1rem dotted black;
    margin: -0.1rem -0.1rem -0.1rem 0;
} 