
.BlackTextOverenoROS {
	color: #000000!important;
    background-color:#fcd2bc!important;
}
.BlueTextOverenoROS {
	color: #0000ff!important;
    background-color:#fcd2bc!important;
}

.BlackTextOverenoROB {
	color: #000000!important;
    background-color:#fcf2ba!important;
}
.BlueTextOverenoROB {
	color: #0000ff!important;
    background-color:#fcf2ba!important;
}

.BlackTextOverenoAsROS {
	color: #000000!important;
    background-color:#f6d82e!important;
}
.BlueTextOverenoAsROS {
	color: #0000ff!important;
    background-color:#f6d82e!important;
}

.BlackTextOverenoAsROB {
	color: #000000!important;
    background-color:#e6580d!important;
}
.BlueTextOverenoAsROB {
	color: #0000ff!important;
    background-color:#e6580d!important;
}
