<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MM7AdapterSOAPBinding" />
                <binding name="PPGwBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SimpleSmsGwBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="GatewayManagerBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SimpleSmsGwBinding1" />
                <binding name="GatewayManagerBinding1" />
                <binding name="PPGwBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8910/mm7adapter" binding="basicHttpBinding"
                bindingConfiguration="MM7AdapterSOAPBinding" contract="Vodafone.MM7AdapterPortType"
                name="MM7SOAPService" />
            <endpoint address="https://smsconnector.eurotel.cz:443/smsconnector/services/PPGwPort"
                binding="basicHttpBinding" bindingConfiguration="PPGwBinding"
                contract="O2.PPGw" name="PPGwPort" />
            <endpoint address="https://smsconnector.eurotel.cz:443/smsconnector/services/SimpleSmsGwPort"
                binding="basicHttpBinding" bindingConfiguration="SimpleSmsGwBinding"
                contract="O2.SimpleSmsGw" name="SimpleSmsGwPort" />
            <endpoint address="https://smsconnector.eurotel.cz:443/smsconnector/services/GatewayManagerPort"
                binding="basicHttpBinding" bindingConfiguration="GatewayManagerBinding"
                contract="O2.GatewayManager" name="GatewayManagerPort" />
        </client>
    </system.serviceModel>
</configuration>