<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gordic.Ids2.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Gordic.Ids2.Server.Properties.Settings>
            <setting name="Gordic_Ids2_Server_UredniDeskaWebService_UredniDeskaWebService" serializeAs="String">
                <value>http://localhost:8080/Gordic.Pds.WsClient/UredniDeskaWebService.asmx</value>
            </setting>
            <setting name="Gordic_Ids2_Server_ProxyWebService_ProxyWebService" serializeAs="String">
                <value>http://localhost/475/Gordic.Ids2.WsProxy/isds/ProxyWebService.asmx</value>
            </setting>
            <setting name="Gordic_Ids2_Server_Pds01Ws_Pds01" serializeAs="String">
                <value>http://localhost:8080/Gordic.Pds.WsClient/Pds01.asmx</value>
            </setting>
            <setting name="Gordic_Ids2_Server_IsdsDataBoxSearchWebService_DataBoxSearch" serializeAs="String">
                <value>https://www.mojedatovaschranka.cz/DS/df</value>
            </setting>
            <setting name="Gordic_Ids2_Server_IsdsInfoWebService_dmInfoWebService" serializeAs="String">
                <value>https://www.mojedatovaschranka.cz/DS/dx</value>
            </setting>
            <setting name="Gordic_Ids2_Server_IsdsOperationsWebService_dmOperationsWebService" serializeAs="String">
                <value>https://www.mojedatovaschranka.cz/DS/dz</value>
            </setting>
            <setting name="Gordic_Ids2_Server_GexManipulationsWebService_dbManipulationsWebService" serializeAs="String">
                <value>http://127.0.0.1:8080/Gordic.Gex.WsClient/dbManipulationsWebService.asmx</value>
            </setting>
            <setting name="Gordic_Ids2_Server_UserAccessWebService_UserAccessWebService" serializeAs="String">
                <value>https://verejna-sprava.gordic.cz:4443/Gordic.Pds.WsClient/UserAccessWebService.asmx</value>
            </setting>
            <setting name="Gordic_Ids2_Server_CreateWebWebService_CreateWebWebService" serializeAs="String">
                <value>http://localhost:8080/Gordic.Pds.WsClient/CreateWebWebService.asmx</value>
            </setting>
            <setting name="Gordic_Ids2_Server_UserAccessWs_UserAccessWebService" serializeAs="String">
                <value>http://localhost:8080/Gordic.Pds.WsClient/UserAccessWebService.asmx</value>
            </setting>
            <setting name="Gordic_Ids2_Server_IsdsDataBoxAccessWebService_DataBoxAccess" serializeAs="String">
                <value>https://ws1.mojedatovaschranka.cz/DS/DsManage</value>
            </setting>
            <setting name="Gordic_Ids2_Server_IsdsDataBoxSearchWebService_v2_DataBoxSearch" serializeAs="String">
                <value>https://ws1.mojedatovaschranka.cz/DS/df</value>
            </setting>
            <setting name="Gordic_Ids2_Server_IsdsInfoWebService_v2_dmInfoWebService" serializeAs="String">
                <value>https://ws1.mojedatovaschranka.cz/DS/dx</value>
            </setting>
            <setting name="Gordic_Ids2_Server_IsdsOperationsWebService_v2_dmOperationsWebService" serializeAs="String">
                <value>https://ws1.mojedatovaschranka.cz/DS/dz</value>
            </setting>
        </Gordic.Ids2.Server.Properties.Settings>
    </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Gordic.Ids2.Interface" publicKeyToken="44B0E1E139828386" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-460.2.0.0" newVersion="460.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
