<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gordic.Security.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Gordic.Security.Service.Properties.Settings>
            <setting name="Gordic_Security_Service_EDidentityServices_ValidationService"
                serializeAs="String">
                <value>http://vs-test.eidentity.cz:80/validation/services/Validation</value>
            </setting>
            <setting name="Gordic_Security_Service_ValidatorService_ValidationService"
                serializeAs="String">
                <value>https://www.secustamp.com:443/certvalidator/ev</value>
            </setting>
            <setting name="Gordic_Security_Service_AIBSecustampS602_Secustamp602"
                serializeAs="String">
                <value>http://172.17.59.2/469/Gordic.Ids2.WsProxy/secustamp602/Secustamp602.asmx</value>
            </setting>
            <setting name="Gordic_Security_Service_AIBSignWebService_Sign"
                serializeAs="String">
                <value>http://192.168.0.224/469/Gordic.Ids2.WsProxy/sign/Sign.asmx</value>
            </setting>
            <setting name="Gordic_Security_Service_GSigner_GSigner" serializeAs="String">
                <value>http://srv-lcycle/Gordic/Ginis/Ws/GTS02/Gordic.Security.WebService.GSigner.asmx</value>
            </setting>
            <setting name="Gordic_Security_Service_AIBProxyWebReference_ProxyWebService"
                serializeAs="String">
                <value>http://srv-lcycle/Gordic/Ginis/Ws/IDS02/isds/ProxyWebService.asmx</value>
            </setting>
            <setting name="Gordic_Security_Service_OSCPWebReference_Sign"
                serializeAs="String">
                <value>http://172.17.59.28/477/Gordic.Ids2.WsProxy/sign/Sign.asmx</value>
            </setting>
            <setting name="Gordic_Security_Service_SecuSignWebService_TSPWebService"
                serializeAs="String">
                <value>http://srv-lcycle/secusign_test/default.asmx</value>
            </setting>
        </Gordic.Security.Service.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>