<?xml version="1.0" encoding="utf-8" ?>

<!-- Popis konfugrace: https://github.com/NLog/NLog/wiki/Tutorial#configure-nlog-targets-for-output -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="false"
      internalLogLevel="Info" internalLogFile="c:\logs\nlog-internal.log">
  
  <targets>
      <target xsi:type="File" name="inFiltrFile1" fileName="c:\logs\elf\${faze} ${date:format=yyyy-MM-dd}.txt" 
				deleteOldFileOnStartup="true"
        layout="${longdate}|${level:uppercase=true}|${logger}|${user}|${message}"/>
    
      <!--<target xsi:type="File" name="inFiltrFile2" fileName="c:\logs\${faze} test2.txt" 
				deleteOldFileOnStartup="true"
        layout="${longdate}|${level:uppercase=true}|${logger}|${logporcislo}|${message}"/>
        -->
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="inFiltrFile1"/>
    <!--<logger name="*" minlevel="Error" writeTo="inFiltrFile2"/>-->
  </rules>
  
</nlog>
