<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToConsole="false"
      autoReload="false"
	  throwExceptions="false">

	<!-- verze: v20062025 změny logování pro .NET core -->
	<!-- verze: v29042025 opravy tenant, přejmenován CALLS na TRACES -->
	<!-- verze: v05032025 -->

	<!--Upozornění: prosím, vemte na vědomí, že modifikace tohoto souboru může vést k nefunkčnosti AIB.
		Jde zejména o konvence pojmenování souborů. Pokud nebudou dodrženy, nemusí fungovat modul ADX05.

		Doporučení: ponechte soubor tak, jak je, a neprovádějte v něm žádné změny.
	
		Poznámka: je možné přidat další cíle - například pro SIEM, ale buďte opatrní.
		Toto se většinou týká specifických implementací na velkých projektech.
	-->

	<!--Dostupné proměnné pomocí ${scopeproperty:item=proměnná}
		===========================================================================
		protocol_version - verze protokolu AIB
		tenant			- požadovaný DB-tenant
		resolved_tenant	- vyhodnocený DB-tenant, ve kterém je požadavek zpracován
		lic				- GINIS licence (z tenant)
		ico				- GINIS IČO (z tenant)
		resolvedTenantDir - vyhodnocený adresář, ve kterém je požadavek zpracován
		logporcislo		- logporcislo GINIS
		ixs_ref			- identifikace referenta volajícího modulu GINIS
		ixs_fun			- funkční místo volajícího modulu GINIS
		request_id		- jednoznačná identifikace požadavku GUID - převzata z GINIS
		request_nr		- číslo požadavku v rámci jedné instance AIB - po restartu od 1
		revize_aib		- revize AIB 
		revize			- revize volajícího modulu GINIS
		profile			- DB profil GINIS (identifikace tenant)
		module			- identifikace modulu AIB (ARES/NEN/...)
		method_name		- identifikace metody v rámci modulu AIB
	-->

	<targets async="true">
		<!-- Soubor AIB.log-->
		<!-- 
			Příklad řádky:
			2024-09-10 11:43:23.9154 42IDS0252420X01 [879caa1a-073f-4358-95e1-02053c1aa911] / 6 Gordic.Ids2.WsProxy.AibCallContext Info BeginRequest request_nr=1+request_id="879caa1a-073f-4358-95e1-02053c1aa911"+logporcislo="1234", source-url: "http://localhost/dev/Gordic.Ids2.WsProxy/aib/AibServer.ashx", source-ip:"::1"  
		-->
		<target
		  name="AIB"
		  xsi:type="File"
		  writeBom="true"
		  encoding="Unicode"
		  fileName="${var:LogFolder}\${scopeproperty:item=resolved_tenant}\${date:format=yyyy}-${date:format=MM}-${date:format=dd}\AIB.log"
		  layout="${longdate} ${scopeproperty:item=revize_aib} [${scopeproperty:item=request_id}] ${scopeproperty:item=module}/${scopeproperty:item=method_name} ${threadid} ${logger} ${level} ${message}  ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=10:innerFormat=shortType,message,method}};v20062025"
		 />
		<!-- Soubor AIB_TRACES.log-->
		<!-- 
			Příklad řádky:
			Info;42IDS0252420X01;2024-09-10 11:43:24.1964;d524vvs7.1234;[879caa1a-073f-4358-95e1-02053c1aa911];ARES/Ping;logporcislo=1245;ixs_ref=Muj_x-gordic-ixsref;revize_aib=42IDS0252420X01;revize=GWAREVIZE01;0.1869437;v11092024			
		-->
		<target
		  name="TRACES"
		  xsi:type="File"
		  writeBom="true"
		  encoding="Unicode"
		  fileName="${var:LogFolder}\${scopeproperty:item=resolved_tenant}\${date:format=yyyy}-${date:format=MM}-${date:format=dd}\AIB_TRACES.log"
		  layout="${level};${scopeproperty:item=tenant} => ${scopeproperty:item=resolved_tenant};${scopeproperty:item=revize_aib};${longdate};${scopeproperty:item=profile}.${scopeproperty:item=ico};[${scopeproperty:item=request_id}];${scopeproperty:item=module}/${scopeproperty:item=method_name};logporcislo=${scopeproperty:item=logporcislo};ixs_ref=${scopeproperty:item=ixs_ref};revize=${scopeproperty:item=revize};${message};v20062025"
		 />

		<!-- Prázdný cíl - události zapsané sem jsou zahozeny -->
		<target name="blackhole" type="Null" />
	</targets>

	<!-- Poznámka: pozor na pořadí cílů! -->
	<!-- Cíl označený jako final neposílá událost dále -->
	<rules>
		<!-- Dostupné úrovně logování 
			 ========================
			 Trace
			 Debug
			 Info
			 Warn
			 Error
			 Fatal
			 Off -->


		<logger name="Microsoft.Extensions.Http.DefaultHttpClientFactory" minlevel="Trace" maxlevel="Off" final="true" writeTo="blackhole" />
		<logger name="Microsoft.AspNetCore.*" minlevel="Info" maxlevel="Off" final="true" writeTo="AIB" />
		<logger name="Microsoft.AspNetCore.*" minlevel="Trace" maxlevel="Off" final="true" writeTo="blackhole" />

		<!--Události TRACES do samostatného souboru-->
		<logger name="TRACES" minlevel="Trace" final="true" writeTo="TRACES" />

		<!-- Proud logů z AIB -->
		<logger name="*" minlevel="Debug" writeTo="AIB" />
	</rules>
</nlog>
