<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore
				processPath="dotnet"
				arguments=".\Gordic.Aib.WebService.dll"
				stdoutLogEnabled="false"
				stdoutLogFile=".\logs\stdout.log"
				hostingModel="inprocess"
				startupTimeLimit="300" >

				<environmentVariables>
					<!--<environmentVariable name="GINIS_LOG" value="C:\Log" />-->
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>

	<appSettings>
		<!-- Profil do vaultu, standardně CWSAIB01 -->
		<!--<add key="Profile" value="CWSAIB01"/>-->
		<add key="Vaults" value="File=c:\Program Files (x86)\Gordic\Ginis;WindowsCertStore" />
		
		<!-- Unsecured / [Strict] -->
		<!--<add key="Mode" value="Unsecured" />-->

		<!--
			anonymous:	- povolen anonymní přístup. nesmí být použito v internetu 
			windows:	- seznam windows loginů oddělený středníkem DOMÉNA\login;DOMÉNA\login2
		-->
		<add key="AuthorizationMode" value="anonymous:" />

		<!-- schéma pro URL systémové proxy služby například "http" 
		     pozor na velikost počátečního písmena
		-->
		<add key="SystemProxyScheme" value="http" />

		<!-- URL adresa systémové proxy služby, pro případ, že nějaká existuje;
			pokud neexistuje, pak value=""
			Příklad URL adresy systémové proxy: 127.0.0.1:8080 nebo FiremniProxy:8888 – 127.0.0.1:8888
		-->
		<!--<add key="SystemProxyUrl" value="localhost:8080"/>-->

		<!-- Uživatelské heslo systémové proxy služby -->
		<add key="SystemProxyUserName" value="" />

		<!-- 
			Heslo systémové proxy služby
			od 9.11.2023 MUSÍ BÝT ULOŽENO VE VAULTU
			
			POZOR, toto tajemství musí být uloženo v paměti po dobu života instance AIB
			Jinak by se neůměrně prodlužovaly požadavky.
			To znamená, že změna ve vaultu (např. soubor) se neprojeví do restartu IIS
		-->
		<!--<add key="SystemProxyPassword" value="" />-->

		<!-- Typ proxy služby -->
		<!-- 10  - none, 20 - annonymous, 30 - basic, 40 - ntlm -->
		<add key="SystemProxyType" value="none" />

		<!-- Timeout - čas po kterém je ukončené spojení při nečinosti s externím systémem např: ISDS (čas je v ms) -->
		<add key="TimeoutWS" value="100000" />

		<!--<add key="HttpsClientValidate" value="true" />-->
		<!-- 
			Tento parametr se zavádí kvůli ISZR, pokud AIB nevolá ISZR nemá parametr žádný vliv, pokud se volá ISZR má parametr vliv na celou instanci AIB, tedy i IISSP, apod.
			V případě, že bude kombinace ISZR a jiného ext. systému způsobovat problémy (zejména SSL error) je nutné vytvořit dvě instance AIB, jednu pro ISZR a druhou pro zbylé konektory. 
			Ssl3 = 48 
			Tls1.0 = 192
			Tls1.1 = 768 
			Tls1.2 = 3072
			Tls1.0 + Tls1.2 = 3264
			Tls1.1 + Tls1.2 = 3840
			Tls1.0 + Tls1.1 + Tls1.2 = 4032
		-->
		<add key="ProtocolSslTls" value="4032" />

		<!-- Vynucení synchronního módu pro vyjmenované služby -->
		<!--<add key="ForceSyncMode" value="E39,E28,E07,E08,E29" />-->

		<!-- Složka, do které se uloží soubory log ování -->
		<add key="LogFolder" value="C:\tenant" />

		<!-- Zapnout telemetrii? -->
		<add key="Telemetry" value="false" />
		
		<!-- Úroveň logování - [true/false] -->
		<add key="SaveAllIncomingRequests" value="true" />

		<!-- Úroveň logování - [true/false] -->
		<add key="SaveAllIncomingResponses" value="true" />

		<!-- Maximální počet chyb uložených v paměti - doporučeno 1000-2000 -->
		<add key="StorageLogsLimit" value="1000"/>

		<!--ukládat cookie které jsou odesíilány/přijímány do/z ISDS (zvětšuje LOG cca o 4KB na request)-->
		<!-- <add key="SaveIsdsCookiesToTheLogFile" value="false" /> -->
	</appSettings>
</configuration>
