.WflDetailFields {
    margin-top:2px;
    margin-bottom:2px;
    display:block; 
}
.WflTrasaInfoDetail {
   /* margin-top:2px; */ /* nefunguje */
    margin-left:5px;
    font-weight:bold; 
}
.PrilohyFillUp {
    font-weight: bold;
}


