.g-cfu-value {
    display: inline-block;
}

/* cfuElements.prefab.ts - start */

.g-eko-cfu-elm-caption {
    color: #2650b9;
    font-weight: bold;
}

.g-eko-cfu-elm-value {
    color: inherit;
}

.g-eko-cfu-elm-separator {
    color: #808080;
}

.g-eko-cfu-elm:hover {
    background-color: #c6cde0;
}

.g-eko-cfu-elm-wrp {
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;
    line-height: normal;
}

    .ggrid .row .g-eko-cfu-elm-wrp {
        line-height: normal;
    }

    .g-eko-cfu-elm-wrp--left {
        text-align: left;
    }

    .g-eko-cfu-elm-wrp--center {
        text-align: center;
    }

    .g-eko-cfu-elm-wrp--right {
        text-align: right;
    }

/* cfuElement.prefab - overloady pro zobrazeni v tooltipu na badge v gfilterpanelu */
.g-tooltip .g-eko-cfu-elm-caption {
    color: #e6e6e6;
}

.g-tooltip .g-eko-cfu-elm-separator {
    color: #E7EAF2;
}
/* cfuElement.prefab - overloady pro zobrazeni v tooltipu na badge v gfilterpanelu */

/* cfuElements.prefab.ts - end */


/* Tooltip nad hodnotou policka cfuElements */
.g-eko-cfu-double .g-eko-cfu-elm-separator {
    display: block;
}
.g-eko-cfu-double .g-eko-cfu-elm {
    display:inline-block;
}
.g-eko-cfu-double .g-eko-cfu-elm-caption,
.g-eko-cfu-double .g-eko-cfu-elm-value {
    /*display: block;*/
    color: white;
}

.g-eko-cfu-double .g-eko-cfu-elm-caption {
    font-weight: bold;
}

/* Serverovy filtr v gridu s moznosti zobrazeni hodnot nad sebou */

.ggrid .row.g-cfu-row {
    line-height: 3rem;
    min-height: 3rem;
}

.ggrid .g-cfu-filter .gfield {
    height: 3rem;
}

    .ggrid .g-cfu-filter .gfield .g-cfu-emptyval {
        height: 3rem;
        display: inline-block;
    }

.g-eko-cfu-elm-caption,
.g-eko-cfu-elm-value {
    margin-left: 0.5rem;
}