.gwfl-linked-docs .gwfl-linked-docs--content {
  position: relative;
}

.gwfl-linked-docs .gwfl-linked-docs--switch {
  padding: 0.25rem;
}

.gwfl-linked-docs .gwfl-linked-docs--panel .button-panel-top.overlap {
  width: 2.5rem;
  z-index: 1;
  right: 0rem;
  left: auto;
  height: 100%;
}
.gwfl-linked-docs .gwfl-linked-docs--panel .g-link__text:hover {
  border-bottom: 0.0625rem solid transparent;
}
.gwfl-linked-docs .gwfl-linked-docs--panel .g-link {
  margin-left: 0;
}
.gwfl-linked-docs .gwfl-linked-docs--panel .g-kpi-multirow-body {
  align-items: flex-start;
}
.gwfl-linked-docs .gwfl-linked-docs--panel .button-panel-top .g-buttonpanel__item {
  width: 100%;
  height: 100%;
}
.gwfl-linked-docs .gwfl-linked-docs--panel .button-panel-top .g-buttonpanel__item .g-button {
  width: 100%;
  height: 100%;
}
.gwfl-linked-docs .gwfl-linked-docs--panel .button-panel-top.statusbar .g-button__icon {
  font-size: 1.25rem;
  font-weight: bold;
}
.gwfl-linked-docs .gwfl-linked-docs--panel .button-panel-top .gbuttonpanel__items {
  height: 100%;
}
.gwfl-linked-docs .gwfl-linked-docs--panel.gbasepanel .flex-wrapper li {
  /*        padding: 0.25rem;*/
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.gwfl-linked-docs .gwfl-linked-docs--panel.gbasepanel .flex-wrapper li:hover {
  background-color: #E7EAF2;
}
