.statusbar-aktivita-class .statusbar-aktivita-class-green {
    color: #27B779;
}

.statusbar-aktivita-class .statusbar-aktivita-class-blue {
    color: dodgerblue;
}

.statusbar-aktivita-class .statusbar-aktivita-class-red {
    color: #C63C3C;
}

.Adm-panel-grid-container-title {
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

.Adm-panel-grid-container .Adm-panel-grid-table {
    margin: 1rem;
}

.Adm-panel-grid-container .Adm-panel-grid-table .Adm-panel-grid-tbody {
    display: block;
}

.Adm-panel-grid-container .Adm-panel-grid-element .Adm-panel-grid-element-separator {
    padding-right: 1rem;
}
.Adm-panel-grid-container .Adm-panel-grid-element .Adm-panel-grid-element-value{
    font-weight: bold;
}

.Adm-popis-panel-sidebar {
    margin-left: 1rem;
}

.adm-sidebar-seznam {
    padding: 0.5rem;
}
.adm-sidebar-seznam .title {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 0.5rem;
}
.adm-sidebar-seznam .label {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.adm-sidebar-seznam .value {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-weight: 700;
    position: relative;
}
.adm-sidebar-seznam.size-S .value {
    padding-left: 0.8rem;
}
.adm-sidebar-seznam.size-L .row, 
.adm-sidebar-seznam.size-M .row {
    display: flex;
    width: 100%;
}
.adm-sidebar-seznam.size-L .label,
.adm-sidebar-seznam.size-M .label {
    width: 40%;
    text-align: right;
    padding-right: 0.5rem;
}
.adm-navigator {
    padding-bottom: 0.5rem;
}
.large.adm-navigator-cnt.size-L .menu-item {
    width: 24%;
}
.adm-navigator-cnt.size-L .menu-item {
    width: 32%;
}
.adm-navigator-cnt.size-M .menu-item {
    width: 48%;
}
.adm-navigator-cnt.size-S .menu-item {
    width: 98%;
}
.adm-navigator .menu-item {
    border: none;
    background-color: #FAFAFA;
}
.adm-navigator .g-kpi-multirow {
    padding: 0.1rem;
}
.adm-navigator .menu-item .g-kpi-multirow-body-primaryText {
    font-weight: normal;
}
.adm-navigator .flex-item-content-wrapper:focus-visible {
    outline: none;
}
.adm-navigator .flex-item-toggled--visible {
    background-image: none;
}
.adm-navigator .g-kpi-multirow-body-icon {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.2rem;
}
.adm-oddelovac {
    margin: 1rem;
    border-top: #bdbaba;
    border-left: #bdbaba;
}
.header-icon {
    display: flex;
}
.header-icon .icon {
    font-size: 4rem;
    margin-top: 0rem;
    margin-left: 1rem;
}
.header-icon span {
    font-size: 1.125rem;
    margin-top: 1.75rem;
    margin-left: 1rem;
    font-weight: 800;
}
.adm-sidebar-seznam.size-L .g-badge,
.adm-sidebar-seznam.size-M .g-badge 
{
    position: initial !important; 
}
.diagnostika-item {
    padding: 0rem 1rem 1rem 1rem;
}
.diagnostika-item-not-licensed {
    padding: 0rem 1rem 1rem 1rem;
    font-weight: 700;
}
.diagnostika-item-not-licensed td {
    background-color: #6699ff33;
    padding: 0.3rem;
}
.diagnostika-item-not-exist {
    padding: 0rem 1rem 1rem 1rem;
    font-weight: 700;
}
.diagnostika-item-not-exist td {
    background-color: #d7bbed;
    padding: 0.3rem;
}
li:has(.diagnostika-item) {
    padding-right: 5rem !important;
}
.aib-konektory-header {
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: 1px solid #c6cde0;
}
.diagnostika-item tr > td:last-of-type {
    padding-left: 0.5rem;
}
.adm-no-bold {
    font-weight: 100
}
.adm-souhrn-header {
    display: flex;
    margin: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #707070;
    flex-wrap: wrap
}
.adm-souhrn-header > span {
    margin-bottom: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.adm-souhrn-item-error .g-badge,
.adm-souhrn-item-duplicita .g-badge,
.adm-souhrn-header .g-badge {
    position: relative !important;
    margin-left: 0.2rem;
}
.adm-souhrn-item,
.adm-souhrn-item-duplicita,
.adm-souhrn-item-error {
padding: 0.75rem;
align-content: center;
}
.adm-souhrn-item-error .g-badge,
.adm-souhrn-item-duplicita .g-badge,
.adm-souhrn-item .g-badge {
    position: relative !important;
    margin-right: 0.4rem;
}
.adm-souhrn-item-error td.value,
.adm-souhrn-item-duplicita td.value,
.adm-souhrn-item td.value {
display: flex;
flex-wrap: wrap;
}
li.flex-item:has(div.adm-souhrn-item-error) {
    background-color: #ff999980
}
li.flex-item:has(div.adm-souhrn-item-duplicita) {
    background-color: #3987cb80
}
.search-form-vazby .gform-row > div:has(div.gform-field) {
    width: 100% !important;
}
.search-form-vazby .gform-row__supplement {
    height: 0;
}
li.flex-item:has(div.oblibene-seznamy-item) {
    padding-right: 3.75rem !important;
}