.ctxmenu-item.item-active {
    list-style-type: disclosure-closed;
}

.ctxcontent {

}

.ctx-wrapper {
    display: flex;
    align-items: flex-start;
    flex-flow: wrap;
}

.ctxcontent .g-article-toolbar {
    display: none;
}

.ctxpotvrzeni {
    float: right;
    bottom: 2px;
    right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem; 
}

.ctxconfirm {
    font-weight: bold;
}

.ctxmenu { 
    flex-shrink: 0;
    max-width: 100%;
    background-color: #F4F6F9;
    border: 1px #C6CDE0 solid;
    margin: 0.5rem;
    padding: 0.5rem; 
}
.ctxmenu>ul, .ctxmenu>ul>.ctxmenu-item {
    list-style-type: none !important;
    padding-inline-start: 0;
}

.ctxmenu-glink {
    margin-left: 9px;
}

.ctxmenu-glink.ctxmenu-important {
    margin-left: 4px;
}

.ctxmenu-chapter {
    /*list-style-type: circle;*/
}

.ctxmenu.collapsed {
    margin-right: 100%;
}
.ctxmenu.collapsed>ul {
    display:none; 
}
.ctxcontent-wrapper {
    flex-grow: 1;
    width: 70%;
    margin: 0 0.5rem;
}

.no-separator {
    border-top: 1px solid transparent;
}

.ctxcontent-wrapper .no-separator {
    border-top: none;
}

.ctxmenu-item {
    list-style-type: circle;
}

.ctxpanel {
    width: 60px;
    float: right;
}

.ctxtitle {
    color: #1d3e8f;
    overflow: hidden;
}

.ctxcontent .pdfViewer .page {
    margin: 1px auto 8px auto !important;
    border: 0px !important;
    border-image: none !important;
}

.ctxpdf {
    padding-bottom: 20px;
}
.ctxarticle {
    padding-bottom: 20px;
}

.ctxback {
    position: sticky;
    top: 0px;
    background: #FAFAFA;
    padding: 2px;
}

.ctx-highlight {
    animation: highlight 4s ease-in;
}