<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://www.gordic.cz/shared/project-config/v_1.0.0.0">
  <Name>Gordic.Gui.Graphics</Name>
  <Description>Společná grafika pro tenké i tlusté aplikace</Description>
  <Author>Jiří Šindelka</Author>
  <Copyright>Copyright © GORDIC spol. s r. o. 1993-2007</Copyright>
  <Code>
  </Code>
  <LastExceptionCode>23900000</LastExceptionCode>
  <LastResourceCode>23920000</LastResourceCode>
  <ExceptionResourcesFileName>Exceptions</ExceptionResourcesFileName>
  <ResourcesFileName>
  </ResourcesFileName>
  <!-- Settings for Gordic XML installer -->
  <!--install>
    <customer name="X">
      <module name="GUI">
        <include name="CORE" />
        <include name="GINAL" />
        <target name="WEBSERVER">
          <assembly include="false" />
          <files>
            <include srcroot="src" srcdir="Graphics\Icons" dstdir="Gin\Graphics\Icons" regexp="\.zip$" recursive="true" />
            <include srcroot="src" srcdir="Graphics\Images\Tango" dstdir="Gin\Graphics\Images\Tango" regexp="\.bmp$|\.jpg$|\.gif$|\.png$|\.zip$" recursive="true" />
            <include srcroot="src" srcdir="Graphics\Images\Zkratky" dstdir="Gin\Graphics\Images\Zkratky" regexp="\.bmp$|\.jpg$|\.gif$|\.png$|\.zip$" recursive="true" />
          </files>
        </target>
      </module>
    </customer>
  </install-->
</Project>