<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://www.gordic.cz/shared/project-config/v_1.0.0.0">
  <Name>Gordic.General</Name>
  <Description>obecné objekty pro aplikace</Description>
  <Author>Jan Kuttich</Author>
  <Copyright>© GORDIC spol. s r. o. 1993 - 2021</Copyright>
  <Code>
  </Code>
  <Users>
    <User name="jkuttich">
      <LastExceptionCode>23200643</LastExceptionCode>
      <LastResourceCode>23230189</LastResourceCode>
    </User>
    <User name="maliger">
      <LastExceptionCode>21000123</LastExceptionCode>
      <LastResourceCode>21090090</LastResourceCode>
    </User>
    <User name="mhalik">
      <LastExceptionCode>2950014</LastExceptionCode>
      <LastResourceCode>29550011</LastResourceCode>
    </User>
    <User name="mpokorny">
      <LastExceptionCode>23300008</LastExceptionCode>
      <LastResourceCode>23320016</LastResourceCode>
    </User>
    <User name="tskala">
      <LastExceptionCode>25000002</LastExceptionCode>
      <LastResourceCode>25050002</LastResourceCode>
    </User>
    <User name="ffiala">
      <LastExceptionCode>21300108</LastExceptionCode>
      <LastResourceCode>21300072</LastResourceCode>
    </User>
    <User name="vnovotny">
      <LastExceptionCode>31400003</LastExceptionCode>
      <LastResourceCode>31400007</LastResourceCode>
    </User>
    <User name="bmartinek">
      <LastExceptionCode>31100000</LastExceptionCode>
      <LastResourceCode>31150000</LastResourceCode>
    </User>
    <User name="pprchal">
      <LastExceptionCode>24700004</LastExceptionCode>
      <LastResourceCode>24700004</LastResourceCode>
    </User>
    <User name="dsebesta">
      <LastExceptionCode>31985501</LastExceptionCode>
      <LastResourceCode>31985000</LastResourceCode>
    </User>
    <User name="vmaca">
      <LastExceptionCode>31700010</LastExceptionCode>
      <LastResourceCode>31750002</LastResourceCode>
    </User>
  </Users>
  <ResourcesFileName />
  <ExceptionResourcesFileName>Exceptions</ExceptionResourcesFileName>
  <install>
    <customer name="X">
      <module name="CORE">
        <target name="NET48">
          <assembly include="true" />
          <files>
            <include srcroot="src" srcdir="Log\NLogConfig" dstdir="." regexp="NLog_vzor.config" recursive="false" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="AngleSharp.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="AngleSharp.Css.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="BouncyCastle.*" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="DocumentFormat.OpenXml.Framework.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="DotNetZip.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Gordic.Interop.Excel.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Gordic.Interop.Office.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Gordic.Interop.VBIDE.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="HtmlSanitizer.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="IBM.Data.Informix.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.AnalysisServices.AdomdClient.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Bcl.Numerics.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Extensions.Diagnostics.Abstractions.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IO.RecyclableMemoryStream.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Web.Services3.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.WindowsAzure.Storage.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Bcl.AsyncInterfaces.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="HttpMultipartParser.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Newtonsoft.Json.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Newtonsoft.Json.Bson.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="NLog.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="NLog.DiagnosticSource.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="NLog.Targets.Syslog.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Polly.Contrib.WaitAndRetry.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Oracle.ManagedDataAccess.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Otp.NET.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="zxing.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="ScarabeusClientLib.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="nsoftware.SecureBlackbox.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Buffers.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Collections.Immutable.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Diagnostics.DiagnosticSource.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Formats.Asn1.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Memory.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Text.Json.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Text.Encoding.CodePages.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Text.Encodings.Web.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Threading.Tasks.Extensions.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Numerics.Vectors.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Numerics.Tensors.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Runtime.CompilerServices.Unsafe.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.ValueTuple.dll" />
          </files>
        </target>
        <target name="WINCLIENT">
          <assembly include="true" />
          <files>
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Identity.Client.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.Abstractions.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Office.Interop.Outlook.dll" />
          </files>
        </target>
        <target name="SYSSERVICE">
          <assembly include="true" />
          <files>
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Office.Interop.Outlook.dll" />
          </files>
        </target>
        <target name="WEBSERVER">
          <assembly include="true" />
          <files>
            <include srcroot="bin" srcdir="." dstdir="." regexp="DotNetOpenAuth.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Bcl.AsyncInterfaces.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Bcl.Memory.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Bcl.TimeProvider.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Extensions.Logging.Abstractions.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.Abstractions.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.JsonWebTokens.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.Logging.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.Tokens.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.AspNet.SessionState.SessionStateModule.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="netchartdir.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.IdentityModel.Tokens.Jwt.dll" />
          </files>
        </target>
        <target name="WEBSERVICE">
          <assembly include="true" />
        </target>
        <!-- ve vsech CORE projektech: CSA CSS CWA CWS-->
        <target name="NETCORE">
          <assembly include="true" />
          <files>
            <include srcroot="src" srcdir="Log\NLogConfig" dstdir="." regexp="NLog_vzor.config" recursive="false" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="AngleSharp.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="AngleSharp.Css.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="BouncyCastle.*" />
            <!--<include srcroot="bin" srcdir="." dstdir="." regexp="DocumentFormat.OpenXml.Framework.dll" />-->
            <!-- DotNetZip start-->
            <include srcroot="bin" srcdir="." dstdir="." regexp="DotNetZip.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Security.Permissions.dll" />
            <!-- DotNetZip end-->
            <!-- System.IdentityModel.Tokens.Jwt start-->
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.IdentityModel.Tokens.Jwt.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.Logging.Abstractions.dll" />
            <!-- System.IdentityModel.Tokens.Jwt end-->
            <!-- System.Drawing.Common start-->
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Drawing.Common.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Win32.SystemEvents.dll" />
            <!-- System.Drawing.Common end-->
            <!-- System.Configuration.ConfigurationManager start-->
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Configuration.ConfigurationManager.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Diagnostics.EventLog.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Security.Cryptography.ProtectedData.dll" />
            <!-- System.Configuration.ConfigurationManager end-->
            <!-- Microsoft.Sql.Data start -->
            <include srcroot="bin" srcdir="./runtimes/win/lib/net8.0/" dstdir="." regexp="Microsoft.Data.SqlClient.dll" />
            <include srcroot="bin" srcdir="./runtimes/win-x64/native/" dstdir="." regexp="Microsoft.Data.SqlClient.SNI.dll" />
            <!--<include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.JsonWebTokens.dll" />-->
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.Protocols.OpenIdConnect.dll" />
            <!--<include srcroot="bin" srcdir="." dstdir="." regexp="System.Security.Cryptography.Pkcs.dll" />-->
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.SqlServer.Server.dll" />
            <!-- Microsoft.Sql.Data end -->
            <include srcroot="bin" srcdir="." dstdir="." regexp="Oracle.ManagedDataAccess.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Diagnostics.PerformanceCounter.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.DirectoryServices.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Runtime.Caching.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Security.Cryptography.Pkcs.dll" />
            <!--<include srcroot="bin" srcdir="." dstdir="." regexp="Gordic.Interop.Excel.dll" />
				  <include srcroot="bin" srcdir="." dstdir="." regexp="Gordic.Interop.Office.dll" />
				  <include srcroot="bin" srcdir="." dstdir="." regexp="Gordic.Interop.VBIDE.dll" />-->
            <include srcroot="bin" srcdir="." dstdir="." regexp="HtmlSanitizer.dll" />
            <!--<include srcroot="bin" srcdir="." dstdir="." regexp="IBM.Data.Informix.dll" />-->
            <!--<include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.AnalysisServices.AdomdClient.dll" />-->
            <!--<include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Bcl.Numerics.dll" />-->
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Extensions.Diagnostics.Abstractions.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IO.RecyclableMemoryStream.dll" />
            <!--<include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.WindowsAzure.Storage.dll" />-->
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Bcl.AsyncInterfaces.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Identity.Client.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.Abstractions.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.JsonWebTokens.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.Logging.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.Tokens.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Identity.Client.Extensions.Msal.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Azure.Core.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Azure.Identity.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Extensions.*" />
            <!--je jich docela dost!?-->
            <include srcroot="bin" srcdir="." dstdir="." regexp="HttpMultipartParser.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Newtonsoft.Json.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Newtonsoft.Json.Bson.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="NLog.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="NLog.DiagnosticSource.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="NLog.Extensions.Logging.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="NLog.Targets.Syslog.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="NLog.Web.AspNetCore.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Polly.Contrib.WaitAndRetry.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Oracle.ManagedDataAccess.dll" />
            <!--<include srcroot="bin" srcdir="." dstdir="." regexp="Otp.NET.dll" />-->
            <include srcroot="bin" srcdir="." dstdir="." regexp="zxing.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="ZXing.Windows.Compatibility.dll" />
            <!--<include srcroot="bin" srcdir="." dstdir="." regexp="ScarabeusClientLib.dll" />-->
            <include srcroot="bin" srcdir="." dstdir="." regexp="nsoftware.SecureBlackbox.dll" />
          </files>
        </target>
      </module>
      <module name="DNP01">
        <target name="DNP32">
          <assembly include="true" />
          <files>
            <include srcroot="bin" srcdir="." dstdir="." regexp="AngleSharp.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="AngleSharp.Css.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="AntiXssLibrary.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="BouncyCastle.*" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="cli_basetypes.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="cli_cppuhelper.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="cli_oootypes.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="cli_ure.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="cli_uretypes.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="DocumentFormat.OpenXml.Framework.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="DotNetZip.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Gordic.Interop.Excel.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Gordic.Interop.Office.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Gordic.Interop.VBIDE.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Gordic.Interop.Word.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="HtmlSanitizer.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="IBM.Data.Informix.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="ICSharpCode.TextEditor.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.AnalysisServices.AdomdClient.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Bcl.Numerics.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Extensions.Diagnostics.Abstractions.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Identity.Client.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IdentityModel.Abstractions.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.IO.RecyclableMemoryStream.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Office.Interop.Excel.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Office.Interop.Outlook.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Office.Interop.Word.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.Web.Services3.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Microsoft.WindowsAzure.Storage.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="HttpMultipartParser.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Newtonsoft.Json.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Newtonsoft.Json.Bson.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="NLog.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="NLog.DiagnosticSource.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Oracle.ManagedDataAccess.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Otp.NET.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="zxing.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="ScarabeusClientLib.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="nsoftware.SecureBlackbox.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Buffers.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Collections.Immutable.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Diagnostics.DiagnosticSource.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Formats.Asn1.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Memory.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Text.Json.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Text.Encoding.CodePages.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Text.Encodings.Web.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Threading.Tasks.Extensions.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Numerics.Vectors.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Numerics.Tensors.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.Runtime.CompilerServices.Unsafe.dll" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="System.ValueTuple.dll" />
          </files>
        </target>
      </module>
    </customer>
  </install>
</Project>