body {
}

.mdfTable {
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
    border-spacing: 0px;
    /*display: block;*/
}

.table_wrapper {
    display: block;
    overflow-x: auto;
    min-width: 100%;
    white-space: nowrap;
    height: 100%;
}

.dimInRowsCaption {
    font-weight: bold;
    padding-left: 10px;
}

.member {
    border-radius: 5px;
    color: white;
    padding: 4px 5px 4px 5px;
    position: relative;
    margin-left: 20px;
    text-align: left;
    font-weight: normal;
}
.memberColumn {
    border-radius: 5px;
    color: white;
    padding: 4px 5px 4px 5px;
    position: relative;
    text-align: center;
    font-weight: normal;
    opacity: 0.8;
    
}



.clickable{
    cursor: pointer;
    
}
div.clickable:hover, div.clickable:active {
    opacity: 0.5;
}

.memberTh {
    padding: 0px 0px 0px 0px; 
}

.dim0 {
    background-color: darkblue; /*  #6699ff45;*/    
}
.dim1 {
    background-color: darkred; /*  #6699ff45;*/
}
.dim2 {
    background-color: darkgreen; /*  #6699ff45;*/
}
.dim3 {
    background-color: darkorange; /*  #6699ff45;*/
}
.dim4 {
    background-color: darkmagenta; /*  #6699ff45;*/
}
.dim5 {
    background-color: darkgoldenrod; /*  #6699ff45;*/
}
.dim6 {
    background-color: darkcyan; /*  #6699ff45;*/
}
.dim7 {
    background-color: saddlebrown; /*  #6699ff45;*/
}
.dim8 {
    background-color: olive; /*  #6699ff45;*/
}


.level0 {
    opacity: 1; /*  #6699ff45;*/
    margin-left: 0px;
}
.level1 {
    opacity: 0.9; /*  #6699ff45;*/
    margin-left: 20px;
}
.level2 {
    opacity: 0.8; /*  #6699ff45;*/
    margin-left: 40px;
}

.level3 {
    opacity: 0.7; /*  #6699ff45;*/
    margin-left: 60px;
}

.level4 {
    opacity: 0.6; /*  #6699ff45;*/
    margin-left: 80px;
}

.level5 {
    opacity: 0.5; /*  #6699ff45;*/
    margin-left: 100px;
}

.plusMinus {
    font-size: 12px;
    margin-top: 6px;
    margin-left: 6px;
    color: #111;
    float: left;
}

.dot {
    margin-top: 10px;
    font-size: 4px;
}

.dataCell {
    text-align: right;
    color: #222;
    font-weight: normal;
    padding-right: 10px;
    padding-left: 10px;
}

.headCell {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}


/*.ui-selected {background-color: white;}*/

/*Návrhář*/
.hierarchy {
    border-radius: 5px;
    color: white;
    padding: 4px 5px 4px 5px;
    position: relative;
    text-align: left;
    font-weight: bold;
    opacity: 0.8;
}

.gselectbox-itemc {
    padding: 0;
}

.gselectbox-item {
    padding: 1px;
}

/*komponenta*/
.word {
    /*border-radius: 5px;*/
    border: solid;
    border-width: 1px;
    background-color: #69F;
    padding: 4px 5px 4px 5px;
    position: relative;
    text-align: left;
    width: 100px;
}

.word .wordIcon {
    float: right;
    margin-top: 0;
}
         
