<?xml version="1.0" encoding="utf-8" ?>

<!-- Rychlý návod na NLog.config: https://github.com/NLog/NLog/wiki/Tutorial#configure-nlog-targets-for-output -->
<!-- Seznam logovacích úrovní NLog: https://github.com/NLog/NLog/wiki/Configuration-file#log-levels -->
<!-- Pokročilejší konfigurace NLog.config: https://github.com/NLog/NLog/wiki/Configuration-file -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="false">

	<targets>
		<target xsi:type="File" name="file1" fileName="c:\temp\Logs\logInfo.txt"
		  layout="${ixsfun} ${logporcislo} [${threadid}] ${user} ${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}"
		  archiveAboveSize="100000000" maxArchiveFiles="1" concurrentWrites="true"/>
		  <target xsi:type="File" name="file2" fileName="c:\temp\Logs\logTrace.txt"
		  layout="${ixsfun} ${logporcislo} [${threadid}] ${user} ${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString,Data}"
		  archiveAboveSize="100000000" maxArchiveFiles="1" concurrentWrites="true"/>
	<target xsi:type="File" name="file3" fileName="c:\temp\Logs\logDebug.txt"
		  layout="${ixsfun} ${logporcislo} [${threadid}] ${user} ${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString,Data}"
		  archiveAboveSize="100000000" maxArchiveFiles="1" concurrentWrites="true"/>
	</targets>
	

	<rules>
		<logger name="*" minlevel="Info" writeTo="file1"/>
		<logger name="*" minlevel="Trace" writeTo="file2"/>
		<logger name="*" minlevel="Debug" writeTo="file3"/>
	</rules>

</nlog>