
/** Schvalovací proces */

.schvalovaciProcesGridClass .epk_kpi_nevyrizeno_class {
    /*orange*/
    color: #ff7f00;
}

.schvalovaciProcesGridClass .epk_kpi_vyrizeno_class {
    /*green*/
    color: green;
}

.schvalovaciProcesGridClass .epk_kpi_zamitnuto_class {
    /*red*/
    color: red;
}

.schvalovaciProcesGridClass .epk_kpi_zruseno_class {
    /* fialova, important */
    color: #ED1E79;
}


/** KPI - historie schvalovaciho procesu (Z EPK) */

.gcontent .epk_kpi_nevyrizeno_class {
    color: #ff7f00; /*orange*/
}
.gcontent .epk_kpi_vyrizeno_class {
    color: green; /*green*/
}
.gcontent .epk_kpi_zamitnuto_class {
    color: red; /*red*/
}
.gcontent .epk_kpi_zruseno_class {
    /* fialova, important */
    color: #ED1E79;
}



#panelEpk .epk_kpi_nevyrizeno_class {
    color: #ff7f00; /*orange*/
}

#panelEpk .epk_kpi_vyrizeno_class {
    color: green; /*green*/
}

#panelEpk .epk_kpi_zamitnuto_class {
    color: red; /*red*/
}

#panelEpk .epk_kpi_zruseno_class {
    /* fialova, important */
    color: #ED1E79;
}

/** --------------------------------------------- */

.kpi-container {
    background-color: white;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    width: 13rem;
}

.kpi-container .kpi-header {
    padding-top: 0.2rem;
}

.kpi-container .kpi-body {
    display: inline-flex;
}

.kpi-container .kpi-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.kpi-container .kpi-text {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    font-weight: bold;
}

.gkpipanel .epk-kpi-item {
    overflow: hidden;
}
