body {
}

.bold {
    font-weight: bold;
}
.redText {
    color: red;
}

.darkBlueText {
    color: darkblue;
    background-color: greenyellow;
    font-weight: bold;
}

.grayTextItalic {
    color: gray;
    font-style: italic;
}
