@charset "UTF-8";
.ggridprint .header {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #E7EAF2;
  border-bottom: 3px solid #E7EAF2;
}
.ggridprint .header .row {
  position: relative;
  min-height: 1.5rem;
  background-color: rgba(231, 234, 242, 0);
}
.ggridprint .header .cell {
  display: flex;
}
.ggridprint .header .highlight {
  background-color: rgba(0, 0, 0, 0.2);
}
.ggridprint .caption {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.25rem;
  flex-grow: 1;
}
.ggridprint .caption--light {
  text-overflow: clip;
  font-size: 1rem;
}
.ggridprint .cell {
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ggridprint div.row-delimeter {
  border-bottom-color: rgb(164.9659090909, 176.0227272727, 206.0340909091);
}
.ggridprint .no-ellipsis {
  text-overflow: clip;
}
.ggridprint .no-border, .ggridprint .no-render {
  border-right: none;
}
.ggridprint .no-render {
  z-index: -1;
}
.ggridprint .editing {
  overflow: visible;
}
.ggridprint .status-errors {
  display: inline-block;
  white-space: nowrap;
}
.ggridprint .status-errors:not(:empty) {
  border-right: 1px solid #E7EAF2;
}
.ggridprint .structure-lead > i:first-of-type {
  text-align: right;
  padding-right: 0.25rem;
  width: 0.75rem;
  display: inline-block;
  font-size: 1rem;
  vertical-align: bottom;
}
.ggridprint .structure-lead > i:first-of-type:hover {
  color: #1D3E8F;
}
.ggridprint .l1 .structure-lead > i:first-of-type {
  width: 1.5rem;
}
.ggridprint .l1 .structure-lead.ui-selected::before, .ggridprint .l1 .structure-lead.ui-hover::before {
  left: 0.75rem;
}
.ggridprint .l2 .structure-lead > i:first-of-type {
  width: 2.25rem;
}
.ggridprint .l2 .structure-lead.ui-selected::before, .ggridprint .l2 .structure-lead.ui-hover::before {
  left: 1.5rem;
}
.ggridprint .l3 .structure-lead > i:first-of-type {
  width: 3rem;
}
.ggridprint .l3 .structure-lead.ui-selected::before, .ggridprint .l3 .structure-lead.ui-hover::before {
  left: 2.25rem;
}
.ggridprint .l4 .structure-lead > i:first-of-type {
  width: 3.75rem;
}
.ggridprint .l4 .structure-lead.ui-selected::before, .ggridprint .l4 .structure-lead.ui-hover::before {
  left: 3rem;
}
.ggridprint .l5 .structure-lead > i:first-of-type {
  width: 4.5rem;
}
.ggridprint .l5 .structure-lead.ui-selected::before, .ggridprint .l5 .structure-lead.ui-hover::before {
  left: 3.75rem;
}
.ggridprint .l6 .structure-lead > i:first-of-type {
  width: 5.25rem;
}
.ggridprint .l6 .structure-lead.ui-selected::before, .ggridprint .l6 .structure-lead.ui-hover::before {
  left: 4.5rem;
}
.ggridprint .l7 .structure-lead > i:first-of-type {
  width: 6rem;
}
.ggridprint .l7 .structure-lead.ui-selected::before, .ggridprint .l7 .structure-lead.ui-hover::before {
  left: 5.25rem;
}
.ggridprint .l8 .structure-lead > i:first-of-type {
  width: 6.75rem;
}
.ggridprint .l8 .structure-lead.ui-selected::before, .ggridprint .l8 .structure-lead.ui-hover::before {
  left: 6rem;
}
.ggridprint .l9 .structure-lead > i:first-of-type {
  width: 7.5rem;
}
.ggridprint .l9 .structure-lead.ui-selected::before, .ggridprint .l9 .structure-lead.ui-hover::before {
  left: 6.75rem;
}
.ggridprint .l10 .structure-lead > i:first-of-type {
  width: 8.25rem;
}
.ggridprint .l10 .structure-lead.ui-selected::before, .ggridprint .l10 .structure-lead.ui-hover::before {
  left: 7.5rem;
}
.ggridprint .l11 .structure-lead > i:first-of-type {
  width: 9rem;
}
.ggridprint .l11 .structure-lead.ui-selected::before, .ggridprint .l11 .structure-lead.ui-hover::before {
  left: 8.25rem;
}
.ggridprint .l12 .structure-lead > i:first-of-type {
  width: 9.75rem;
}
.ggridprint .l12 .structure-lead.ui-selected::before, .ggridprint .l12 .structure-lead.ui-hover::before {
  left: 9rem;
}
.ggridprint .l13 .structure-lead > i:first-of-type {
  width: 10.5rem;
}
.ggridprint .l13 .structure-lead.ui-selected::before, .ggridprint .l13 .structure-lead.ui-hover::before {
  left: 9.75rem;
}
.ggridprint .l14 .structure-lead > i:first-of-type {
  width: 11.25rem;
}
.ggridprint .l14 .structure-lead.ui-selected::before, .ggridprint .l14 .structure-lead.ui-hover::before {
  left: 10.5rem;
}
.ggridprint .l15 .structure-lead > i:first-of-type {
  width: 12rem;
}
.ggridprint .l15 .structure-lead.ui-selected::before, .ggridprint .l15 .structure-lead.ui-hover::before {
  left: 11.25rem;
}
.ggridprint .l16 .structure-lead > i:first-of-type {
  width: 12.75rem;
}
.ggridprint .l16 .structure-lead.ui-selected::before, .ggridprint .l16 .structure-lead.ui-hover::before {
  left: 12rem;
}
.ggridprint .l17 .structure-lead > i:first-of-type {
  width: 13.5rem;
}
.ggridprint .l17 .structure-lead.ui-selected::before, .ggridprint .l17 .structure-lead.ui-hover::before {
  left: 12.75rem;
}
.ggridprint .l18 .structure-lead > i:first-of-type {
  width: 14.25rem;
}
.ggridprint .l18 .structure-lead.ui-selected::before, .ggridprint .l18 .structure-lead.ui-hover::before {
  left: 13.5rem;
}
.ggridprint .l19 .structure-lead > i:first-of-type {
  width: 15rem;
}
.ggridprint .l19 .structure-lead.ui-selected::before, .ggridprint .l19 .structure-lead.ui-hover::before {
  left: 14.25rem;
}
.ggridprint .structure-lead-inactive {
  opacity: 0.35;
}
.ggridprint .row.group {
  background-color: rgba(0, 0, 0, 0.2);
}
.ggridprint .warning {
  background-color: rgba(255, 178, 102, 0.3);
}
.ggridprint .error {
  background-color: rgba(198, 60, 60, 0.3);
}
.ggridprint .marked {
  background-color: #ffffb3;
  z-index: 2;
}
.ggridprint .group-header-count {
  font-size: 0.8em;
  padding: 0 0.25rem;
}

.grid-cell-icon {
  font-size: 1rem;
}
.grid-cell-icon.gi-stack {
  line-height: 1.25rem;
  width: 1.3rem;
}
.grid-cell-icon.fa-stack {
  font-size: 0.75rem;
}

.ggridfiltervariant {
  margin-top: 0.5rem;
}

.col-ref {
  font-weight: 700;
}

.col-ref:before {
  content: "[";
}

.col-ref:after {
  content: "]";
}

.formula-text {
  font-family: monospace;
}

.formula__input .tag-parent {
  padding: 0.45rem 0;
}
.formula__input .gcontrolbox-state:first-child {
  padding-right: 0;
}

.formula__result-preview {
  padding: 0.25rem 0;
}

.formula-analysis__tree {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: auto;
  white-space: nowrap;
}
.formula-analysis__tree .formula-analysis__buttons {
  display: inline-block;
}
.formula-analysis__tree [data-type-of] {
  font-weight: 400;
  border-bottom: 1px dashed;
  cursor: help;
}
.formula-analysis__tree--result {
  padding-left: 1rem;
}
.formula-analysis__tree--result + .formula-analysis__tree--formula {
  padding-top: 0.75rem;
}
.formula-analysis__tree--result span:last-child {
  font-weight: 700;
}
.formula-analysis__tree--formula:last-child, .formula-analysis__tree--formula:last-child .gi, .formula-analysis__tree--formula:last-child .fa {
  font-weight: 700;
}
.formula-analysis__tree--result:before {
  content: "  ";
  padding-left: 1.125em;
}
.formula-analysis__tree--formula + .formula-analysis__tree--result:before {
  content: "⮡ ";
  font-weight: 700;
  padding-left: 0;
}
.formula-analysis__tree .formula-analysis__tree--formula + .formula-analysis__tree--formula {
  padding-top: 0.75rem;
}
.formula-analysis__tree .formula-analysis__tree--formula .g-state-error {
  display: inline-block;
  border-bottom: 3px double #C63C3C;
}

.formula-help__fnc-name, .formula-help__fnc-usage, .formula-help__fnc-desc, .formula-help__fnc-name:after, .formula-help__fnc-usage:after, .formula-help__icon, .formula-help__icon-name, .formula-help__icon:after, .formula-help__icon-name:after {
  vertical-align: top;
  display: inline-block;
}
.formula-help__fnc-name:after, .formula-help__fnc-usage:after, .formula-help__icon:after, .formula-help__icon-name:after {
  content: "|";
  padding: 0 0.5em;
}
.formula-help__fnc-desc, .formula-help__icon-desc {
  white-space: normal;
}
.formula-help__col-desc, .formula-help__icon-name {
  font-weight: 700;
}

/*************************************************/
.ggrid-condf__list .doubleLineInfo .iconInfo, .ggridprint .ggrid-condf__list .doubleLineInfo .iconInfo {
  max-width: 3.5rem;
}
.ggrid-condf__list .doubleLineInfo .iconInfo:not(:empty) + .mainInfo, .ggridprint .ggrid-condf__list .doubleLineInfo .iconInfo:not(:empty) + .mainInfo {
  max-width: calc(100% - 3.5rem);
}
.ggrid-condf__list .doubleLineInfo .ggrid-condf__item-template, .ggrid-condf__list .doubleLineInfo .ggridprint .ggrid-condf__item-template, .ggridprint .ggrid-condf__list .doubleLineInfo .ggrid-condf__item-template, .ggridprint .ggrid-condf__list .doubleLineInfo .ggridprint .ggrid-condf__item-template {
  display: inline-block;
  margin: 0 0.5rem 0 0;
}
.ggrid-condf__list .singleLineInfo .ggrid-condf__item-template, .ggrid-condf__list .singleLineInfo .ggridprint .ggrid-condf__item-template, .ggridprint .ggrid-condf__list .singleLineInfo .ggrid-condf__item-template, .ggridprint .ggrid-condf__list .singleLineInfo .ggridprint .ggrid-condf__item-template {
  vertical-align: middle;
  display: inline-block;
  margin: 0 0.25rem 0 0.25rem;
}
.ggrid-condf__list .singleLineInfo .ggrid-condf__main-info, .ggrid-condf__list .singleLineInfo .ggridprint .ggrid-condf__main-info, .ggridprint .ggrid-condf__list .singleLineInfo .ggrid-condf__main-info, .ggridprint .ggrid-condf__list .singleLineInfo .ggridprint .ggrid-condf__main-info {
  width: calc(100% - 3rem);
}
.ggrid-condf__list .ggrid-condf__main-info, .ggrid-condf__list .ggridprint .ggrid-condf__main-info, .ggridprint .ggrid-condf__list .ggrid-condf__main-info, .ggridprint .ggrid-condf__list .ggridprint .ggrid-condf__main-info {
  display: inline-flex;
  flex: 0 1 auto;
  width: 100%;
  flex-wrap: wrap;
}
.ggrid-condf__list .formula-text, .ggridprint .ggrid-condf__list .formula-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ggrid-condf__list .ggrid-condf__column-list, .ggrid-condf__list .ggridprint .ggrid-condf__column-list, .ggridprint .ggrid-condf__list .ggrid-condf__column-list, .ggridprint .ggrid-condf__list .ggridprint .ggrid-condf__column-list {
  display: inline-block;
  white-space: pre-wrap;
}
.ggrid-condf__list .ggrid-condf__column-list .g-badge, .ggrid-condf__list .ggridprint .ggrid-condf__column-list .g-badge, .ggridprint .ggrid-condf__list .ggrid-condf__column-list .g-badge, .ggridprint .ggrid-condf__list .ggridprint .ggrid-condf__column-list .g-badge {
  position: static;
  display: inline-block;
  margin: 0 0.15rem 0.15rem 0;
}
.ggrid-condf__list .formula-text, .ggridprint .ggrid-condf__list .formula-text {
  margin: 0 0.5rem 0.15rem 0;
}
.ggrid-condf__item-template, .ggridprint .ggrid-condf__item-template {
  padding: 0 0.25rem;
  border: 1px solid #C6CDE0;
}
.ggrid-condf-bg, .ggridprint .ggrid-condf-bg {
  /*        &-lighgray {
      background-color: rgb(237,237,237);
  }

  &-gray {
      background-color: rgb(219,219,219);
  }

  &-darkgray {
      background-color: rgb(201,201,201);
  }

  &-lightred {
      background-color: rgb(255, 204, 204);
  }

  &-red {
      background-color: rgb(255, 153, 153);
  }

  &-darkred {
      background-color: rgb(255, 101, 101);
  }

  &-lightyellow {
      background-color: rgb(255,242,204);
  }

  &-yellow {
      background-color: rgb(254,229,153);
  }

  &-darkyellow {
      background-color: rgb(255,217,101);
  }

  &-lightgreen {
      background-color: rgb(226,239,217);
  }

  &-green {
      background-color: rgb(197,224,179);
  }

  &-darkgreen {
      background-color: rgb(168,208,141)
  }

  &-lightblue {
      background-color: rgb(222,235,246);
  }

  &-blue {
      background-color: rgb(189,215,238);
  }

  &-darkblue {
      background-color: rgb(156,195,229);
  }

  &-lightorange {
      background-color: rgb(251,229,213);
  }

  &-orange {
      background-color: rgb(247,203,172);
  }

  &-darkorange {
      background-color: rgb(244,177,131);
  }

  &-lightpurple {
      background-color: rgb(235,221,246)
  }

  &-purple {
      background-color: rgb(215,187,237);
  }

  &-darkpurple {
      background-color: rgb(195,154,228);
  }*/
}
.ggrid-condf-bg-black, .ggridprint .ggrid-condf-bg-black {
  background-color: rgba(0, 0, 0, 0.65);
}
.ggrid-condf-bg-white, .ggridprint .ggrid-condf-bg-white {
  background-color: rgba(255, 255, 255, 0.65);
}
.ggrid-condf-bg-lightgray, .ggridprint .ggrid-condf-bg-lightgray {
  background-color: rgba(229, 229, 229, 0.5);
}
.ggrid-condf-bg-gray, .ggridprint .ggrid-condf-bg-gray {
  background-color: rgba(177, 177, 177, 0.5);
}
.ggrid-condf-bg-darkgray, .ggridprint .ggrid-condf-bg-darkgray {
  background-color: rgba(127, 127, 127, 0.5);
}
.ggrid-condf-bg-lightred, .ggridprint .ggrid-condf-bg-lightred {
  background-color: rgba(255, 153, 153, 0.5);
}
.ggrid-condf-bg-red, .ggridprint .ggrid-condf-bg-red {
  background-color: rgba(255, 51, 51, 0.5);
}
.ggrid-condf-bg-darkred, .ggridprint .ggrid-condf-bg-darkred {
  background-color: rgba(255, 0, 0, 0.5);
}
.ggrid-condf-bg-lightyellow, .ggridprint .ggrid-condf-bg-lightyellow {
  background-color: rgba(255, 229, 153, 0.5);
}
.ggrid-condf-bg-yellow, .ggridprint .ggrid-condf-bg-yellow {
  background-color: rgba(253, 203, 51, 0.5);
}
.ggrid-condf-bg-darkyellow, .ggridprint .ggrid-condf-bg-darkyellow {
  background-color: rgba(255, 179, 0, 0.5);
}
.ggrid-condf-bg-lightgreen, .ggridprint .ggrid-condf-bg-lightgreen {
  background-color: rgba(197, 223, 179, 0.5);
}
.ggrid-condf-bg-green, .ggridprint .ggrid-condf-bg-green {
  background-color: rgba(139, 193, 103, 0.5);
}
.ggrid-condf-bg-darkgreen, .ggridprint .ggrid-condf-bg-darkgreen {
  background-color: rgba(81, 161, 27, 0.5);
}
.ggrid-condf-bg-lightblue, .ggridprint .ggrid-condf-bg-lightblue {
  background-color: rgba(189, 215, 237, 0.5);
}
.ggrid-condf-bg-blue, .ggridprint .ggrid-condf-bg-blue {
  background-color: rgba(123, 175, 221, 0.5);
}
.ggrid-condf-bg-darkblue, .ggridprint .ggrid-condf-bg-darkblue {
  background-color: rgba(57, 135, 203, 0.5);
}
.ggrid-condf-bg-lightorange, .ggridprint .ggrid-condf-bg-lightorange {
  background-color: rgba(247, 203, 171, 0.5);
}
.ggrid-condf-bg-orange, .ggridprint .ggrid-condf-bg-orange {
  background-color: rgba(239, 151, 89, 0.5);
}
.ggrid-condf-bg-darkorange, .ggridprint .ggrid-condf-bg-darkorange {
  background-color: rgba(233, 99, 7, 0.5);
}
.ggrid-condf-bg-lightpurple, .ggridprint .ggrid-condf-bg-lightpurple {
  background-color: rgba(215, 187, 237, 0.5);
}
.ggrid-condf-bg-purple, .ggridprint .ggrid-condf-bg-purple {
  background-color: rgba(175, 119, 219, 0.5);
}
.ggrid-condf-bg-darkpurple, .ggridprint .ggrid-condf-bg-darkpurple {
  background-color: rgba(135, 53, 201, 0.5);
}
.ggrid-condf-text-black, .ggridprint .ggrid-condf-text-black {
  color: black;
}
.ggrid-condf-text-white, .ggridprint .ggrid-condf-text-white {
  color: white;
}
.ggrid-condf-text-gray, .ggridprint .ggrid-condf-text-gray {
  color: #707070;
}
.ggrid-condf-text-red, .ggridprint .ggrid-condf-text-red {
  color: rgb(225, 0, 0);
}
.ggrid-condf-text-yellow, .ggridprint .ggrid-condf-text-yellow {
  color: rgb(255, 191, 0);
}
.ggrid-condf-text-green, .ggridprint .ggrid-condf-text-green {
  color: rgb(112, 173, 71);
}
.ggrid-condf-text-blue, .ggridprint .ggrid-condf-text-blue {
  color: rgb(91, 155, 213);
}
.ggrid-condf-text-orange, .ggridprint .ggrid-condf-text-orange {
  color: rgb(237, 125, 49);
}
.ggrid-condf-text-purple, .ggridprint .ggrid-condf-text-purple {
  color: rgb(155, 87, 211);
}
.ggrid-condf-style-bold, .ggrid-condf-style-bold .gi, .ggrid-condf-style-bold .fa, .ggridprint .ggrid-condf-style-bold, .ggridprint .ggrid-condf-style-bold .gi, .ggridprint .ggrid-condf-style-bold .fa {
  font-weight: 700;
}
.ggrid-condf-style-italic, .ggridprint .ggrid-condf-style-italic {
  font-style: italic;
}
.ggrid-condf-style-underline, .ggridprint .ggrid-condf-style-underline {
  text-decoration: underline;
}
.ggrid-condf-style-linethrough, .ggridprint .ggrid-condf-style-linethrough {
  text-decoration: line-through;
}

.gcolorpickerpanel_cnt .gcolorpickerpanel_item {
  margin: 0.25rem;
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 2.5rem;
}

.gcolorpicker .gcolorpicker__parent.gcolorpicker__parent_clicked {
  cursor: pointer;
}

.gcolorpicker .gcolorpicker__parent.gcolorpicker__parent_clicked:hover {
  opacity: 0.3;
}

.gcolorpicker_empty {
  color: white;
}

.gcolorpicker__inlinedialog .item_text.gcolorpicker_empty {
  color: black;
}

.gcolorpicker__text.gcolorpicker_empty {
  color: black;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_notmarked {
  color: lightgray;
}

.gcolorpicker_notmarked {
  color: lightgray;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_gray {
  color: lightgray;
}

.gcolorpicker_gray {
  color: lightgray;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_white {
  color: white;
}

.gcolorpicker_white {
  color: white;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_red {
  color: #e1001e;
}

.gcolorpicker_red {
  color: #e1001e;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_green {
  color: #3cb44b;
}

.gcolorpicker_green {
  color: #3cb44b;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_blue {
  color: #00d7ff;
}

.gcolorpicker_blue {
  color: #00d7ff;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_purple {
  color: #aa00be;
}

.gcolorpicker_purple {
  color: #aa00be;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_yellow {
  color: #ffeb19;
}

.gcolorpicker_yellow {
  color: #ffeb19;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.gcolorpicker__inlinedialog .item_text.gcolorpicker_notmarked {
  color: black;
}

.gcolorpicker__text.gcolorpicker_notmarked {
  color: black;
}

.gcolorpicker .gcolorpicker__parent .gcolorpicker__text.with_icon {
  padding: 0px 10px;
}

.gcolorpicker .gcolorpicker__child {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 1rem;
}

.gcolorpicker__inlinedialog {
  overflow: hidden;
}

.gcolorpicker__inlinedialog.inlinepicker__text {
  margin: 0.5rem;
}

.gcolorpicker__inlinedialog.inlinepicker__text .item_text {
  margin-bottom: 0.1rem;
}

.gcolorpicker__inlinedialog.inlinepicker__text .item_text:hover {
  opacity: 0.3;
}

.gcolorpicker__inlinedialog .item {
  cursor: pointer;
}

.gcolorpicker__inlinedialog .item_icon {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin: 0.2rem;
  position: relative;
  font-size: 1.4rem;
}

.gcolorpicker__inlinedialog .item_icon:hover {
  opacity: 0.3;
}

.gform .gform-field.gcolorpickerfield .gcolorpicker__parent {
  position: relative;
  top: 6px;
  float: left;
}

.statusbar .gcolorpicker {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.pr {
  position: relative;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.spaced {
  min-width: 1.25rem;
  padding: 0 0.5rem;
}

.hidden {
  display: none !important;
}

.hidden-block {
  visibility: hidden !important;
}

.focusdummy {
  width: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
}

.data-deleted {
  color: rgb(123.25, 123.25, 123.25);
  font-style: italic;
}

.data-new {
  font-weight: bold;
}

.detail-header, .ui-dialog-content.detail-header {
  padding: 0.5rem;
  overflow: auto;
  display: block;
  background: #F4F6F9;
}

.detail-content, .ui-dialog-content.detail-content {
  padding: 0.5rem;
  overflow: auto;
  display: block;
}

.detail-grid, .ui-dialog-content.detail-grid {
  overflow: auto;
  display: block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   not supported by any browser */
}

.textselect {
  -webkit-user-select: text; /* Chrome/Safari/Opera */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text; /* Non-prefixed version, currently
   not supported by any browser */
}

div.gcontent:empty {
  display: none;
}

.g-drag-handle-s {
  display: block;
  position: relative;
  margin: auto;
  top: -4px;
}

/* mCustomScrollbar */
.mCSB_inside > .mCSB_container {
  margin-right: 0;
}

/* mCustomScorllbarDetail */
.mCS-gor-dark-theme.mCSB_scrollTools {
  width: 8px;
}

.mCS-gor-dark-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  background-color: #e7eaf2;
  opacity: 1;
}

.mCS-gor-dark-theme.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.mCS-gor-dark-theme.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #0d1732;
  opacity: 0.85;
}

.mCS-gor-dark-theme.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-gor-dark-theme.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #0d1732;
  opacity: 1;
}

.gi {
  display: inline-block;
}

.gi-rot90 {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.gi-rot180 {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.gi-rot270 {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.gi-rotX180 {
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.gi-rotY180 {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.icon-with-text {
  padding-right: 0.25rem;
}

.gi-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.gi-stack-bg,
.gi-stack-fw {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.gi-stack-bg {
  font-size: 1em;
  line-height: inherit;
}

.gi-stack-fw {
  font-size: 0.75em;
  line-height: inherit;
}
.gi-stack-fw.gi-stack-fw-full {
  font-size: 1em;
}

.gi-bgw:not(.g-state-text) {
  color: #333;
}

.gi-bgw::before,
.gi-bgw--rect::before {
  background-color: #FAFAFA;
}

.gi-bgw::before {
  border-radius: 50%;
}

.gi-stack-pos--rb {
  top: 0.5em;
  left: 0.5em;
}

.gi-stack-pos--rt {
  top: -0.25em;
  left: 0.5em;
}

.gi-stack-pos--lb {
  top: 0.5em;
  left: -0.5em;
}

.gi-stack-pos--lt {
  top: -0.25em;
  left: -0.5em;
}

.g-state-info {
  /*@media (prefers-color-scheme: dark) {
      [class*='g-state-'] &.g-state-transbackground, &.g-state-transbackground, [class*='g-state-'] & .g-state-transbackground, & .g-state-transbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-lightbackground, &.g-state-lightbackground, [class*='g-state-'] & .g-state-lightbackground, & .g-state-lightbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-background, &.g-state-background, [class*='g-state-'] & .g-state-background, & .g-state-background {
          border-color: $maincolor;
      }
  }*/
}
[class*=g-state-] .g-state-info.g-state-transbackground, .g-state-info.g-state-transbackground, [class*=g-state-] .g-state-info .g-state-transbackground, .g-state-info .g-state-transbackground {
  background-color: rgba(102, 153, 255, 0.2);
  border-color: rgb(190.8, 211.2, 252);
}
[class*=g-state-] .g-state-info.g-state-lightbackground, .g-state-info.g-state-lightbackground, [class*=g-state-] .g-state-info .g-state-lightbackground, .g-state-info .g-state-lightbackground {
  background-color: rgb(190.8, 211.2, 252);
  border-color: rgb(190.8, 211.2, 252);
}
[class*=g-state-] .g-state-info.g-state-background, .g-state-info.g-state-background, [class*=g-state-] .g-state-info .g-state-background, .g-state-info .g-state-background {
  background-color: #6699FF;
  border-color: rgb(190.8, 211.2, 252);
  color: #FAFAFA;
}
[class*=g-state-] .g-state-info.g-state-text, .g-state-info.g-state-text, [class*=g-state-] .g-state-info .g-state-text, .g-state-info .g-state-text, [class*=g-state-] .g-state-text .g-state-info, .g-state-text .g-state-info {
  color: #6699FF;
}

.g-state-warning {
  /*@media (prefers-color-scheme: dark) {
      [class*='g-state-'] &.g-state-transbackground, &.g-state-transbackground, [class*='g-state-'] & .g-state-transbackground, & .g-state-transbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-lightbackground, &.g-state-lightbackground, [class*='g-state-'] & .g-state-lightbackground, & .g-state-lightbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-background, &.g-state-background, [class*='g-state-'] & .g-state-background, & .g-state-background {
          border-color: $maincolor;
      }
  }*/
}
[class*=g-state-] .g-state-warning.g-state-transbackground, .g-state-warning.g-state-transbackground, [class*=g-state-] .g-state-warning .g-state-transbackground, .g-state-warning .g-state-transbackground {
  background-color: rgba(255, 178, 102, 0.2);
  border-color: rgb(252, 221.2, 190.8);
}
[class*=g-state-] .g-state-warning.g-state-lightbackground, .g-state-warning.g-state-lightbackground, [class*=g-state-] .g-state-warning .g-state-lightbackground, .g-state-warning .g-state-lightbackground {
  background-color: rgb(252, 221.2, 190.8);
  border-color: rgb(252, 221.2, 190.8);
}
[class*=g-state-] .g-state-warning.g-state-background, .g-state-warning.g-state-background, [class*=g-state-] .g-state-warning .g-state-background, .g-state-warning .g-state-background {
  background-color: #FFB266;
  border-color: rgb(252, 221.2, 190.8);
  color: #FAFAFA;
}
[class*=g-state-] .g-state-warning.g-state-text, .g-state-warning.g-state-text, [class*=g-state-] .g-state-warning .g-state-text, .g-state-warning .g-state-text, [class*=g-state-] .g-state-text .g-state-warning, .g-state-text .g-state-warning {
  color: #FFB266;
}

.g-state-success {
  /*@media (prefers-color-scheme: dark) {
      [class*='g-state-'] &.g-state-transbackground, &.g-state-transbackground, [class*='g-state-'] & .g-state-transbackground, & .g-state-transbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-lightbackground, &.g-state-lightbackground, [class*='g-state-'] & .g-state-lightbackground, & .g-state-lightbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-background, &.g-state-background, [class*='g-state-'] & .g-state-background, & .g-state-background {
          border-color: $maincolor;
      }
  }*/
}
[class*=g-state-] .g-state-success.g-state-transbackground, .g-state-success.g-state-transbackground, [class*=g-state-] .g-state-success .g-state-transbackground, .g-state-success .g-state-transbackground {
  background-color: rgba(39, 183, 121, 0.2);
  border-color: rgb(165.6, 223.2, 198.4);
}
[class*=g-state-] .g-state-success.g-state-lightbackground, .g-state-success.g-state-lightbackground, [class*=g-state-] .g-state-success .g-state-lightbackground, .g-state-success .g-state-lightbackground {
  background-color: rgb(165.6, 223.2, 198.4);
  border-color: rgb(165.6, 223.2, 198.4);
}
[class*=g-state-] .g-state-success.g-state-background, .g-state-success.g-state-background, [class*=g-state-] .g-state-success .g-state-background, .g-state-success .g-state-background {
  background-color: #27B779;
  border-color: rgb(165.6, 223.2, 198.4);
  color: #FAFAFA;
}
[class*=g-state-] .g-state-success.g-state-text, .g-state-success.g-state-text, [class*=g-state-] .g-state-success .g-state-text, .g-state-success .g-state-text, [class*=g-state-] .g-state-text .g-state-success, .g-state-text .g-state-success {
  color: #27B779;
}

.g-state-error {
  /*@media (prefers-color-scheme: dark) {
      [class*='g-state-'] &.g-state-transbackground, &.g-state-transbackground, [class*='g-state-'] & .g-state-transbackground, & .g-state-transbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-lightbackground, &.g-state-lightbackground, [class*='g-state-'] & .g-state-lightbackground, & .g-state-lightbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-background, &.g-state-background, [class*='g-state-'] & .g-state-background, & .g-state-background {
          border-color: $maincolor;
      }
  }*/
}
[class*=g-state-] .g-state-error.g-state-transbackground, .g-state-error.g-state-transbackground, [class*=g-state-] .g-state-error .g-state-transbackground, .g-state-error .g-state-transbackground {
  background-color: rgba(198, 60, 60, 0.2);
  border-color: rgb(229.2, 174, 174);
}
[class*=g-state-] .g-state-error.g-state-lightbackground, .g-state-error.g-state-lightbackground, [class*=g-state-] .g-state-error .g-state-lightbackground, .g-state-error .g-state-lightbackground {
  background-color: rgb(229.2, 174, 174);
  border-color: rgb(229.2, 174, 174);
}
[class*=g-state-] .g-state-error.g-state-background, .g-state-error.g-state-background, [class*=g-state-] .g-state-error .g-state-background, .g-state-error .g-state-background {
  background-color: #C63C3C;
  border-color: rgb(229.2, 174, 174);
  color: #FAFAFA;
}
[class*=g-state-] .g-state-error.g-state-text, .g-state-error.g-state-text, [class*=g-state-] .g-state-error .g-state-text, .g-state-error .g-state-text, [class*=g-state-] .g-state-text .g-state-error, .g-state-text .g-state-error {
  color: #C63C3C;
}

.g-state-important {
  /*@media (prefers-color-scheme: dark) {
      [class*='g-state-'] &.g-state-transbackground, &.g-state-transbackground, [class*='g-state-'] & .g-state-transbackground, & .g-state-transbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-lightbackground, &.g-state-lightbackground, [class*='g-state-'] & .g-state-lightbackground, & .g-state-lightbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-background, &.g-state-background, [class*='g-state-'] & .g-state-background, & .g-state-background {
          border-color: $maincolor;
      }
  }*/
}
[class*=g-state-] .g-state-important.g-state-transbackground, .g-state-important.g-state-transbackground, [class*=g-state-] .g-state-important .g-state-transbackground, .g-state-important .g-state-transbackground {
  background-color: rgba(237, 30, 121, 0.2);
  border-color: rgb(244.8, 162, 198.4);
}
[class*=g-state-] .g-state-important.g-state-lightbackground, .g-state-important.g-state-lightbackground, [class*=g-state-] .g-state-important .g-state-lightbackground, .g-state-important .g-state-lightbackground {
  background-color: rgb(244.8, 162, 198.4);
  border-color: rgb(244.8, 162, 198.4);
}
[class*=g-state-] .g-state-important.g-state-background, .g-state-important.g-state-background, [class*=g-state-] .g-state-important .g-state-background, .g-state-important .g-state-background {
  background-color: #ED1E79;
  border-color: rgb(244.8, 162, 198.4);
  color: #FAFAFA;
}
[class*=g-state-] .g-state-important.g-state-text, .g-state-important.g-state-text, [class*=g-state-] .g-state-important .g-state-text, .g-state-important .g-state-text, [class*=g-state-] .g-state-text .g-state-important, .g-state-text .g-state-important {
  color: #ED1E79;
}

.g-state-active {
  /*@media (prefers-color-scheme: dark) {
      [class*='g-state-'] &.g-state-transbackground, &.g-state-transbackground, [class*='g-state-'] & .g-state-transbackground, & .g-state-transbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-lightbackground, &.g-state-lightbackground, [class*='g-state-'] & .g-state-lightbackground, & .g-state-lightbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-background, &.g-state-background, [class*='g-state-'] & .g-state-background, & .g-state-background {
          border-color: $maincolor;
      }
  }*/
}
[class*=g-state-] .g-state-active.g-state-transbackground, .g-state-active.g-state-transbackground, [class*=g-state-] .g-state-active .g-state-transbackground, .g-state-active .g-state-transbackground {
  background-color: rgba(38, 80, 185, 0.2);
  border-color: rgb(165.2, 182, 224);
}
[class*=g-state-] .g-state-active.g-state-lightbackground, .g-state-active.g-state-lightbackground, [class*=g-state-] .g-state-active .g-state-lightbackground, .g-state-active .g-state-lightbackground {
  background-color: rgb(165.2, 182, 224);
  border-color: rgb(165.2, 182, 224);
}
[class*=g-state-] .g-state-active.g-state-background, .g-state-active.g-state-background, [class*=g-state-] .g-state-active .g-state-background, .g-state-active .g-state-background {
  background-color: #2650b9;
  border-color: rgb(165.2, 182, 224);
  color: #FAFAFA;
}
[class*=g-state-] .g-state-active.g-state-text, .g-state-active.g-state-text, [class*=g-state-] .g-state-active .g-state-text, .g-state-active .g-state-text, [class*=g-state-] .g-state-text .g-state-active, .g-state-text .g-state-active {
  color: #2650b9;
}

.g-state-inactive {
  /*@media (prefers-color-scheme: dark) {
      [class*='g-state-'] &.g-state-transbackground, &.g-state-transbackground, [class*='g-state-'] & .g-state-transbackground, & .g-state-transbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-lightbackground, &.g-state-lightbackground, [class*='g-state-'] & .g-state-lightbackground, & .g-state-lightbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-background, &.g-state-background, [class*='g-state-'] & .g-state-background, & .g-state-background {
          border-color: $maincolor;
      }
  }*/
}
[class*=g-state-] .g-state-inactive.g-state-transbackground, .g-state-inactive.g-state-transbackground, [class*=g-state-] .g-state-inactive .g-state-transbackground, .g-state-inactive .g-state-transbackground {
  background-color: rgba(198, 205, 224, 0.2);
  border-color: rgb(229.2, 232, 239.6);
}
[class*=g-state-] .g-state-inactive.g-state-lightbackground, .g-state-inactive.g-state-lightbackground, [class*=g-state-] .g-state-inactive .g-state-lightbackground, .g-state-inactive .g-state-lightbackground {
  background-color: rgb(229.2, 232, 239.6);
  border-color: rgb(229.2, 232, 239.6);
}
[class*=g-state-] .g-state-inactive.g-state-background, .g-state-inactive.g-state-background, [class*=g-state-] .g-state-inactive .g-state-background, .g-state-inactive .g-state-background {
  background-color: #C6CDE0;
  border-color: rgb(229.2, 232, 239.6);
  color: #FAFAFA;
}
[class*=g-state-] .g-state-inactive.g-state-text, .g-state-inactive.g-state-text, [class*=g-state-] .g-state-inactive .g-state-text, .g-state-inactive .g-state-text, [class*=g-state-] .g-state-text .g-state-inactive, .g-state-text .g-state-inactive {
  color: #C6CDE0;
}

.g-state-favorite {
  /*@media (prefers-color-scheme: dark) {
      [class*='g-state-'] &.g-state-transbackground, &.g-state-transbackground, [class*='g-state-'] & .g-state-transbackground, & .g-state-transbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-lightbackground, &.g-state-lightbackground, [class*='g-state-'] & .g-state-lightbackground, & .g-state-lightbackground {
          border-color: $maincolor;
      }

      [class*='g-state-'] &.g-state-background, &.g-state-background, [class*='g-state-'] & .g-state-background, & .g-state-background {
          border-color: $maincolor;
      }
  }*/
}
[class*=g-state-] .g-state-favorite.g-state-transbackground, .g-state-favorite.g-state-transbackground, [class*=g-state-] .g-state-favorite .g-state-transbackground, .g-state-favorite .g-state-transbackground {
  background-color: rgba(254, 182, 59, 0.2);
  border-color: rgb(251.6, 222.8, 173.6);
}
[class*=g-state-] .g-state-favorite.g-state-lightbackground, .g-state-favorite.g-state-lightbackground, [class*=g-state-] .g-state-favorite .g-state-lightbackground, .g-state-favorite .g-state-lightbackground {
  background-color: rgb(251.6, 222.8, 173.6);
  border-color: rgb(251.6, 222.8, 173.6);
}
[class*=g-state-] .g-state-favorite.g-state-background, .g-state-favorite.g-state-background, [class*=g-state-] .g-state-favorite .g-state-background, .g-state-favorite .g-state-background {
  background-color: #feb63b;
  border-color: rgb(251.6, 222.8, 173.6);
  color: #FAFAFA;
}
[class*=g-state-] .g-state-favorite.g-state-text, .g-state-favorite.g-state-text, [class*=g-state-] .g-state-favorite .g-state-text, .g-state-favorite .g-state-text, [class*=g-state-] .g-state-text .g-state-favorite, .g-state-text .g-state-favorite {
  color: #feb63b;
}

.g-marker-inactive::after, .g-marker-important::after, .g-marker-success::after, .g-marker-warning::after, .g-marker-error::after, .g-marker-info::after, .g-marker::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0.25rem;
}

.g-marker {
  position: relative;
}

.g-marker::after {
  border-right-color: #1D3E8F;
  border-top-color: #1D3E8F;
}

.g-marker-info {
  position: relative;
}

.g-marker-info::after {
  border-right-color: #6699FF;
  border-top-color: #6699FF;
}

.g-marker-error {
  position: relative;
}

.g-marker-error::after {
  border-right-color: #C63C3C;
  border-top-color: #C63C3C;
}

.g-marker-warning {
  position: relative;
}

.g-marker-warning::after {
  border-right-color: #FFB266;
  border-top-color: #FFB266;
}

.g-marker-success {
  position: relative;
}

.g-marker-success::after {
  border-right-color: #27B779;
  border-top-color: #27B779;
}

.g-marker-important {
  position: relative;
}

.g-marker-important::after {
  border-right-color: #ED1E79;
  border-top-color: #ED1E79;
}

.g-marker-inactive {
  position: relative;
}

.g-marker-inactive::after {
  border-right-color: #C6CDE0;
  border-top-color: #C6CDE0;
}

.card {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid gray;
  margin: 10px;
}
.card h3 {
  padding-left: 5px;
}
.card div:first-of-type {
  display: block;
  text-align: center;
}
.card div:last-of-type {
  padding: 5px;
  line-height: 1.5em;
  overflow: hidden;
}
.card img {
  border: 0px none;
  width: 200px;
}

.inline-shadow {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
}

.gmaximize-active {
  background-color: #FAFAFA;
  position: fixed;
  top: 3rem !important;
  height: calc(100% - 3rem) !important;
  left: 0 !important;
  width: 100% !important;
}

.gmarkdown blockquote {
  padding: 0.5rem 1rem;
  margin: 0 0 1rem;
  border-left: 5px solid #C6CDE0;
}
.gmarkdown code {
  background-color: #E7EAF2;
  border: 1px solid #C6CDE0;
}
.gmarkdown pre {
  display: block;
  padding: 0.5rem;
  margin: 0 0 0.5rem;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #E7EAF2;
  border: 1px solid #C6CDE0;
}
.gmarkdown pre code {
  background-color: inherit;
  border: 0;
}
.gmarkdown table {
  width: 100%;
  max-width: 100%;
  border: 1px solid #C6CDE0;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
.gmarkdown table thead th,
.gmarkdown table tfoot th {
  background-color: #E7EAF2;
}
.gmarkdown table caption {
  padding: 0.5rem;
}
.gmarkdown table th,
.gmarkdown table td {
  padding: 0.5rem;
  border: 1px solid #C6CDE0;
}
.gmarkdown hr {
  border: 0;
  border-top: 1px solid #C6CDE0;
}
.gmarkdown img {
  max-width: 100%;
}
