/* gordic_pid */

@font-face {
    font-family: 'Gordic_PID';
    font-style: normal;
    font-weight: 400;
    src: local('Gordic_PID'), local('Gordic_PID'), url('../fonts/Gordic_PID.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Gordic_PID.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Gordic_PID.ttf') format('truetype'), /* Safari, Android, iOS */
}