


.gselectbox-item .word {
    /*border-radius: 5px;*/
    border: solid;
    border-width: 1px;
    border-color: #ddd;
    background-color: #69F;
    padding: 4px 5px 4px 5px;
    /*margin: -2px -4px -2px -4px;*/
    margin-left: -2px;
    margin-right: -2px;
    position: relative;
    text-align: left;  
    height: 32px;
    
}

.w-100 {
    width: 100px;
}

.w-min-100 {
    min-width: 100px;
}

.word .wordIcon {
    float: right;
    margin-top: 0;
}




.reportTable {
    text-align: center;
    font-weight: bold;
    /*width: 95%;*/
    color: gray;
    /*border-collapse: collapse;*/
}

.reportIgnoredWord {
    opacity: 0.5;
}

.reportRowHeader {
    text-align: right;
    font-weight: bold;
}

.reportCell {
    text-align: center;
    border: 1px solid gray;
    font-weight: bold;
    background-color: lightgray;
    width: 40px;
    padding: 2px 5px 2px 5px;
    
}

.filledReportCell {
    background-color: cornflowerblue;
    color: white;
}

.blindReportCell {
    border: 1px solid lightgray;
    background-color: white;
}

