/*
** CSS RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
** CLEARFIX
*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

html, body{
  font-family: 'Noto Sans', 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 400;
}

.page{
	width: 550px;
	background: #fff;
	margin: 0 auto;
}

.modulHeader {
    vertical-align: text-bottom;
    margin-bottom: 30px;
    height: 49px;
    margin-top: 22px;
}

.modulHeader img {
    float: left;
    max-height: 49px;
    max-width: 49px;
}

h1 {
    left: 29px;
    top: 15px;
    position: relative;
	font-weight: 700;
    font-size: 24px;
    line-height: 1.2em;
}

.perex {
    color: #3D485F;
    padding-bottom: 30px;
    font-weight: 700;
}

.vyhodyBlokLeft {
    float: left;
    width: 250px;
}

.vyhoda {
    background: url('check.png') no-repeat scroll left top transparent;
    padding: 0px 15px 25px 35px;
    color: #3D485F;
}

.galleryRight {
    float: right;
    width: 250px;
}

.galleryRight img{
	max-width: 250px;
}

.galleryRight .showGallery {
    display: block;
    width: 246px;
    margin: 0px auto;
    height: 41px;
    background-image: url('galleryButton.png');
    background-position: 0px 0px;
    cursor: pointer;
}

.galleryRight .showGallery:hover{
  background-position: 0px -41px;
}

.desc {
    color: #3D485F;
    padding-bottom: 45px;
    line-height: 18px;
}

h2 {
    padding-bottom: 15px;
    font-weight: 700;
    padding-top: 5px;
    font-size: 16px;
    line-height: 1.5em;
}

.edice {
	border: 1px solid #a5aebc;
	border-radius: 4px;
	margin-bottom: 10px;
}

.edice .ediceHeader {
	padding: 7px 15px;
	border: 1px solid #a5aebc;
	background-color: #f0f2f4;
	border-radius: 4px;
	margin: -1px;
	position: relative;
	cursor: pointer;
}

.edice .ediceHeader .buttonSlide {
	width: 13px;
	height: 7px;
	background: url('sipky.png');
	background-position: 0 0;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.edice .ediceHeader h3 {
	font-size: 18px;
}

.edice .more {
	padding: 25px 20px;
}

.produktPage .desc {
	color: #3d485f;
	padding-bottom: 45px;
	line-height: 18px;
}

.edice .btn {
	border: 1px solid #a5aebc;
	background-color: #f0f2f4;
	text-decoration: none;
	font-size: 12px;
	text-align: right;
	padding: 6px 15px;
	border-radius: 15px;
	display: block;
	float: right;
	color: #656e81;
}