<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://www.gordic.cz/shared/project-config/v_1.0.0.0">
  <Name>Gordic.Report.Interface</Name>
  <Description>Interfacová knihovna pro reporter</Description>
  <Author>Martin Aliger</Author>
  <Copyright>Copyright © GORDIC spol. s r. o. 1993-2007</Copyright>
  <Code />
  <Users>
    <User name="maliger">
      <LastExceptionCode>21000148</LastExceptionCode>
      <LastResourceCode>64</LastResourceCode>
    </User>
    <User name="bmartinek">
      <LastExceptionCode>31100007</LastExceptionCode>
      <LastResourceCode>31110005</LastResourceCode>
    </User>
    <User name="mhalik">
      <LastExceptionCode>29500001</LastExceptionCode>
      <LastResourceCode>29550000</LastResourceCode>
    </User>
  </Users>
  <ResourcesFileName />
  <ExceptionResourcesFileName>Exceptions</ExceptionResourcesFileName>
  <install>
    <customer name="X">
      <module name="REPAL">
        <target name="WEBWIN">
          <assembly include="true" />
          <files>
            <include srcroot="bin" srcdir="." dstdir="." dstroot="GAC" regexp="Gordic.Interop.Excel.dll" />
            <include srcroot="bin" srcdir="." dstdir="." dstroot="GAC" regexp="Gordic.Interop.Office.dll" />
            <include srcroot="bin" srcdir="." dstdir="." dstroot="GAC" regexp="Gordic.Interop.VBIDE.dll" />
          </files>
        </target>
        <target name="APPSERVER">
          <assembly include="true" />
          <files>
            <include srcroot="bin" srcdir="." dstdir="." dstroot="GAC" regexp="Gordic.Interop.Excel.dll" />
            <include srcroot="bin" srcdir="." dstdir="." dstroot="GAC" regexp="Gordic.Interop.Office.dll" />
            <include srcroot="bin" srcdir="." dstdir="." dstroot="GAC" regexp="Gordic.Interop.VBIDE.dll" />
          </files>
        </target>
      </module>
      <module name="WFLAL">
        <target name="APPSERVER">
          <assembly include="true" />
        </target>
        <target name="WEBWIN">
          <assembly include="true" />
        </target>
      </module>
      <module name="DNP01">
        <target name="DNP32">
          <assembly include="true" />
        </target>
      </module>
    </customer>
  </install>
</Project>