.gattachment.gcover {
  height: 100%;
  min-height: 300px;
}

.g-attachment__control-area .g-attachment__control-area--prev {
  left: 1rem;
}

.g-attachment__control-area .g-attachment__control-area--next {
  right: 1rem;
}

.g-attachment__control-area .g-attachment__control-area--prev, .g-attachment__control-area .g-attachment__control-area--next {
  position: absolute;
  top: calc(50% - 2rem);
  visibility: hidden;
  height: 4rem;
  line-height: 4rem;
}
.g-attachment__control-area .g-attachment__control-area--prev .gbutton, .g-attachment__control-area .g-attachment__control-area--next .gbutton {
  height: 4rem;
  line-height: 4rem;
}

.g-attachment__control-area .g-attachment__control-area .g-button__icon {
  font-size: 2rem;
  vertical-align: middle;
}

.g-attachment__control-area .g-attachment__control-area--prev .gbutton {
  left: 0;
}

.g-attachment__control-area .g-attachment__control-area--next .gbutton {
  right: 0;
}

.g-attachment__control-area:hover .g-attachment__control-area--prev, .g-attachment__control-area:hover .g-attachment__control-area--next {
  visibility: visible;
}

.g-attachment__file-list .flex-container {
  padding: 0 0 0.3rem 0;
  z-index: 2;
}
.g-attachment__file-list :not(.flex-container--vertical-mode) > .flex-item {
  max-width: 13rem;
}
.g-attachment__file-list .flex-item {
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 0.75rem);
  max-height: 2.85rem;
}
.g-attachment__file-list .flex-container-empty-value-text-wrapper {
  display: none;
}

.gattachmentgrid .doubleLineInfo {
  width: 13rem;
}
.gattachmentgrid .doubleLineInfo .iconInfo > i {
  font-size: 2.2rem;
}
.gattachmentgrid .doubleLineInfo .iconPanel i {
  margin-right: 0.25rem;
  font-size: 1.25em;
}
.gattachmentgrid .doubleLineInfo .iconPanel i, .gattachmentgrid .doubleLineInfo .iconPanel span {
  vertical-align: middle;
}

.gattachment-item {
  margin: 0.25rem 0.25rem 0.25rem 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gattachment-item .gi-stack {
  width: 1rem;
  height: 1rem;
  line-height: 0.75rem;
  vertical-align: middle;
  margin-right: 0.25rem;
}
.gattachment-item .gattachment-icon {
  margin-right: 0.25rem;
}

.gattachment__kpi.qq-upload-drop-test {
  min-width: 13rem;
  height: auto;
}
.gattachment__kpi.qq-upload-drop-test:before {
  font-size: 120%;
  top: 30%;
}
.gattachment__kpi.qq-upload-drop-test .flex-item-content {
  visibility: hidden;
}

.gattachment__kpi--noeldoc:not(.gattachment__kpi--disabled) > .flex-item-content-wrapper {
  background-image: linear-gradient(45deg, rgba(240, 240, 240, 0.5) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(240, 240, 240, 0.5) 50%, rgba(240, 240, 240, 0.5) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  background-size: 3rem 3rem;
}

.gattachment__kpi--disabled > .flex-item-content-wrapper {
  background-color: #e6e6e6;
}

.gattachment__kpi--noeldoc .g-kpi-multirow-body .g-kpi-multirow-body-primaryText {
  font-weight: normal;
}

.gfilefield-item.gattachment__uploader--item-selected:not(.gattachment__uploader--item-error) {
  box-shadow: 0 0 5px #6699FF;
}

.gfilefield-item.gattachment__uploader--item-error {
  border: 1px solid #C63C3C;
  box-shadow: 0 0 5px #C63C3C;
}

.gfilefield-item.gattachment__uploader--item-selected {
  border: 1px solid #6699FF;
}

.gattachment__uploader__file-field-form .gform-row {
  max-height: 260px;
  overflow: auto;
}

.gattachment__uploader__verify-detail {
  float: right;
}

.forgottenfilesgrid .doubleLineInfo {
  width: 25rem;
}

.g-tooltip.forgottenfilestooltip, .forgottenfilestooltip > .g-tooltip {
  max-width: unset;
}
