
/************ GwflPidbar ************/

.gwflpidbar .gpidbar{
    margin: 0 auto;
    display: block;
}

.gwflpidbar .giconbar {
    margin: 0 auto;
    display: block;
}

.gwflpidbar .gkeywordsbar {
    margin: 0 auto;
    display: block;
}

.gwflpidbar{
    width: auto;
}