.uda-kpi-cnt {
   flex-direction: column;
   padding: 0.5rem;
   width: 100%;
   height: 100%;
}
.uda-kpi-body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.uda-kpi-number {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding-right: 0.5rem;
    color: #6699FF;
}
.uda-kpi-icon {
    font-weight: bold;
    font-size: 1.75rem;
    text-align: center;
    padding-right: 0.5rem;
}
.uda-kpi-text {
    width: 100%;
}
.uda-kpi-header {
    font-weight: bold;
}
.uda-vyveseno-grid {
    font-weight: 700;
}

.uda-attachment-selected {
    border: 1px solid #6699FF !important;
    box-shadow: 0 0 5px #6699ff !important;
}