<?xml version="1.0" encoding="windows-1250"?>
<data xmlns="data:${Struct_IXS_XME}:${Struct_VersionMajor}:${Struct_VersionMinor}" version="4.79.0.0">
  <${Struct_RootRegName}>
  </${Struct_RootRegName}>
</data>