<?xml version="1.0" encoding="windows-1250"?>
<format type="grr" xmlns="${AlfReportXmlns}" version="4.79.0.0">
  ${InfoSection.GRR}
  <region name="${Struct_RootRegName}">
    <head>
      <line>
        <text value=""/>
      </line>
    </head>
    <body>
      <line>
        <text value=""/>
      </line>
    </body>
    <foot>
      <line>
        <text value=""/>
      </line>
    </foot>
  </region>
</format>