<?xml version="1.0" encoding="windows-1250"?>
<reports xmlns="${SsrReportXmlns}" version="4.79.0.0">
  <report title="${CurText}">
    <format file="${ItemPath}" />
    <data file="${CurDataFileName}" />
    <structure file="${Struct_FileName}" title="${Struct_IXS_XME}" />
  </report>
</reports>