
/* barvy ikon v kartotéce majetku */

.fetch-row-color-prvek {
    color: darkgray;
}

.fetch-row-color-mnoz {
    color: navy;
}

/* barvy ikon dle stavu karty či dokladu */

.fetch-row-color-storno {
    color: firebrick;
}

/* již se nepoužívá */
.fetch-row-color-nedokon-maj {
    background-color: #FEFFE2; /*  SalColorFromRGB( 254, 255, 226 ) */
}

.fetch-row-color-pmjmax {
    color: darkgreen;
}

.mat-akt-vydano {
    color: deepskyblue;
}