.statusbar-aktivita-class .statusbar-aktivita-class-green {
    color: #27B779;
}

.statusbar-aktivita-class .statusbar-aktivita-class-blue {
    color: dodgerblue;
}

.statusbar-aktivita-class .statusbar-aktivita-class-red {
    color: #C63C3C;
}

.dpg-panel-grid-container-title {
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

.dpg-panel-grid-container .dpg-panel-grid-table {
    margin: 1rem;
}

.dpg-panel-grid-container .dpg-panel-grid-table .dpg-panel-grid-tbody {
    display: block;
}

.dpg-panel-grid-container .dpg-panel-grid-element .dpg-panel-grid-element-separator {
    padding-right: 1rem;
}
.dpg-panel-grid-container .dpg-panel-grid-element .dpg-panel-grid-element-value{
    font-weight: bold;
}

.dpg-popis-panel-sidebar {
    margin-left: 1rem;
}


.gtable {
    width: 100%;
}

.virtual-header {
    display: none;
}

.gtable-header {
    font-weight: bold;
}

.statusbar button {
    font-weight: normal;
    margin-top: -0.125rem;
    padding-left: 0;
}


.gtable-empty {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: gray;
}

.gtable-header-0 {
    background-color: lightgray !important;
}

.change-cell {
    margin-top: 5px;
}

.gtable-header .fa-chevron-down {
    padding-right: 10px;
}

.gtable-header .fa-chevron-right {
    padding-right: 13px;
}

.gtable .gtable-header th {
    padding: 1px 1px 1px;
    text-align: left;
    border-bottom: none;
}

.gtable-headerNewFeature th {
    //background-color: #a6dfc6;
}

.gtable-headerImportant th {
    //background-color: #f5a2c6;
}

.gtable-headerPatch th {
    //background-color: #bfd3fc;
}

.gtable-headerWarning th {
    //background-color: #FCDDBF;
}

.gtable-headerGray th {
    //background-color: #e5e8f0;
}

.gtable .gtable-header th {
    padding: 1px 1px 1px;
    text-align: left;
    border-bottom: none;
}

.gtable-headerRevision th {
    background-color: #FAFAFA;
}

.gtable-row td {
    padding: 12px 20px 12px;
    vertical-align: middle;
}


.gtable-hrow th {
    padding: 12px 20px 12px;
}

.gtable-hrow th {
    padding: 12px 20px 12px;
}

.gtable-hrow td {
    padding: 12px 20px 12px;
}

.gtable-header th {
    padding: 12px 12px 12px;
    font-size: $font-size-base;
    text-align: left;
    border-bottom: 1px solid double;
}


.g-table-responsive-header {
    display: none;
    color: #000000;
    text-align: left;
}

.gtable-responsive {
}

.gtable-medium {
    word-break: break-all;
    white-space: pre-wrap;
}

.changelog-body {
    display: block;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    vertical-align: -webkit-baseline-middle;
}

.changelog-item-style::before {
    content: "\f023"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    font-size: 0.6rem;
    vertical-align: sub;
}

.changelog-item-style-public::before {
    content: "\f111"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    font-size: 0.4rem;
    vertical-align: -webkit-baseline-middle
}

.changelog-typPoznamka {
    border: 1px solid #000000;
    color: black;
}

.changelog-typPoznamkaImport {
    border: 1px solid #000000;
    color: black;
    margin-left: 5px;
}

.changelog-typPoznamkaHeader {
    display: inline-block;
    position: relative;
    vertical-align: -webkit-baseline-middle;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 10px;
    border: 1px solid #000000;
    color: black;
    background-color: white;
}

.changelog-counter {
    display: inline-block;
    position: relative;
    vertical-align: -webkit-baseline-middle;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-right: 10px;
    color: black;
}

.changelog-intPoz {
    display: block;
    color: gray;
    margin-top: 1px;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;
    vertical-align: -webkit-baseline-middle;
    text-align: right;
}

.changelog-id {
    display: none;
    position: relative;
    vertical-align: -webkit-baseline-middle;
    border-bottom: 0.5px solid #C6CDE0;
}

.changelog-id-version {
    position: relative;
    vertical-align: -webkit-baseline-middle;
    border-bottom: 0.5px solid #C6CDE0;
}


.changelog-typ {
    display: inline-block;
    position: relative;
    vertical-align: -webkit-baseline-middle;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 10px;
}

.changelog-typImport {
    display: inline-block;
    position: relative;
    vertical-align: -webkit-baseline-middle;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 10px;
    margin-left: 5px;
}

.changelog-checkImport {
    display: inline-block;
    position: relative;
    vertical-align: -webkit-baseline-middle;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 10px;
}

.changelog-tag {
    display: inline-block;
    position: relative;
    vertical-align: -webkit-baseline-middle;
    margin-left: 5px;
    letter-spacing: normal;
    margin-bottom: 1px;
    margin-top: 0px;
    color: black;
    background-color: #C6CDE0;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}


.changelog-text {
    padding-left: 35 px;
    position: relative;
    margin-top: 7px;
    color: black;
    margin-bottom: 2px;
    vertical-align: -webkit-baseline-middle;
    margin-left: 5px;
}

.changelog-checkbox {
    position: relative;
    margin-right: 10px;
    margin-top: 6px;
    margin-left: -15px;
}

input:checked + label .changelog-checkbox-check:after {
    content: '\2714';
    font-size: 14px;
    font-style: normal;
    font-family: font, "Segoe UI Symbol";
    position: absolute;
    top: -1px;
    left: 3px;
}

.faze-stav-neurceno {
    font-weight: bold;
    color: #FFD700;
}

.faze-stav-ukoncena {
    color: #808080;
}

.faze-stav-neperspektivni {
    font-weight: bold;
    color: #C63C3C;
}

.faze-stav-docasna {
    color: saddlebrown;
}

.faze-stav-vyvoj {
    color: #6699FF;
}

.faze-stav-ktestovani {
    font-weight: bold;
    color: #2650B9;
}

.faze-stav-nova {
    font-weight: bold;
    color: #27B779;
}

.faze-stav-perspektivni {
    color: black;
}

.faze-neurceno {
    font-weight: bold;
    color: gold;
}

