.help-header {
    padding: 0.5rem;
}

.help-header__logo-wrp,
.help-header__app-wrp {
    display: inline-block;
}

.help-header__logo-wrp {
    margin-top: 1rem;
}

.help-header__app-wrp {
    float: right;
}