body {
}

.doklad-neprecten {
    font-weight: bold;
}

.doklad-stornovan {
    font-style: italic;
    color: darkgray;
}

.doklad-zauctovan {
    color: limegreen;
}

.doklad-uhrazen {
    color: blue;
}

.zaznam-zauctovany {
    color: blue;
}

.nahled-nadpis {
    font-size: 0.8125rem; 
    margin: 0.5rem;
}
.ns-hlavicka {
    color: darkgray;
    font-weight: normal;
}

