.generated-editor .editor-panel { width: 35%; min-width: 18rem; max-width: 30rem; }

.cfsTable {
    text-align: center;
    font-weight: bold;
    /*width: 95%;*/
    color: gray;
    
    /*border-collapse: collapse;*/
}
.cfsIgnoredWord
{
    opacity: 0.5;
}
.cfsRowHeader {
    text-align: right;
    font-weight: bold;    
}
.cfsCell {
    text-align: center;
    border: 1px solid gray;
    font-weight: bold;
    background-color: lightgray;
    width: 40px;
    /*padding-left: 10px;
    padding-left: 10px;*/
}
.filledCfsCell {
    background-color: cornflowerblue;
    color: white;
}
.blindCfsCell {
    border: 1px solid lightgray;
    background-color: white;
}


/*******************************/
/********EKOOPEN****************/
/*******************************/
.EOPanelLeft {
    float: left;
    width: 50%;
    padding: 5px 30px 5px 5px;
}

.EOPanelRight {
    float: left;
    width: 50%;
    padding: 5px 5px 5px 30px;
}

/*rozvrhy*/
.EOPanelLeftRozvrhy {
    float: left;
    width: 35%; 
    padding: 5px 5px 5px 5px;
}

.EOPanelButtonRozvrhy {
    float: left;
    width: 10%;
    padding: 100px 5px 5px 5px;
    text-align: center;
}

.EOPanelRightRozvrhy {
    float: left;
    width: 55%;
    padding: 5px 5px 5px 5px;
}


.EOPanelHeader
{
    color: white;
    background-color: cornflowerblue;
    padding: 5px;
    margin: 0;
}

.EOGrid {
    /*background-color: lightgray;*/
    border: solid;
    border-width: 1px;
    border-color: lightgray;
}

.disabled {
    color: lightgray;
}

/*******************************/
/******** BPL PORIZOVAC****************/
/*******************************/
/*.porizovacRow {
    height: 30px;
}*/
/*
.NoEditCell {
    background-color: #6699ff45;
}

.NoEditCellPep {
    background-color: cornflowerblue;
    opacity: 0.8;
}

.EditCell {
    background-color: white;
}

.gfield-focus-grid {
    box-shadow: 0 0 8px #2650b9 inset;
}

.ui-selected {
    background-color: white;
}*/


