.g-kpi-eko-schval-proces .g-kpi-multirow-body-textWrapper {
    min-width: 0;
}

.g-kpi-eko-schval-proces .g-kpi-multirow-body-secondaryText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
