.user-not-header {
    display: flex;
    margin: 10px;
}
.user-not-header .icon {
    font-size: 2rem;
    padding-right: 2rem;
    padding-left: 1rem;
}
.user-not-header .header {
    font-size: 1rem;
    font-weight: 700;
}
