<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://www.gordic.cz/shared/project-config/v_1.0.0.0">
  <Name>Gordic.GFE.Parsers</Name>
  <Description>GFE</Description>
  <Author>Martin Aliger</Author>
  <Copyright>Copyright © GORDIC spol. s r. o. 1993-2025</Copyright>
  <Code />
  <Users>
    <User name="maliger">
      <LastExceptionCode>21000035</LastExceptionCode>
      <LastResourceCode>21000040</LastResourceCode>
    </User>
    <User name="stepe">
      <LastExceptionCode>29400003</LastExceptionCode>
      <LastResourceCode>29450792</LastResourceCode>
    </User>
    <User name="ssukovych">
      <LastExceptionCode>29400003</LastExceptionCode>
      <LastResourceCode>29450797</LastResourceCode>
    </User>
  </Users>
  <ResourcesFileName />
  <ExceptionResourcesFileName>Exceptions</ExceptionResourcesFileName>
  <install>
    <customer name="X">
      <!--module name="GFE01">
        <include name="CORE" />
        <target name="WINCLIENT">
          <assembly include="true" />
        </target>
      </module>
      <module name="REP">
        <include name="CORE" />
        <target name="WINCLIENT">
          <assembly include="true" />
        </target>
      </module-->
      <module name="REPAL">
        <include name="CORE" />
        <target name="WEBWIN">
          <assembly include="true" />
        </target>
      </module>
      <module name="DNP01">
        <target name="DNP32">
          <assembly include="true" />
        </target>
      </module>
    </customer>
  </install>
</Project>