

.newDataWord {
    font-weight: bold;
    color: darkred;
}

.js-highlight {
    font-weight: bold;
    background: rgba(255, 150, 3, 0.2);
}

.js-error {
    background: rgba(255, 0, 0, 0.2);
}

/*******************************/
/******** BPL PORIZOVAC****************/
/*******************************/
/*.porizovacRow {
    height: 30px;
}*/

.noFocusedRow {
    /*opacity: 0.6;*/
    /*background-color: aliceblue;*/
}

.NoEditCell {
    background-color: aliceblue; /*  #6699ff45;*/
}

.NoEditCellZastupka {
    background-color: aliceblue; /*  #6699ff45;*/
    color: red;
}

.NoEditCellPep {
    background-color: aliceblue;
    /*opacity: 0.8;*/
}

.EditCell {
    background-color: white;
}

.EmptyCell {
    background-color: #E7EAF2;
}

.gfield-focus-grid {
    /*background-color: yellow;*/
    box-shadow: 0 0 8px #2650b9 inset;
}

.MarkedCell {
    background-color: #ffffb3;
    z-index: 2;
}

.ggrid .ui-disabled-black {
    color: #333;
}

.ggrid .container .schvalene-kryti {
    background-color: white;
    color: #000000;
}

.saveRowButton {
    height: 24px;
    padding: 4px;
    margin-left: -5px;
    width: 80px;
}

.gcontrolbox.gfield-focus.js-prefilling .gfield-table {
    box-shadow: inherit;
    border-color: inherit;
}

/*.row, .ui-selected {
    background-color: #E7EAF2;
}*/
