.anonymItem {
    background-color: #6699FF;
    padding: 0 2px 0 2px;
    cursor: pointer;
    color: #ffffff;
}

.selected {
    background-color: rgb(29, 62, 143);
    padding: 0 2px 0 2px;
    cursor: pointer;
    color: #ffffff;
}