.gfrm.gfrm-back {
    background: rgba(0,0,0,0.05);
}
.gfrm .gfrm-paper {
    position: relative;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px 0;
    background: white;
}
.gfrm .gfrm-screen {
    position: relative;
    /*display: inline-block;*/
    background: white;
}
.gfrm .gfrm-window {
    position: relative;
    /*display: inline-block;*/
    background: white;
}
.gfrm-wv {
/*    border: 3px solid red;
    background: yellow; */
}
.gfrm-wv h1 {
    text-align: center;
    padding: 3rem 0.5rem 1.5rem 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1rem;
    margin: 0.125rem 0 0 0;
}
.gfrm-wv h2 {
    text-align: center;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1rem;
    margin: 0.125rem 0 0 0;
}
.gfrm .gfrm-page {
    position: relative;
}
.gfrm .gfrm-page .gcover {
    position: relative;
    display: inline-block;
}
.gfrm img, .gfrm map area {
    outline: none;
    border: none; /*IE10*/
    /*pointer-events: none;*/
}
.gfrm map area[href="#"] {
    cursor: default;
    /*display: block;*/
}
.gfrm-abs {
    position: absolute;
}

.gfrm input:not(.invisible), .gfrm textarea:not(.invisible) { /*neovlivnit skryté pole v l/graphicInput:exclusive*/
    min-height: 0px;
    height: 100%;
    text-align: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: inherit;
    padding: 2px;
}

.gfrm .gfrm-field {
    position: absolute;
    font-size: 8.95pt;
    /*background: yellow;*/
    overflow: hidden; /*list může přetéct!*/
    border: 1px solid transparent;
}
.gfrm .gfrm-field .tags {
    bottom: 1px;
    right: 1px;
}
.gfrm .gfrm-field.gfrm-field-focus {
    box-shadow: 0 0 5px #2650b9;
}
.gfrm .gfrm-field.gfield-warning {
    /*border-color: #FFB266;*/
    /*box-shadow: 0 0 5px 1px #FFB266;*/
}
.gfrm .gfrm-field.gfield-error {
    /*border-color: #C63C3C;*/
    /*box-shadow: 0 0 5px 1px #C63C3C;*/
    /*background-color: lightpink;*/
}
.gfrm .gfrm-field.gfrm-field-focus {
    border-color: #2650b9;
}

.gfrm .gfrm-field .gfield-table > div {
    height:100%;
}
.gfrm .gfield-table {
    border: none /*!important*/;
    background: transparent;
    height: 100%;
    box-shadow: none /*!important*/;
}

.gfrm .gcontrolbox-button {
    padding: 0;
}
.gfrm .gfield-table:not(.gcontrolbox-vertical) .gcontrolbox-button {
    height: 100%;
}

.gfrm .gdatebox.gdate-small .gcontrolbox-buttons {
    display: none;
}

.gfrm .gselectbox-itemc {
    padding: 0 0.125rem;
}
.gfrm .gselectbox-item {
    padding: 0 0.125rem;
}

.gfrm .gfilefield-item {
    padding: 0;
    margin-right: .4em;
}
.gfrm .gfilefield-vc {
    max-width: 0;
    vertical-align: inherit;
}
.gfrm .gfilefield-itemc {
    padding: 0;
    max-width: 100%;
}
.gfrm .gcontrolbox.gfilefield {
}

.gfrm .gcontrolbox {
}

.gfrm--wrap {
    white-space: normal;
    text-overflow: clip;
}

.gfrm .gcheck .gfrm-check {
    -webkit-appearance: none;
    -webkit-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    outline: none;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}
.gfrm .gcheck input + label .gfrm-check:after {
    content: '\2610';
}
.gfrm .gcheck input:checked + label .gfrm-check:after {
    content: '\2611';
}

.gfrm .gradio .gfrm-radio {
    -webkit-appearance: none;
    -webkit-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    outline: none;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}
.gfrm .gradio input + label .gfrm-radio:after {
    content: '\25CB';
}
.gfrm .gradio input:checked + label .gfrm-radio:after {
    content: '\25C9';
}

.gfrm .gradio .gfrm-radio1 {
    -webkit-appearance: none;
    -webkit-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    outline: none;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}
.gfrm .gradio input + label .gfrm-radio1:after {
    content: '\2610';
}
.gfrm .gradio input:checked + label .gfrm-radio1:after {
    content: '\2611';
}

