.elPod-Pruvodce-Obsah-tab {
    position: relative;
}

.elPod-Pruvodce-Obsah-fade {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(transparent, #f3f4f9);
    height: 1rem; /*16px*/
    /*width: calc(100% - 1rem);*/
    width: 100%;
}
.elPod-Pruvodce-Obsah-text {
    min-height: 2rem;/*32px*/
    max-height: 8rem; /*200px*/
    height: auto;
    overflow: hidden;
}
