.grid-disabled-wfl-rp {
    /* nastavuji sedou s opacitou, aby bylo videt oznaceni radku */
    background-color: #a1a1a1 !important;
    opacity: 0.7;
}
/*.DataGridFun {
    background-color:#f3f3f3!important;
}*/
