@-webkit-keyframes glowin {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes glowin {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes drop {
    from {
        transform: translateY(-100%);
    }

    to {
        //transform: translateY(0);
    }
}

@-webkit-keyframes drop {
    from {
        transform: translateY(-100%);
    }

    to {
        //transform: translateY(0);
    }
}

@keyframes barberpole {
    from { background-position: 0 0; }
    to { background-position: 60px 30px; }
}

.barberpole {
    @extend .stripes;
    animation: barberpole .82s linear infinite;
}

@keyframes highlight {
    0% { background-color: $base-color-warning }
    100% { background-color: none; }
}
