$gmenu-bg: #1A1A1A;
$gmenu-focused-item-bg: $base-color-active;
$gmenu-item-text: $light-text-default;
$gmenu-inactive-color: #5c5c5c;
$btn-menu-activator-active-bg: $base-color-active;
$btn-menu-activator-active-color: $light-text-default;
$btn-focus-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='2' stroke-dasharray='2%2c 2' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
$btn-focus-image-primary: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='2' stroke-dasharray='2%2c 2' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
$tooltip-bg: $base-color-active;
$tasklist-selected-bg: $base-color-active;
$tasklist-sublevel-bg: #000;
$tasklist-item-base: $base-color-shadow; //puvodne: rgba(255,255,255,0.6)
$tasklist-item-active: $light-text-default; //Musel jsem nahradit kvuli pristupnosti webu - byl tam maly kontrastni pomer
