
@import "_gactions.props.scss";

.gmenu {
    cursor: pointer;
    font-size: 0.8125rem;
    font-family: $font;
}

.gmenuSubmenu {
    padding: 0;
    margin: 0;

    &.ui-menu {
        padding: 0;
        margin: 0;
    }

    &.ui-widget-content,
    &.ui-widget-content > li {
        border: none;
        background-color: $gmenu-bg;
    }

    .ui-menu-item {
        padding: 0.25rem 3rem 0.25rem 2rem;
        height: 1.75rem;
        color: $gmenu-item-text;
        background-color: $gmenu-bg;
        border: 1px solid $gmenu-bg;
        margin: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        & .gfield {
            height: 100%;
            padding: 0;
            margin: 0;

            & .gfield-table {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        & .gmenu-wg-wrp {
            width: 100%;
            height: 100%;
        }

        & > .gmenu-icon.fa-stack,
        & > .gmenu-icon.gi-stack {
            left: 0;
        }

        .fa-stack-2x {
            font-size: 1.5em;
        }

        .fa-stack-1x {
            font-size: 0.7em;
            line-height: 1.5rem;
        }
    }

    .ui-menu-item.ui-state-disabled {
        opacity: 1;
        color: $gmenu-inactive-color;
    }

    .submenuIcon {
        color: $gmenu-item-text;
        position: absolute;
        right: 0.5rem;
        top: 0.4375rem;
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    &.ui-menu .ui-state-active,
    &.ui-menu .ui-state-hover,
    &.ui-menu .ui-state-focus {
        background: none;
        background-color: $gmenu-focused-item-bg;
        border-color: $gmenu-focused-item-bg;
        margin: 0;
    }

    .gmenuSeparator {
        color: $light-text-default;
        overflow: hidden;
        display: block;
        font-size: 0.75rem; //12px;
        height: 1rem; //16px;
        &::after {
            content: "";
            display: inline-block;
            height: 0.5625rem; // 9px;
            vertical-align: bottom;
            width: 100%;
            margin-right: -100%;
            border-top: 1px solid $light-text-default;
        }
    }

    .gmenu-item-hidden {
        display: none;
    }
}
    //Ikony v menu
    .gmenuSubmenu .ui-menu-item > .gmenu-icon {
        position: absolute;
        left: 0.5rem;
        top: 0.25rem;
        font-size: 1rem;
        line-height: 1.25rem;

        &.gi,
        &.fa {
            //top: 0.4375rem;
            top: auto;
            color: $gmenu-item-text;
        }

        &.fa {
            left: 0.4375rem;
            width: 1em;
            text-align: center;
        }

        &.gi-stack {
            top: 3px;
        }

        &.g-color {
            border-radius: 100%;
            width: 1em;
            height: 1em;
            top: 0.5em;
        }
    }

.g-menu__text {
    float: left;
}

.g-badge.g-menu__badge {
    display: inline-block;
    position: static;
    float: right;
}

.g-menu-pnl-wrp {
    background-color: $gmenu-bg;
    //padding: 1rem; //NOTE: Na zruseni - pokud menu obsahuje submenu tak nepresahne pres tento okraj
    color: $light-text-default;
    display: flex;  //NOTE: Az od IE 10
}

.g-menu-pnl-wrp__separator {
    background-color: $gmenu-inactive-color;
    height: 1px;
    margin: 0.5rem 0;
}

.g-menu-pnl {
    &--topspc {
        padding-top: 0.5rem;
    }
    &--bottomspc {
        padding-bottom: 0.5rem;
    }
    &--leftspc {
        padding-left: 0.5rem;
    }
    &--rightspc {
        padding-right: 0.5rem;
    }
}

div.gmenuHorizontal{
    background-color: #f8f8f8; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
    background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%); 
    border: 1px solid #d8d8d8;
    background-repeat: repeat-x;
    width: 100%;
}

.gmenuHorizontal{
    float: left;
    color: #777;
}

.gmenuHorizontal:hover {
    /*background-color: #d8d8d8;*/
    color: black;
}

    .gmenuHorizontal .ui-menu-item{
        padding-left: 0.5em;
    }

.gmenuHeader li {
    padding: 5px 5px 5px 5px;
    margin: 0;
}

.gmenuHeader {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.gmenuHeaderHorizontalSelected{
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.075) inset; 
    background-color: #d7d7d7;
}

.gmenuHeaderHorizontal{
    float: left;
}

.gmenuHeaderHorizontal li {
    display: inline;
}

.gmenuHeaderRight{
    float: right;
}

.gmenuSubmenuHorizontal{
    margin: 5px 0 0 -5px;
}

.gmenuSubmenuRight{
    right: 0;
    left: auto;
}

    .gmenuSubmenu li {
        display: block;
        padding: 0.25rem 0.5rem;
        margin: 0;
        white-space: nowrap;
        &.gmenuSeparatorItem{
            padding: 0 0.5rem;
        }
    }

    .gmenuSubmenu .gmenuCategory {
        color:ButtonShadow;
    }

.nonSelectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gmenu-item-disabled {
    opacity: 0.6;
}

/*------------------------- GTASKLIST ------------------------------------*/


.gtasklist {
    font-family: $font;
    //Podpora pro starsi aplikace
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $base-color-dark;
    color: $tasklist-item-base;
    height: 100%;

    .gmenu {
        font-size: 0.75rem;
    }

    .g-tl-header {
        background-color: $base-color-content;
        color: $base-color-text;
        line-height: 1.5rem;
        display: flex;
        align-items: baseline;
        height: 1.5rem; //musi sedet s breadcrumbem
        //border-bottom: 1px solid $base-color-shadow; //musi sedet s breadcrumbem
        border-right: 1px solid $base-color-shadow;
    }

    .g-tl-header__abbr {
        font-size: $font-size-header;
        font-weight: 700;
        margin-left: 0.5rem;
    }

    .g-tl-header__rev {
        font-size: $font-size-mini;
        margin-left: 0.5rem;
        flex-grow: 1;
    }

    .g-tl-header__btn {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1rem;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        width: 2.75rem;
        align-self: stretch;

        &:focus,
        &:hover {
            background-color: $base-color-primary;
            background-image: $btn-focus-image-primary;
            color: $light-text-default;
            border-right: 1px solid $base-color-primary;
            outline: none;
        }
    }

    .g-tl-item-root,
    .subList {
        padding: 0;
        margin: 0;
    }

    .g-tl-scrollable-items {
        //Firefox (standard)
        scrollbar-width: thin;
        scrollbar-color: $base-color-shadow;
        margin-right: 0.125rem;
        //Chrome/Edge only
        &::-webkit-scrollbar-thumb {
            background-color: $base-color-dark;
            border-radius: 6px;
            border: 3px solid $base-color-shadow;
        }

        &::-webkit-scrollbar-track {
            background-color: $base-color-dark;
        }

        &::-webkit-scrollbar {
            width: 0.3215rem;
        }
    }

    .g-tl-item-root {
        position: relative; //Kvuli navigacnimu asistentovi, ktery se zapina v uziv. nastaveni a pak kl. ctrl+alt+m
    }

    .g-badge {
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        right: 2.3125rem;
        top: 0.5625rem;
        min-width: 1.5rem;
    }

    .g-tl-item {
        text-decoration: none;
        font-size: inherit;
        color: inherit;
        position: relative;
        width: 100%;
        height: 2rem;
        display: inline-block;
        padding-left: 3.125rem;

        &:hover {
            color: $tasklist-item-active;
        }

        &.g-tl-item--active,
        &.g-tl-item--marked {
            font-weight: $font-weight-bold;
            color: $tasklist-item-active;
            background-color: $tasklist-selected-bg;

            .g-tl-item__icon {
                color: inherit;
            }

            .gi-bgw:before {
                background-color: $tasklist-item-active;
            }
        }
    }

    .g-tl-item:not(.g-tl-item--level-0):not(.g-tl-item--level-1) {
        padding-top: 0.25rem;
    }

    .g-tl-item__icon {
        font-size: 1.2rem;
        width: 1.25rem;
        color: $tasklist-item-base;
        position: relative;

        &.fa-stack {
            .fa-stack-1x {
                font-size: 0.6rem;
                top: -0.25rem;
            }

            .fa-stack-2x {
                font-size: 1.2rem;
                top: 0.375rem;
            }
        }
    }

    .fa-stack,
    .gi-stack {
        vertical-align: top;
        top: -0.5rem;
    }

    .gi-stack {
        top: -0.75rem;
    }

    .g-tl-item__text {
        display: inline-block;
        width: calc(100% - 3rem); //NOTE: od 3. a dalsi urovne rozhodi polozky, ale pokud se da pryc nebude orezavat prilis dlouhe texty a nahrazovat konec tremi teckami
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .g-tl-item__text--expanded {
        background-color: inherit;
        padding: 1rem 0 0 0;
    }

    .g-tl-item__html {
    }

    .g-tl-html-content {
        display: inline-block;
    }

    .g-tl-item__expander {
        position: absolute;
        font-size: inherit;
        right: 1rem;
        padding-top: 0.125rem;
        top: auto;
    }

    .g-tl-item-wrp {
        list-style: none;

        &.g-tl-item-wrp--favorite {
            background-color: black; // $base-color-dark;
        }

        &.gmenu-item-disabled {
            opacity: 0.6;

            .g-tl-item__icon {
                color: #fff;
            }
        }
    }

    .g-tl-sublist {
        background-color: $tasklist-sublevel-bg;
        width: 100%;
        padding: 0;
    }

    .g-tl-item--level-0,
    .g-tl-item--level-1 {
        height: 3rem;
        color: $light-text-default;
        font-weight: $font-weight-bold;
        font-size: 0.8125rem;

        .g-tl-item__icon:not(.gi-stack):not(.fa-stack) {
            top: -0.125rem;
        }

        &:hover .g-tl-item__icon {
            color: $light-text-default;

            .gi-bgw:before {
                background-color: $tasklist-item-active;
            }
        }

        .g-tl-item__text {
            //top: -0.25rem;
            top: -0.1875rem; //Na poz. T.Kopecneho 3px
        }

        .g-badge {
            top: 1rem;
        }
    }

    .g-tl-item--level-0 {
        padding: 1rem;

        .g-tl-item__icon {
            margin-right: 0.625rem;
        }

        &.g-tl-item--expanded:not(.g-tl-item--marked) {
            background-color: darken($base-color-dark,75%);
            color: $light-text-default;

            .g-tl-item__icon {
                color: inherit;
            }
        }
    }

    .g-tl-item--level-1 {
        padding: 1rem 0 1rem 3.125rem;

        .g-tl-item__icon {
            margin-right: 0.5rem;
        }

        &:before {
            content: "";
            background: $base-color-dark;
            position: absolute;
            top: 0;
            left: 3.25rem;
            height: 1px;
            width: 100%;
        }

        &.g-tl-item--marked:before {
            height: 0;
        }
    }

    .gmenuSeparator {
        background-color: darken($base-color-shadow, 40%);
        display: block;
        height: 1px;
    }


    &.g-task-list-collapsed {
        .g-tl-item:not(.g-tl-item--level-0):not(.g-tl-item--level-1) {
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        }

        .g-tl-item--level-0.g-tl-item--expanded:not(.g-tl-item--level-0--inline) {
            background-color: darken($base-color-dark,75%);
        }

        .g-tl-item--level-1 {
            padding: 1rem 0 1rem 0.5rem;

            &:before {
                left: 0;
            }
        }

        .g-tl-header__btn {
            width: 3.25rem;
        }
    }

    .g-tl-item-root--bottom {
        background-color: darken($base-color-dark,75%);
        display: flex;
        flex-wrap: wrap;

        .g-tl-item-wrp {
            display: inline-block;
            width: 3.25rem;
            height: 3rem;

            .g-badge {
                top: 1.5rem;
                left: 1.5rem;
            }
        }

        .g-tl-item__icon {
            color: inherit;
        }

        a.g-tl-item {
            &:hover {
                background-color: $base-color-active;
            }
        }

        .g-tl-item__text {
            display: none; //pdfjs nam odsouva cele body
        }

        .g-tl-item--level-0.g-tl-item__html {
            height: auto;
            width: auto;
        }
    }

    .gi-bgw:before {
        background-color: $tasklist-item-base;
    }
    /* Pretizeni scrollbaru */
    .mCSB_scrollTools {
        width: 0.5rem;

        .mCSB_dragger {
            z-index: 101;

            .mCSB_dragger_bar {
                width: 0.375rem;
            }
        }

        &.mCSB_1_scrollbar.mCS-minimal.mCSB_scrollTools_vertical {
            right: 0.25rem;
        }
    }
}

/* Experimentalni (mozna ke smazani) - zobrazeni vybraneho inline u gtasklistu */
.gtasklist-inline.gtasklist-inline {
    background-color: black;//$base-color-dark;
    border: none;

    .g-link {
        color: white;
        border: none;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }

    .gform-section {
        padding: 1rem;
    }

    .gform-section label {
        color: white;
        border: none;
        font-size: 1rem;
        font-weight: bold;
    }

    .ui-icon,
    .ui-widget-content .ui-icon {
        background-image: url(images/ui-icons_2e83ff_256x240.png);
    }
}


/*------------------------- GTASKLIST END---------------------------------*/


/*-------------------------GBUTTON-----------------------------------------*/

.g-button {
    font-family: $font;
    width: auto;
    border: 0 solid transparent;
    //background-color: transparent;
    font-size: $font-size-base;
    margin: 0;
    text-decoration: none;
    //text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; //IE fix?
    //NOTE: Flex nelze na buttonu pouzit, je nutne mit inline-block: - rozbiji prilis mnoho veci (tlacitka v gselectboxech, samostatne umista tlacitka na formulari v hybridech, apod.)
    //      Lze pro to pouzit modifikator g-button--flexible
    //display: flex;
    //align-items: center;
    //justify-content: center;
    height: 2rem;
    //line-height: 2rem;
    cursor: pointer;
    //vertical-align: middle;   //NOTE: BMartinek: Zakomentovano kvuli gbuttonpanelu, kde odsazuje tlacitka dolu oproti gstatic
    white-space: nowrap;
    background-color: $base-color-tool;
    color: inherit;
    padding: 1px 0.5rem; //1px je default prohlizecu (zkoumal jsem jen chrome a IE)
    position: relative;

    &__icon--activator.gi {
        width: auto;
        //line-height: 1.625rem;
    }

    &__icon {
        font-size: 1rem;

        &.gi {
            top: auto;
        }
        //NOTE: V Gui.WebGraphics tam pridavame top: 1px - nezrusit ho tam??? Jestli jo, odstranit tuto vec i na g-link
        &.fa {
            top: 1px;
        }
        //NOTE: stejne jako v g-link
        &.gi-stack {
            top: auto;

            .gi:not(.gi-stack-fw) {
                top: auto;
            }

            width: 1rem;
        }

        &.fa-stack,
        &.gi-stack { 
            font-size: 0.625rem; //NOTE: Na gtabu byly strasne velke, sjednotil jsem to se stylem s appbarem
        }
    }

    &__text {
        //padding: 0 0.4em 0 0.4em;
    }

    &.g-button--mb-activated:not(.g-button--primary),
    &:hover {
        background-color: $base-color-shadow;
    }

    &:focus {
        background-color: $base-color-shadow;
        background-image: $btn-focus-image;
        
        //Visible in Windows high-contrast themes, see: https://stackoverflow.com/questions/52589391/css-box-shadow-vs-outline
        outline-color: transparent;
        outline-width: 2px;
        outline-style: dotted;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &.g-button--activator:focus,
    &.g-button--activator:hover {
        background-color: $gmenu-focused-item-bg;

        .gi {
            color: $btn-menu-activator-active-color;
        }
    }

    &:hover + .g-button--activator,
    &:focus + .g-button--activator {
        background-color: rgba($base-color-shadow, 0.4);
    }

    &--activator {
        padding: 0 0.1rem;
        vertical-align: top;

        &:hover {
            background-color: $gmenu-focused-item-bg;

            .gi {
                color: $btn-menu-activator-active-color;
            }
        }
    }

    &--activator:before {
        //content: "\00a0"; //&nbsp; //V budoucnu, v pripade potreby, pridani nezalamovaci mezery mezi hlavni tlacitko a splitbutton
    }

    &--favorite {
        height: 100%;
        font-weight: normal;
        background-color: transparent;
        border: none; //Zde bylo transparent, kvuli ne-preskakovani???
        color: inherit;
        vertical-align: middle;
    }

    &--favorite-tab {
        background-color: transparent;
        border: none;
        border-color: transparent;
    }

    &--checked,
    &--checked:hover,
    &--checked:focus {
        background-color: $base-color-info;
    }

    &--checkable.g-button--checkable {
        &:hover {
            background-color: $base-color-info;
        }

        &:active {
            background-color: $base-color-active;
        }
    }

    &--favorite-tab.g-button--mb-activated,
    &--favorite-tab:hover,
    &--favorite-tab:focus {
        border: none;
    }
    // Vyska pro pouziti vedle inputu atd.
    &--small {
        height: 18px;
        line-height: 19px; //Pro pouziti ve starych webApp pozicovano pro IE (na ostatnich je lehce rozhozene)
        box-sizing: content-box;
    }

    &--activated {
        background-color: $btn-menu-activator-active-bg;

        &.g-button--activator .gi {
            color: $btn-menu-activator-active-color;
        }
    }

    &--disabled {
        opacity: 0.35;
    }

    &--primary, &--primary.ui-button { // TS - 17.12.2019 - zvyseni specificity pro klasicky jQuery.button, ktery pouziva background na .ui-button.ui-state-default - pouziva se v puvodnim ui.dialog, messageBox, kompatibilita s hybridy a s pred-commandBar aplikacemi
        background-color: $base-color-primary;
        background-image: initial; // ui-button ma sedy, ten preplacne bg-color
        color: $light-text-default;
        border: none;

        &:hover {
            background-color: $base-color-dark;
            color: $light-text-default;
            border: none;
        }

        &:hover > .fa.g-button__icon--primary {
            color: $light-text-default;
        }

        &.g-button--activated, &:focus {
            background-color: $base-color-dark;
            color: $light-text-default;
            border: none;
            background-image: $btn-focus-image-primary;
        }
    }

    &--primary:hover + .g-button--activator,
    &--primary:focus + .g-button--activator {
        background-color: $base-color-primary;
    }
    //NOTE: Tento modifikator nelze pouzivat ve formularovych polickach, hodi se pro graficka tlacitka
    &--flexible {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .g-badge {
        position: static;
        display: inline-block;
        line-height: 1rem;
    }
    /*.gi-stack {
        //top: -0.1875rem;
        width: 1rem;
    }*/
}

//TODO: Zjistit, jak by se daly modifikatory nacpat do scope g-buttonu
img.g-button__icon {
    display: inline; 
    vertical-align: -6px;
    width: 22px; //resi bug s gtabem, kdy gtoolbar("updateFavorites") se vola jeste pred loadem ikonek, pak v nekterych pripadech doslo k zobrazeni ve dvou radcich
}

div.g-button__icon {
    &::after{
        content: "\a0";
        display: inline-block;
    }
}

.g-unic-icon {
    font-size: 1rem;
    line-height: 1rem;
}

/*.fa.g-button__icon,
.gi.g-button__icon {
    vertical-align: 0;
    color: #0D1732;
}*/


.fa.g-button__icon--primary {
    color: $base-color-dark;
}

.g-button__text {
    padding: 0 0.4rem 0 0.4rem;
}


//unicode ikona v gfieldu
.gfield span.g-button__icon {
    font-weight: bold;
    line-height: 100%;
}

.g-button-progress {
    position: absolute; 
    display: block; 
    top:0; 
    left: 0; 
    width: 0; 
    height: 100%; 
    opacity: 0.5; 
    background-color: #1d3e8f;
}

/* Styly gtoolbaru */
.gtoolbar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $font;
    display: flex;
    //background-color: $base-color-tool; //nelze - rozbiji gtab
}

.g-toolbar {
    &__wrapper {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__favorites {
        width: calc(100% - 2rem);
    }

    &__menu-btn {
        display: flex;
        justify-content: flex-end;
        flex-shrink: 0;
        flex-grow: 1;
        width: 1rem; //2rem;
        border: none;
        background-color: transparent;
        color: inherit;

        .gi {
            font-size: 1rem;
        }
    }
}

    .g-toolbar__item {
        display: inline-block;
        padding: 0;
        margin: 0;
        vertical-align: middle;

        //zobrazeni fieldu v menubaru (testovano na gselectboxu)
        .g-tab-header & .gfield {
            margin: 0;
        }

        & .gfield {
            height: 100%;
            padding: 0 0.25rem 0 0.25rem;
            

            & .gfield-table {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    //Trida, ktera se aplikuje na placeholder (polozku urcujici misto pri presouvani tlactika ve favs)
    .g-toolbar__item--placeholder {
        display: inline-block;
    }

    .gtoolbar .g-toolbar__menu-btn:hover,
    .gtoolbar .g-toolbar__menu-btn:focus,
    .gtoolbar .g-toolbar__menu-btn--active {
        background-color: $btn-menu-activator-active-bg;
        color: $btn-menu-activator-active-color;
        
        &:focus {
            background-image: $btn-focus-image-primary;
        }
    }

    /* Zmena pozadi pretahovane item ve favorites v toolbaru*/
    .gtoolbar .ui-sortable-helper {
        background-color: $base-color-shadow;
    }

/* GPinnableCtmenu */
.gpinnablectmenu {

    .gmenuSubmenu {
        padding: 0;
        margin: 0;
    }

    .gpctmenuPin {
        position: absolute;
        right: 1.5rem;
        top: 0.375rem;
        margin-left: 0;
        color: $gmenu-item-text;
        opacity: 0.4;
        cursor: pointer;

        &.gpctmenuUnpinned {
            color: transparent;
        }

        &:hover,
        &.gpctmenuUnpinned:hover {
            opacity: 1;
            color: $gmenu-item-text;
        }
    }
}

.gctmenuSearch {
    font-family: $font;
    padding-left: 2rem; 
    height: 1.875rem; 
    position: relative;
    border: 1px solid $gmenu-bg;
}

.gctmenuSearchIcon {
    float: left;
    left: 0.5rem;
    margin-top: 0.375rem;
    position: absolute;
    color: $base-color-shadow;
    cursor: pointer;
    font-size: 1rem;
}

.g-tooltip {
    font-family: $font;
    padding: 0.25rem;
    z-index: 9999;
    max-width: 300px;
    word-break: break-word;
    overflow: hidden;
}

.g-tooltip__arrow-triangle {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 9998;
}

.g-tooltip__arrow {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
    }

    &--top:before {
        bottom: 100%;
        border-bottom: 4px solid black; //Color inherit nefunguje pro zkraceny zapis (dle: https://css-tricks.com/speech-bubble-arrows-that-inherit-parent-color/)
        border-bottom-color: inherit;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }

    &--top-r:before {
        bottom: 100%;
        border-bottom: 4px solid black;
        border-bottom-color: inherit;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        right: 1rem;
    }

    &--bottom:before {
        top: 100%;
        border-top: 4px solid black;
        border-top-color: inherit;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
    
    &--bottom-r:before {
        top: 100%;
        border-top: 4px solid black;
        border-top-color: inherit;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        right: 1rem;
    }

    &--left:before {
        top: 0.75rem;
        right: 100%;
        border-left: none;
        border-top: 4px solid transparent;
        border-right: 4px solid black;
        border-right-color: inherit; 
        border-bottom: 4px solid transparent;
    }

    &--left-b:before {
        bottom: 0.75rem;
        right: 100%;
        border-left: none;
        border-top: 4px solid transparent;
        border-right: 4px solid black;
        border-right-color: inherit; 
        border-bottom: 4px solid transparent;
    }

    &--right:before {
        top: 0.75rem;
        left: 100%;
        border-top: 4px solid transparent;
        border-left: 4px solid black;
        border-left-color: inherit;
        border-bottom: 4px solid transparent;
    }

    &--right-b:before {
        bottom: 0.75rem;
        left: 100%;
        border-top: 4px solid transparent;
        border-left: 4px solid black;
        border-left-color: inherit;
        border-bottom: 4px solid transparent;
    }
}

.g-tooltip__header {
    color: $light-text-default;
    font-size: 0.75rem;
    font-weight: 700;
}

.g-tooltip__tip {
    color: $light-text-default;
    font-size: 0.75rem;
}

.g-badge {
    position: absolute;
    border-radius: 0.5rem;
    padding: 0 0.25rem;
    text-align: center;
}

.gtasklist .g-badge.g-badge {
    border: 1px solid $base-color-dark;
}

.g-static {
    &__icon {
        margin-right: 0.25rem;
        font-size: 1rem;
    }

    & + .g-badge {
        position: static;
        display: inline-block;
        cursor: default;
        margin-left: 0.25rem;
    }
}

.g-link {
    margin: 0 0.25rem 0 0.25rem;
    display: inline-flex;
    align-items: center;

    &:focus {
        background-image: $btn-focus-image;

        //Visible in Windows high-contrast themes, see: https://stackoverflow.com/questions/52589391/css-box-shadow-vs-outline
        outline-color: transparent;
        outline-width: 2px;
        outline-style: dotted;
    }

    &--disabled {
        opacity: 0.5;
    }

    &__icon {
        font-size: 1rem;

        &:after {
            content: " ";
        }
        
        &.gi {
            top: auto;
        }

        &.fa {
            top: 1px;
        }

        &.gi-stack {
            width: 1rem;
            top: auto;

            .gi { top: auto; }
        }

        & + .g-link__text {
            margin: auto 0 auto 0.25rem;
        }
    }

    &__text {
        border-bottom: 0.0625rem solid transparent; //IE hack - jinak poskakuje text na hover

        &:hover {
            border-bottom: 0.0625rem solid $base-color-active;
    }
    }

    & + .g-badge {
        position: static;
        display: inline-block;
        cursor: default;
    }

    & + .g-link__menu,
    & + .g-badge + .g-link__menu {
        color: $base-color-active;
        text-decoration: none;
    }
}

a.g-link,
.g-link--menu {
    cursor: pointer;
}

//Zvyseni specificity kvuli jquery-ui widgetu
.g-link--decorated,
a.g-link {
    color: $base-color-active;
    text-decoration: none; //NOTE: nefunguje pro inline-block, ktere maji fontove ikony kvuli pripadnym rotacim

    &--no-underline {
        border-bottom: none;
    }
}

//--------Gordic.Document.WebClient--------------------
//NOTE: Pozor!!! Spatne umistene styly (mely by byt ve stejnem projektu)!!!!
.g-doc-upl-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: calc(100% - 2rem);

    & > * {
        float: left;
    }

    & .gflashpanel__separator {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    & .g-doc-upl {
        float: right;
    }

    & .g-doc-upl-save-as {
        margin-right: 0.5rem;
    }

    & .g-doc-upl-form {
        display: inline-block;
        width: auto;
        position: relative;
    }

    & .g-doc-upl-inp {
        display: none;
    }

    & .g-doc-upl-selfile {
        border: 1px solid $base-color-dark;
        padding: 0 0.5rem;
        cursor: pointer;
    }
}

//Pro zobrazeni na jednoduchem dialogu
.g-doc-upl-inp,
.g-doc-upl-selfile {
    display: inline-block;
}

//Obecna check ikona (akt. na gbuttonu a v menu)
.g-check-icon {
    opacity: 0;
    &.g-check-icon--checked {
        opacity: 1;
    }
}

.ginlinedialog {
    overflow: auto;
}

.ginlinedialog__wrapper {
    position: absolute;
    background-color: $base-color-content;
    outline: none; //Zruseni outline, ktery se objevoval na chrome pri focusu
    /*border: 1px solid $base-color-dark; // $base-color-active;*/
    /*box-shadow: 0 0 5px $base-color-dark; // $base-color-active;*/
    /*border: 1px solid $base-color-dark;*/
    border: 1px solid $base-color-shadow; // #0d1732;  //barvicka z dialogu
    //@include shadow(7px 7px 60px 0 rgba(0,0,0,0.3)); //NOTE: Sjednoceno s vzhledem autocomplete (na poz. TSkaly)
    .gtoolbar.ginlinedialog__menubar {
        background-color: $base-color-tool;
        height: 2rem;
    }

    .gbuttonpanel.ginlinedialog__commandbar {
        background: $base-color-content;
        border-top: 1px solid #efefef;
        padding: 0.5rem;

        .g-button {
            height: 1.625rem; //26px
            line-height: 1.625rem;
        }
    }

    &.ginlinedialog__wrapper--shadow {
        @include shadow(2px 2px 5px 0 rgba(0,0,0,0.3));
    }

    &.ginlinedialog__wrapper--shadow-less {
        @include shadow(unset);
    }

    &.ginlinedialog__wrapper--border-less {
        border-width: 0;
    }
}

.ginlinedialog--light-shadow {
    box-shadow: 0px 4px 34px -10px rgba(0,0,0,0.21); //Od OHvezdy, stylove pripomina windows
}

.ginline-open .gfield-table.gfield-table {
    //background-color: $base-color-fields-disabled; //$base-color-tool; //$base-color-active; //blue;
}

/* gloadlink */
.loadlink-rotation-icon-class {
    margin: 0.1rem;
    font-size: 1rem;
}

.gloadlink-content {
    margin-top: 0.5rem;
    border: 1px solid gray;
}