.admin-mode-main {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: flex;
}
.admin-mode-panel {
    width: 350px;
    flex-grow: 1;
}
.selectSettingDb .gi-arrow-down {
    display: none;
}

.admin-mode-nav-assist {
    position: absolute;
    right: 0;
    white-space: nowrap;
    font-size: 7pt;
    z-index: 50;
    cursor: pointer;
    color: initial;
}