.g-anonymizer {
    .textLayer, &__text-layer {

        &--text-selected {
            background: rgba(0,0,0,0.85);
        }

        &--text-anonymized {
            background: rgba(0,0,0,0.85);
        }

        &--text-deanonymized {
            background: none;
        }
    }

    &__text-layer {
        position: absolute;
/*        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform-origin: 0% 0%;*/
        opacity: 0.2;

        .highlight {
            background-color: rgb(180, 0, 170);
        }

        .highlight.selected {
            background-color: rgb(0, 100, 0);
        }

        .g-anonymizer__text-layer--text-anonymized.highlight, .g-anonymizer__text-layer--text-anonymized.highlight.selected {
            background: rgba(0,0,0,0.85);
        }
    }

    &__text-layer span {
        cursor: text;
        position: absolute;
    }

    &__area.ui-draggable-disabled .ui-resizable-handle {
        cursor: default;
    }

    &__area--active {
        cursor: move;
        z-index: 1;

        &:focus {
            outline: none;
        }

        .ui-resizable-ne, .ui-resizable-se, .ui-resizable-nw, .ui-resizable-sw {
            border: 1px solid rgba(0,0,0,0.25);
            border-radius: 50%;
            box-shadow: 0px 0px 2px 2px rgba(0,0,0, 0.25);
            background-color: rgba(255,255,255,0.5);
            width: 20px;
            height: 20px;
            /* transform: scale(2); */
        }

        .ui-resizable-ne:hover, .ui-resizable-se:hover, .ui-resizable-nw:hover, .ui-resizable-sw:hover {
            border: 1px solid #6699ff;
            box-shadow: 0px 0px 2px 2px #6699ff;
        }

        .ui-resizable-ne {
            right: -10px;
            top: -10px;
        }

        .ui-resizable-se {
            right: -10px;
            bottom: -10px;
        }

        .ui-resizable-sw {
            left: -10px;
            bottom: -10px;
        }

        .ui-resizable-nw {
            left: -10px;
            top: -10px;
        }
    }
}
