@import "_gactions.props.scss";

.gbasepanel {
    dd {
        display: block;
        margin-inline-start: 0px;
        margin: 0px;
    }

    dl {
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin: 0px;
    }

    .gi-stack {
        /*width: 28px;*/
        /*font-size: 1.2rem;*/
        /*top: -0.4rem;*/
        left: -0.6rem;
    }

    .basepanel-commandbar {
        margin-top: 1rem;
        margin-left: 0.25rem;
        color: $base-color-info;
    }

    .panel-custom-backround {
        background-color: #E7EAF2;
    }

    .flex-container {
        /*padding-bottom: 0.3rem;*/
        padding: 0.25rem;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-flow: row nowrap;
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap;
        flex: 1 1 auto;
        width: 100%;
        height: 100%;
        /*padding: 0.5rem;*/
    }


    .flex-wrapper {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;

        ul {
            list-style: none;
            padding: 0rem;
            margin: 0rem;
            list-style-position: inside;
        }

        li {
            padding: 0rem;
            margin: 0.25rem;
        }
    }

    .flex-item {
        /*background-color: $base-color-fields;*/
        flex: 0 0 auto;
        /*margin-left: 0.5rem;
        margin-top: 0.5rem;*/
        margin: 0.25rem;
        position: relative;
        cursor: pointer;
        min-width: 2rem;
        border: 1px solid $base-color-shadow;
        /*padding: 0.7rem;*/
        background-color: #FFFFFF;

        &.paneltoolbar-top {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &.paneltoolbar-right {
            padding-right: 2.5rem;

            .flex-item-content {
                z-index: 1;
            }
        }
    }

    &--hover-enabled .flex-item:hover {
        //background-color: #E7EAF2;
        background-color: lighten($base-color-text, 80%);
    }

    &--toggle-visible .flex-item-toggled {
        //background-color: #E7EAF2;
        background-color: transparentize($base-color-active, 0.7);
    }

    &--toggle-visible.gbasepanel--hover-enabled .flex-item-toggled.flex-item:hover {
        //background-color: #E7EAF2;
        background-color: transparentize($base-color-active, 0.5);
    }

    .flex-item-disabled {
        cursor: not-allowed;
    }

    .flex-item-disabled span {
        color: lightgray;
    }

    .flex-item-disabled div {
        color: lightgray;
    }

    .flex-item-disabled:hover {
        background-color: transparent;
    }
    /*.flex-item-toggled--unvisible {
        background-image: none;*/
    /*  border: 1px solid $base-color-shadow;
        box-shadow: none;*/
    /*}*/

    &--hover-enabled .flex-item-toggled:focus-within {
        background-image: $btn-focus-image;
        border-color: transparent;
        /*background-color: lighten($base-color-text, 65%);*/
        /*border: 1px solid $base-color-favorite; //#6699ff;
        box-shadow: 0px 0px 5px 0px $base-color-favorite; //#6699ff;*/
    }
    /*.flex-item-toggled--visible--always .flex-item-toggled {
        background-image: $btn-focus-image;*/
    /*background-color: lighten($base-color-text, 65%);*/
    /*border: 1px solid $base-color-favorite; //#6699ff;
        box-shadow: 0px 0px 5px 0px $base-color-favorite; //#6699ff;*/
    /*}*/
    .flex-item-content {
        width: 100%;
    }

    .flex-item-content-wrapper {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    .button-panel-top {
        width: 100%;
        top: 0px;
        position: static;
        padding-right: 0.25rem;
    }

    .button-panel-bottom {
        width: 100%;
        bottom: 0px;
        position: static;
    }

    .button-panel-item {
        color: gray;
        opacity: 0.5;
    }

    .button-panel-item:hover {
        color: #000000;
        opacity: 1;
    }

    .overlap {
        position: absolute;
        z-index: 1;
        left: 0rem;
    }

    .arrow-container {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .flex-control-panel {
        /*background-color: $base-color-fields;*/
        /*display: inline-block;*/
        flex: 0 0 auto;
        /*width: 2rem;*/
    }

    .flex-control-panel:hover {
        /* background-color: $base-color-tool;*/
    }

    .flex-control-panel:active {
        /*background-color: #FFFFFF;*/
    }
    /*.flex-control-panel {
        background-color: $base-color-tool; //#E7EAF2;
    }*/
    /*.toolbar-top-overlap {
        position: absolute;
        top: 0px;
        right: 0px;
    }*/
    .favorites-panel {
        /*border-bottom: 1px solid gray;*/
        padding: 0.5rem;
    }

    .others-section {
        /*margin-bottom: 0.5rem;*/
        margin-top: 1rem;
        padding-left: 0.5rem;
        font-weight: bold;
    }

    .favorites-section {
        margin-top: 0.5rem;
        padding-left: 0.5rem;
        font-weight: bold;
    }

    .ico-container {
        width: 3rem;
        align-items: center;
        display: flex;
        opacity: 0.75;
    }

    .ico-container > i {
        font-size: 1rem;
    }

    .placeholder {
        /*background-color: red;//#f3f3f3;*/
        background-color: lightgray;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
        width: 100%;
        height: 60px;
        opacity: 0.75;
    }

    .placeholder-horizontal {
        /*background-color: red;//#f3f3f3;*/
        background-color: lightgray;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
        width: 250px;
        height: 60px;
        opacity: 0.75;
    }

    .flex-container--inline-mode {
        z-index: 5;
        border: 1px solid transparent;
        /*max-height: "";*/
        overflow: auto;
        flex-wrap: nowrap;
        width: calc(100% - 2rem);
        flex-direction: row;
        flex: 1 1 auto;
        /*display: flex;*/
        height: 100%;
    }

    .flex-container--inline-mode-opened {
        border: 1px solid lightgray;
        background-color: #FFFFFF;
    }

    .flex-container--modules-mode {
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
        /*overflow: "";
        max-height: "";*/
        //height: "";
    }

    .flex-container--modules-mode__flex-item {
        border: none;
    }

    .flex-container--modules-mode__flex-item-content {
        padding: 1rem;
    }

    .flex-container--vertical-mode {
        width: 100%;
        flex-direction: column;
    }

    .flex-container--vertical-mode__flex-item {
        width: calc(100% - 0.5rem);
        border-color: transparent;
        /*border-bottom: 1px solid silver;*/
        background-color: transparent;
        /*margin-left: 0rem;*/
    }

    .flex-container--vertical-mode__flex-item__flex-item-content {
        width: 100%;
    }

    .flex-container--inline-mode__flex-item-content {
        width: 100%;
    }

    .flex-container--panel-mode {
        li {
            overflow: auto;
        }

        flex-wrap: wrap;
    }

    .flex-container-empty-value-text-wrapper {
        width: calc(100% - 0.5rem);
        height: 100%;
        min-height: 2rem;
        align-content: center;
        align-items: center;
        display: flex;
        border: 1px solid #E7EAF2;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: #f7f7f7;
    }

    .flex-container-empty-value-text {
        font-weight: bold;
    }

    .g-kpi-multirow-body-description-row__horizontal_mode {
        flex-wrap: wrap;
        max-width: 400px;
        display: flex;
    }

    h3.g-kpi-multirow-header-title {
        margin: 0rem;
        padding: 0rem;
        font-size: 0.8125rem;
    }

    @for $i from 1 to 10 {
        .gpanel-colums-#{$i} > li {
            width: calc((100% / $i - 0.05%) - 0.5rem);
        }
    }
}


.g-basepanel-universal {
    padding: 1rem;

    .g-basepanel-universal-header {
        /*font-size: 0.75rem;*/
        /*flex-direction: row;*/
        /*justify-content: space-between;*/
        /*display: flex;*/
        .g-basepanel-universal-header-title {
            font-size: $font-size-base;
            font-weight: 700;
            margin-bottom: 0.7rem;
        }

        .g-basepanel-universal-header-subtitle {
            font-size: $font-size-base;
            font-weight: bold;
            margin-bottom: 0.7rem;
        }
    }

    .g-basepanel-universal-header-right {
        /*justify-content: space-between;*/
        /*width: 50%;*/
        justify-content: flex-end;
        flex-direction: row;
        display: flex;
    }

    .g-basepanel-universal-header-date {
        opacity: 0.5;
        /*width: 50%;*/
    }

    .g-basepanel-universal-header-settings {
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        display: flex;
        color: gray;
        /*height: 100%;*/
        margin-left: 0.5rem;
        z-index: 2;
        position: absolute;
        right: 0.1rem;
        top: 0.1rem;
    }

    .g-basepanel-universal-header-settings-icon {
        margin-left: 0.25rem;
        opacity: 0.5;
    }

    .g-basepanel-universal-header-settings-icon:hover {
        opacity: unset;
    }

    .g-basepanel-universal-header-settings-icon__need-refresh {
        color: #ED1E79;
    }

    .g-basepanel-universal-header-settings-icon__need-refresh:hover {
        color: gray;
    }

    .positive-value {
        color: #27b779;
        fill: #27b779;
        font-weight: bold;
    }

    .negative-value {
        color: #ea2f4e;
        fill: #ea2f4e;
        font-weight: bold;
    }

    .neutral-value {
        color: #6699FF; //#000000;
        fill: #6699FF;
        font-weight: bold;
    }

    .important-value {
        color: #ED1E79;
        font-weight: bold;
    }

    .warning-value {
        color: #FFB266;
        font-weight: bold;
    }

    .purple-value {
        color: #aa00be;
        font-weight: bold;
    }

    .yellow-value {
        color: #ffeb19;
        font-weight: bold;
    }

    .g-basepanel-universal-main-info-value {
        margin: 0 0.25rem 0 0.25rem
    }

    .g-basepanel-universal-main {
        /*.g-basepanel-universal-main-text {
           
            width: 100%;
            text-align: justify;
            margin-bottom: 0.7rem;
        }*/
        .g-basepanel-universal-main-text {
            margin-bottom: 0.7rem;
        }


        .g-basepanel-universal-main-info {
            /*padding: 0 0.25rem;*/
            /*display: inline-block;*/
            margin-bottom: 0.7rem;
            width: 100%;
            padding: 0.3rem;
            display: flex;
            flex-direction: row;
            white-space: nowrap;


            .g-basepanel-universal-main-info-icon {
                /*color: #6699FF;*/
                margin-right: 0.3rem;
                font-size: 1rem;
            }

            &.g-basepanel-universal-main-info-success {
                border-color: $base-color-success; // $base-color-success;
                border-width: 1px;
                border-style: solid;
                background-color: rgba($base-color-success, 0.2);
            }

            &.g-basepanel-universal-main-info-important {
                border-color: $base-color-important; //$base-color-important;
                border-width: 1px;
                border-style: solid;
                background-color: rgba($base-color-important, 0.2);
            }

            &.g-basepanel-universal-main-info-error {
                border-color: $base-color-error; // $base-color-error;
                border-width: 1px;
                border-style: solid;
                background-color: rgba($base-color-error, 0.2);
            }

            &.g-basepanel-universal-main-info-warning {
                border-color: $base-color-warning;
                border-width: 1px;
                border-style: solid;
                background-color: rgba($base-color-warning, 0.2);
            }

            &.g-basepanel-universal-main-info-info {
                border-color: darken(#F7F7F7, 30%); //gray;
                border-width: 1px;
                border-style: solid;
                background-color: #F7F7F7;
            }
        }

        .g-basepanel-universal-body {
            display: flex;
            flex-direction: row;
            margin-bottom: 0.7rem;
            align-items: center;
            width: 100%;
            height: 100%;

            .g-basepanel-universal-body-value {
                /*font-size: 1.15rem;*/
                font-weight: normal;
            }

            .g-basepanel-universal-body-unit {
                font-size: $font-size-base;
                font-weight: bold;
                padding-left: 0.25rem;
            }

            .g-basepanel-universal-body-text {
                font-size: $font-size-base;
                font-weight: bold;
                width: 100%;
            }

            .g-basepanel-universal-body-textWrapper {
                width: 100%;
            }

            .g-basepanel-universal-body-primaryText {
                font-weight: bold;
                width: 100%;
            }

            .g-basepanel-universal--body-secondaryText {
                width: 100%;
                color: gray;
            }

            .g-basepanel-universal-body-icon {
                font-weight: normal;
                font-size: $font-size-base;
                text-align: center;
            }

            .g-basepanel-universal-body-description {
                font-size: $font-size-base;
            }

            .g-kpi-multirow-body-flag {
                /*margin-left: 0.5rem;*/
            }

            .g-basepanel-universal-body-description-row {
                display: flex;
                font-size: $font-size-base;
                /*justify-content: space-between;*/
                /*white-space: nowrap;
                width: 100%;*/
                padding: 0.15rem;
                color: red;
            }

            .g-basepanel-universal-body-description-row__vertical_mode {
                padding: 0.15rem;
                display: flex;
            }

            .g-basepanel-universal-body-description-row--value-first {
                padding-left: 1rem;
                width: 90%;
                /*flex-grow: 2;*/
            }

            .g-basepanel-universal-body-value-row--value-first {
                /*flex-grow: 1;*/
                width: 10%;
                text-align: right;
                font-weight: bold;
            }
        }

        .g-basepanel-universal--footer {
            /*display: flex;*/
            flex-flow: row wrap;

            .g-basepanel-universal--footer-left {
                /*width: 50%;*/
                display: flex;
                justify-content: flex-start;
            }

            .g-basepanel-universal--footer-right {
                /*width: 50%;*/
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }
    }
}

.gadatemplate {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 16px;
    padding-right: 16px;

    .gadatemplate-header {
        padding-bottom: 1.5rem;
        font-weight: bold;

        .gadatemplate-header-icon {
            padding-right: 0.5rem;
        }

        .gadatemplate-header-title {
        }
    }

    .gadatemplate-date {
        padding-bottom: 16px;
    }

    .gadatemplate-user {
        padding-bottom: 16px;
    }

    .gadatemplate-state {
        padding-bottom: 16px;
    }
}

.gtrainingtemplate {
    width: 250px;
    height: 100%;
    position: relative;

    .link {
        text-decoration: none;
    }

    .header-image {
        width: 250px;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 0.5rem;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .footer {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .new_tag {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #d2201e;
        color: #fff;
        padding: .25rem .75rem;
        font-size: .8125rem;
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: .033em;
    }
}

.grsstemplate {
    .main {
        padding-bottom: 0.25rem;
        border: 1px solid lightGray;
    }

    .link {
        text-decoration: none;
    }

    .text {
        padding: 0.25rem;
    }

    .date {
        font-size: 0.75rem;
        padding-left: 0.25rem;
        color: $shadow-text-default;
    }
}

.gdashboardrsstemplate {
    display: flex;

    .main {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        /* border: 1px solid lightGray;*/
    }

    .title {
        font-weight: bold;
    }

    .description {
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        
        //NOTE (BM): Oriznuti na 2 radky a pak ellipsis ... 
        //          Funguje na Edge, Chrome, Firefox a melo by to podporovat i Safari
        overflow: hidden;
        text-overflow: ellipsis;
        height: 3em;
        white-space: normal;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
    }

    .link {
        text-decoration: none;
        display: flex;
        flex-flow: column;
    }

    img {
        margin: 0.5rem 0;
        max-width: 100%;
    }

    .date {
        color: $shadow-text-default;
    }
}

.slgmodulestemplate {
    .main {
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }

    .title {
        font-weight: bold;
    }

    .text {
        padding-left: 1rem;
    }

    .description {
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
    }

    .link {
        text-decoration: none;
    }

    .icon {
        width: 48px;
    }

    .date {
        color: $shadow-text-default;
    }
}

.gbasepanel-table {
    display: table;
    background-color: transparent;
    padding: 0.5rem;
    width: 100%;
    min-width: 350px;

    .row {
        display: table-row;
        text-align: left;
        background-color: transparent;
    }

    .cell {
        vertical-align: middle;
        display: table-cell;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .value-cell {
        text-align: right;
        font-size: 2.5rem;
        font-weight: bold;
        padding-right: 0.75rem;
        padding-left: 0.5rem;
        width: 5%;
        line-height: 2.5rem;
        vertical-align: middle;
    }

    .info-cell {
        text-align: left;
        width: 80%;
        vertical-align: middle;
    }

    .state-cell {
        text-align: right;
        width: 15%;
        vertical-align: middle;
        padding-left: 1rem;
    }

    .primary-text {
        font-weight: bold;
    }

    .secondary-text {
        font-weight: normal;
    }

    .shadow-text {
        color: $shadow-text-default;
        font-weight: bold;
    }

    .icon {
        font-size: 1.75rem;
        /*padding-right: 0.5rem;*/
    }

    .row__horizontal_mode {
        flex-wrap: wrap;
        display: flex;
    }

    .command-bar-row {
        display: table-caption;
        caption-side: bottom;
        padding-left: 0.25rem;
    }
}

