@import "base";

.g-canvas-drawer__layer {
    cursor:auto;

    &--active {
        cursor: crosshair;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
    }    
}

.g-canvas-drawer__object {

    &.ui-draggable-disabled .ui-resizable-handle {
        cursor: default;
    }

    &:hover {
        cursor: pointer;
    }

    &--active.ui-draggable:hover {
        cursor: move;
    }

    &--active {
        z-index: 1;
        box-shadow: 0 0 5px $base-color-active;

        &:focus {
            outline: none;
        }

        .ui-resizable-ne, .ui-resizable-se, .ui-resizable-nw, .ui-resizable-sw {
            border: 1px solid rgba(0,0,0,0.25);
            border-radius: 50%;
            box-shadow: 0px 0px 2px 2px rgba(0,0,0, 0.25);
            background-color: rgba(255,255,255,0.5);
            width: 20px;
            height: 20px;
            background-image: none;
            /* transform: scale(2); */
        }

        .ui-resizable-ne:hover, .ui-resizable-se:hover, .ui-resizable-nw:hover, .ui-resizable-sw:hover {
            border: 1px solid #6699ff;
            box-shadow: 0px 0px 2px 2px #6699ff;
        }

        .ui-resizable-ne {
            right: -10px;
            top: -10px;
        }

        .ui-resizable-se {
            right: -10px;
            bottom: -10px;
        }

        .ui-resizable-sw {
            left: -10px;
            bottom: -10px;
        }

        .ui-resizable-nw {
            left: -10px;
            top: -10px;
        }
    }
}
