.g-rap-card {
    /*width: 15rem;*/
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-content: stretch;
    margin-bottom: 1.5rem;
    padding: 0.7rem;

    li {
        margin-left: 0px !important;
    }

    .g-card-header {
        font-weight: bold;
        padding-bottom: 0.7rem;
        /*text-align: justify;*/
    }

    h2.g-card-header-text {
        font-size: 1rem;
        /*white-space: nowrap;*/
        /*overflow: hidden;*/
        /*padding: 0.6rem 0rem 0.6rem 0.6rem;*/
        /*text-overflow: ellipsis;*/
        margin: 0rem;
        padding: 0rem;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .g-card-main {
        padding-bottom: 0.7rem;
        /*width: 100%;*/
        .g-card-main-date {
            /*padding-bottom: 0.7rem;*/
            /*padding: 0.6rem 0.25rem;
            display: inline-block;
            width: 100%;*/
            .g-card-main-date-item {
                padding-bottom: 0.7rem;
                /*padding: 0.25rem;
                text-align: center;*/
                i {
                    margin-right: 0.3rem;
                }

                span {
                    font-weight: bold;
                }

                div {
                    font-weight: bold;
                    color: #ED1E79;
                }
            }
        }

        .g-card-main-text {
            /*padding: 0.3rem 0.25rem;*/
            /*display: inline-block;*/
            width: 100%;
            text-align: justify;
            margin-bottom: 0.7rem;
        }

        .g-card-main-info {
            /*padding: 0 0.25rem;*/
            /*display: inline-block;*/
            margin-bottom: 0.7rem;
            width: 100%;
            padding: 0.3rem;
            display: flex;
            flex-direction: row;
            /*border: 1px solid #C6CDE0;
            background: #f7f7f7; /*#E7EAF2;*/
            .g-card-main-info-icon {
                /*color: #6699FF;*/
                margin-right: 0.3rem;
                font-size: 1rem;
            }

            &.g-card-main-info-success {
                border-color: $base-color-success; // $base-color-success;
                border-width: 1px;
                border-style: solid;
                background-color: rgba($base-color-success, 0.2);
            }

            &.g-card-main-info-important {
                border-color: $base-color-important; //$base-color-important;
                border-width: 1px;
                border-style: solid;
                background-color: rgba($base-color-important, 0.2);
            }

            &.g-card-main-info-error {
                border-color: $base-color-error; // $base-color-error;
                border-width: 1px;
                border-style: solid;
                background-color: rgba($base-color-error, 0.2);
            }

            &.g-card-main-info-warning {
                border-color: $base-color-warning;
                border-width: 1px;
                border-style: solid;
                background-color: rgba($base-color-warning, 0.2);
            }

            &.g-card-main-info-info {
                border-color: darken(#F7F7F7, 30%); //gray;
                border-width: 1px;
                border-style: solid;
                background-color: #F7F7F7;
            }
        }

        ul {
            list-style: none;
            /*padding-left: 0.5rem;*/
            /*padding-left: 0px;
            margin-left: 0px;*/
            padding-inline-start: 15px;
            margin-block-start: 0rem;
            margin-top: 0rem;
        }
    }

    .g-card-footer {
        /*display: table;
        padding: 1.5rem;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;*/
        /*.g-card-footer-buttons {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }*/
    }
    /*&.items-toggled {
        background-color: #E7EAF2;
    }*/
}

.gbasepanel .flex-item {
    margin-left: 0.7rem;
    margin-top: 0.7rem;
}
/*.g-card {
    vertical-align: top;

    &.items-toggled {
        background-color: #E7EAF2;
    }
}*/
