
.g-event-proposal {
    opacity: 0.5;
    border: 1px solid gray;
    width: 14.25rem;
}

.g-calendar-new-inlinedialog {
    background-color: white;
    overflow: hidden;
    width: 278px;
}



.g-calendar-new-inlinedialog {

    .g-tl-scrollable-items {
        //Firefox (standard)
        scrollbar-width: thin;
        scrollbar-color: $base-color-shadow;
        margin-right: 0.125rem;
        //Chrome/Edge only
        &::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 6px;
            border: 3px solid $base-color-shadow;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }

        &::-webkit-scrollbar {
            width: 0.3215rem;
        }
    }
}

.g-calendar-new-inlinedialog {
    .g-calendar-flatpickr :focus, .g-calendar-flatpickr :focus-visible,
    .g-calendar-flatpickr .flatpickr-current-month input.cur-year:focus,
    .g-calendar-flatpickr .flatpickr-current-month select.flatpickr-monthDropdown-months:focus {
        @include focus
    }
}

.g-calendar-new-inlinedialog .g-calendar-flatpickr {
    width: 100%;
    text-align: center;
    padding-left: 14px;
}

.g-calendar-new-inlinedialog .g-calendar-flatpickr .flatpickr-calendar {
    font-size: 13px;
    width: 250px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.g-calendar-new-inlinedialog .dayContainer {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}

.g-calendar-new-inlinedialog .flatpickr-weekdays{
    width: 81%;
}

.g-calendar-new-inlinedialog .flatpickr-months, .g-calendar-new-inlinedialog .flatpickr-months .flatpickr-month {
    height: 1.5rem;
}

.g-calendar-new-inlinedialog .flatpickr-current-month {
    line-height: 1.5rem;
    height: 1.5rem;
    font-size: 13px;
}
.g-calendar-new-inlinedialog .flatpickr-months .flatpickr-prev-month, .g-calendar-new-inlinedialog .flatpickr-months .flatpickr-next-month {
    line-height: 1rem;
    height: 1.5rem;
    font-size: 16px;
}

.g-calendar-new-inlinedialog .flatpickr-current-month .numInputWrapper {
    width: 9ch;
}

.g-calendar-new-inlinedialog .numInput.cur-year {
    text-align: center;
    font-weight: bold;
    padding: 0 0 0 0;
}

.g-calendar-new-inlinedialog .flatpickr-current-month span.cur-month {
    padding-right: 0.2rem;
}

.g-calendar-new-inlinedialog .flatpickr-months .flatpickr-prev-month {
    padding: 0.3rem 0.75rem;
    color: #959ea9;
}
.g-calendar-new-inlinedialog .flatpickr-months .flatpickr-prev-month:hover {
    color: black;
}

.g-calendar-new-inlinedialog .flatpickr-months .flatpickr-next-month {
    padding: 0.3rem 0.75rem;
    color: #959ea9;
}
.g-calendar-new-inlinedialog .flatpickr-months .flatpickr-next-month:hover {
    color: black;
}

.g-calendar-new-inlinedialog .g-calendar-bars {
    display: inline-flex;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.g-calendar-new-inlinedialog .g-calendar-switch {
    margin-left: 25px;
    position: relative;
    width: 40%; // 100%
    font-weight: bold;
    font-size: 13px;
}

.g-calendar-new-inlinedialog .g-calendar-switch-date {
    position: absolute;
    top: 50%;
/*    left: 35%;*/
    transform: translate(0%,-50%); // translate(-50%,-50%)
}

.g-calendar-new-inlinedialog .g-calendar-menu {
    width: 100%;
    display: inline-flex;
}

.g-calendar-new-inlinedialog .g-calendar-menu-left {
    display: inline-flex;
}

.g-calendar-new-inlinedialog .g-calendar-menu-left .g-calendar-menu-buttons {
    margin-left: 0.2rem;
}

.g-calendar-new-inlinedialog .g-calendar-menu-left .g-calendar-menu-buttons .fa-angle-left {
    position: relative;
    left: -1px;
}

.g-calendar-new-inlinedialog .g-calendar-menu-right {
    margin-right: 25px;
    width: 100%;
}

.g-calendar-new-inlinedialog .g-calendar-menu-right .g-calendar-menu-buttons {
    float: right;
    margin-left: 0.2rem;
}

.g-calendar-new-inlinedialog .g-calendar-bars .g-button {
    padding: 0.4rem;
    background-color: white;
}

.g-calendar-new-inlinedialog .g-calendar-bars .g-button:hover {
    background-color: #E7EAF2;
}

.g-calendar-new-inlinedialog .g-calendar-bars .g-button .g-button__icon.gi {
    font-weight: bold;
    font-size: 0.75rem;
}



.g-calendar-new-inlinedialog {
    .flatpickr-day.selected,
    .flatpickr-day.startRange,
    .flatpickr-day.endRange,
    .flatpickr-day.selected.inRange,
    .flatpickr-day.startRange.inRange,
    .flatpickr-day.endRange.inRange,
    .flatpickr-day.selected button:focus,
    .flatpickr-day.startRange button:focus,
    .flatpickr-day.endRange button:focus,
    .flatpickr-day.selected:hover,
    .flatpickr-day.startRange:hover,
    .flatpickr-day.endRange:hover,
    .flatpickr-day.selected.prevMonthDay,
    .flatpickr-day.startRange.prevMonthDay,
    .flatpickr-day.endRange.prevMonthDay,
    .flatpickr-day.selected.nextMonthDay,
    .flatpickr-day.startRange.nextMonthDay,
    .flatpickr-day.endRange.nextMonthDay {
        background-color: #f4f6f9;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: black;
        border-color: #c6cde0;
        border-radius: 0;
    }

    .flatpickr-day.selected button:focus, 
    .flatpickr-day.startRange button:focus, 
    .flatpickr-day.endRange button:focus{
        @include focus
    }
}
.g-calendar-new-inlinedialog {
    .flatpickr-day.inRange,
    .flatpickr-day.prevMonthDay.inRange,
    .flatpickr-day.nextMonthDay.inRange,
    .flatpickr-day.today.inRange,
    .flatpickr-day.prevMonthDay.today.inRange,
    .flatpickr-day.nextMonthDay.today.inRange,
    .flatpickr-day:hover,
    .flatpickr-day.prevMonthDay:hover,
    .flatpickr-day.nextMonthDay:hover,
    .flatpickr-day button:focus,
    .flatpickr-day.prevMonthDay button:focus,
    .flatpickr-day.nextMonthDay button:focus {
        cursor: pointer;
        outline: 0;
        background-color: #e6e6e6;
        border-color: #e6e6e6;
        border-radius: 0;
    }

    .flatpickr-day button:focus, 
    .flatpickr-day.prevMonthDay button:focus, 
    .flatpickr-day.nextMonthDay button:focus{
        @include focus
    }
}
.g-calendar-new-inlinedialog .flatpickr-day.today {
    border-radius: 0;
}

.g-calendar-new-inlinedialog .flatpickr-day.today:hover,
.g-calendar-new-inlinedialog .flatpickr-day.today button:focus {
    border-color: #959ea9;
    background-color: #959ea9;
    color: #fff;
    border-radius: 0;
}
.g-calendar-new-inlinedialog .flatpickr-day.today button:focus{
    @include focus
}

.g-calendar-new-inlinedialog .g-calendar-flatpickr .flatpickr-current-month {
    padding: 0;
}

.g-calendar-new-inlinedialog .g-header {
    display: flex;
    margin-bottom: 10px;
}

.g-calendar-new-inlinedialog .g-header .g-clock {
    
}

.g-calendar-new-inlinedialog .g-header .g-clock .g-time {
    font-size: 42px;
    padding-left: 21px;
    padding-top: 11px;
    color: black;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 2.5rem;
    font-weight: normal;
}
.g-calendar-new-inlinedialog .g-header .g-clock .g-date {
    padding-left: 25px;
}
.g-calendar-new-inlinedialog .g-header .g-clock .g-date:hover {
    font-weight: bold;
    cursor: pointer;
}

.g-calendar-new-inlinedialog .g-event-list {
    padding-left: 25px;
    padding-bottom: 25px;
}

.g-calendar-new-inlinedialog .g-event-scrollbar {
    height: 19rem;
}

.g-calendar-new-inlinedialog .g-event {
    display: inline-flex;
    height: 4rem;
    /*width: 100%;*/
}

.g-event-confirm {
    color: white;
    max-width: 0.25rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: 1s;
    transition-delay: 0.5s;
    background: #6699ff;
    height: 4rem;
    position: absolute;
    z-index: 10;
}

.g-event-confirm:before {
    content: attr(data-flag) " ";
    padding: 0.25rem;
    display: inline-block;
}

.g-event-confirm:hover {
    max-width: 4rem;
}

.g-calendar-new-inlinedialog .g-event-separator {
    height: 0.5rem;
}

.g-calendar-new-inlinedialog .g-event .g-event-datetime {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 2;
    width: 49.2px;
}

.g-calendar-new-inlinedialog .g-event .g-event-datetime-background {
    /*z-index: 1;
    width: 49.2px;  
    position: absolute;
    height: 3rem;*/
}

.g-calendar-new-inlinedialog .g-event .g-event-text-main {
    position: relative;
    white-space: nowrap;
    width: 11.2rem;
    margin-top: auto;
    margin-bottom: auto;
}

.g-calendar-new-inlinedialog .g-event .g-event-text-main.only-title {
    margin-top: 0.8rem;
}

.g-calendar-new-inlinedialog .g-event .g-event-text-main.without-date {
    width: 14.2rem;
    padding-left: 0.5rem;
}

.g-calendar-new-inlinedialog .g-event .g-event-focus {
    width: 100%;
    display: inline-flex;
}

.g-calendar-new-inlinedialog .g-event .g-event-text-title {
    font-weight: bold;
}

.g-calendar-new-inlinedialog .g-event .g-event-text-detail {

}

.g-calendar-new-inlinedialog .g-event .g-event-footer {
    width: 100%;
    background-color: white;
    z-index: 1;
}

.g-calendar-new-inlinedialog .g-event .g-event-fade {
    background: -webkit-linear-gradient(0deg, black 70%, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.g-calendar-new-inlinedialog .g-event:hover {
    cursor: pointer;
    opacity: 0.5;
}

.g-calendar-new-inlinedialog .g-event-empty-day {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}


//#region -- ikony koulí značící počet ve flatpickru --


/* vizuální příznak počtu událostí */
.g-calendar-new-inlinedialog .flatpickr-day .g-balls-event {
    /*background-color: #69f;*/
    position: relative;
    border-radius: 75%;
    bottom: 0.65rem;
    margin: 0.05rem;
    height: 4px;
    width: 4px;
}

/* BIG */
.g-calendar-new-inlinedialog .flatpickr-day .g-big-flag-event .g-balls-event.g-one {
    left: 0.5rem;
}

.g-calendar-new-inlinedialog .flatpickr-day .g-big-flag-event .g-balls-event.g-two {
    left: 0.9rem;
}

.g-calendar-new-inlinedialog .flatpickr-day .g-big-flag-event .g-balls-event {
    left: 1.35rem;
}

/* MEDIUM */
.g-calendar-new-inlinedialog .flatpickr-day .g-medium-flag-event .g-balls-event.g-one {
    left: 0.7rem;
}

.g-calendar-new-inlinedialog .flatpickr-day .g-medium-flag-event .g-balls-event.g-two {
    left: 1.15rem;
}

/* SMALL  -1,5px */
.g-calendar-new-inlinedialog .flatpickr-day .g-small-flag-event .g-balls-event.g-one {
    left: calc(50% - 2px);
}

.g-calendar-new-inlinedialog .flatpickr-day .g-small-flag-event {
    display: flex;
    justify-content: center;
}

//#endregion
// ANIMACE
.marquee {
    width: 15rem;
    line-height: 50px;
    background-color: white;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee linear infinite;
    margin-top: auto;
    margin-bottom: auto;
}

.marquee p.marquee-speed-slow {
    animation-duration: 5s;
}
.marquee p.marquee-speed-medium {
    animation-duration: 10s;
}
.marquee p.marquee-speed-fast {
    animation-duration: 15s;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-150%, 0);
    }
}



$size: 50px;
$leaf-color: #7DAE41;
$trunk-color: #855726;
$bg: #0C1E42;
//------------------------------------------
html,
body {
    /*height: 100%;
    background-color: #b33;*/
}

.g-calendar-inlinedialog .g-header .christmas {
    /*margin-top: $size/-2;
    margin-left: $size/-2;*/
    margin-top: 1.7rem;
    margin-left: 1rem;
    //---------------------------------
    width: $size;
    height: $size;
    position: relative;
    border-radius: 50%;
    background-color: $bg;
    background-image: // decoration
    radial-gradient(circle at 50% 18%, yellow 3%, transparent 3.5%), // top
    linear-gradient(60deg, darken($leaf-color, 0%) 8%, transparent 8.5%), linear-gradient(-60deg, darken($leaf-color, 1.5%) 8%, transparent 8.5%), // middle
    linear-gradient(60deg, darken($leaf-color, 3%) 10%, transparent 10.5%), linear-gradient(-60deg, darken($leaf-color, 4.5%) 10%, transparent 10.5%), // bottom
    linear-gradient(60deg, darken($leaf-color, 6%) 12%, transparent 12.5%), linear-gradient(-60deg, darken($leaf-color, 7.5%) 12%, transparent 12.5%), // trunk
    linear-gradient(80deg, darken($trunk-color, 0%) 5%, transparent 5.5%), linear-gradient(-80deg, darken($trunk-color, 1.5%) 5%, transparent 5.5%);
    background-position: // decoration
    0 0, // leaves-top
    $size/2 $size/2.5, $size/2 $size/2.5, // leaves-middle
    $size/2 $size/1.8, $size/2 $size/1.8, // leaves-bottom
    $size/2 $size/1.4, $size/2 $size/1.4, // trunk
    $size/2 $size/1.25, $size/2 $size/1.25;
    // snow -----
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotate(-15deg);
        background-image: radial-gradient(circle at 30% 30%, #fff 1.5%, transparent 2.5%), radial-gradient(circle at 80% 70%, #fff 1.5%, transparent 2.5%), radial-gradient(circle at 30% 50%, #fff 1%, transparent 2%), radial-gradient(circle at 70% 85%, #fff 1%, transparent 2%);
        background-size: 100% 100%, 100% 100%, 50% 100%, 50% 50%;
        background-position: 0 0, 0 0, 0 0, 0 0;
        animation: snow 6s linear infinite forwards;

        @keyframes snow {
            100% {
                background-position: 0px $size, 0 $size, 0px $size, 0px $size;
            }
        }
    }
}

.gcalendar-interval-days {
    margin: 1rem;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 1rem;
}

/** komponenta GCALENDAR */
/* The animation code */
@keyframes example {
    0% {
        background-color: black;
    }

    50% {
        background-color: #9c27b0;
    }

    100% {
        background-color: black;
    }
}

.g-event-calendar-event-animation-start {
    background-color: black; 
    animation-name: example;
    animation-duration: 2s;
}

.g-calendar-inlinedialog .g-search {
    height: 4rem;
    width: 20rem;
    background-color: white;
}

.g-calendar-inlinedialog .g-search .g-search-header {
    height: 1rem;
    width: 100%;
}
.g-calendar-inlinedialog .g-search .g-search-header-left {
    float: left;
    display: inline-flex;
}
.g-calendar-inlinedialog .g-search .g-search-header-right {
    float: right;
    display: inline-flex;
}

.g-calendar-inlinedialog .g-search .g-search-header-right .gcalendar-search-button-exit {
    font-size: 1.5rem;
    margin-top: -0.5rem;
}

.g-calendar-inlinedialog .g-search .g-search-header-right .gcalendar-search-button-exit:hover {
    cursor:pointer;
    font-weight: bold;
}

.g-calendar-inlinedialog .g-search .g-search-body {
    margin-left: 2rem;
    margin-right: 2rem;
}


/****FLATPICKR ****/

.g-calendar-inlinedialog .g-flatpickr-calendar {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 0.5rem;
}

.g-calendar-inlinedialog .g-flatpickr-calendar .flatpickr-calendar {
    display: inline-block;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.g-calendar-inlinedialog .g-flatpickr-calendar .flatpickr-current-month{
    padding: 0;
}

/******* zobrazeni agendy *******/

.g-calendar-inlinedialog .g-event-showbar {
    position: absolute;
    right: 0.2rem;
}

.g-calendar-inlinedialog .g-event-showbar-text {
    display: inline-flex;
}

.g-calendar-inlinedialog .g-event-showbar-text:hover {
    cursor: pointer;
    opacity: 0.7;
}

.g-calendar-inlinedialog .g-event-showbar-text .g-event-showbar-icon {
    font-size: 2rem;
}

/***************/
/* hlavička centra upozornění */
.g-calendar-inlinedialog .g-header {
    display: flex;
}
.g-calendar-inlinedialog .g-header .g-clock {
   
}

.g-calendar-inlinedialog .g-header .g-clock .g-time {
    font-size: 42px;
    padding-left: 21px;
    padding-top: 1px;
    color: black;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 3rem;
    font-weight: normal;
}
.g-calendar-inlinedialog .g-header .g-clock .g-date {
    padding-left: 25px;
}

.g-calendar-inlinedialog .g-header .g-clock .g-date:hover {
    font-weight: bold;
    cursor: pointer;
}

/* titulek centra upozornění */
.g-calendar-inlinedialog .g-title {
    pointer-events: none;
    opacity: 0.5;
    font-size: 1.5rem;
    margin-left: 1.25rem;
    margin-right: 0.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* tlačítko v nadpisu centra upozornění */
.g-calendar-inlinedialog .g-new-event-button {
    margin-left: 19.1rem;
    margin-top: 0.4rem;
    margin-right: 1rem;
    position: absolute;
}

/* změna průhlednosti při najetí na tlačítko */
.g-calendar-inlinedialog .g-new-event-button:hover {
    opacity: 0.5;
}

/* komponenta flatpickr */
.g-calendar-inlinedialog .g-flatpickr-calendar {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
}

.g-calendar-inlinedialog .g-flatpickr-calendar .flatpickr-calendar {
    display: inline-block;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.g-calendar-inlinedialog .g-flatpickr-calendar .flatpickr-day.today {
    border-radius: 0;
}

.g-calendar-inlinedialog {
    .g-flatpickr-calendar .flatpickr-day.today:hover,
    .flatpickr-day.today:focus {
        border-color: #959ea9;
        background-color: #959ea9;
        color: #fff;
        border-radius: 0;
    }

    .flatpickr-day.today:focus{
        @include focus;
    }
}
.g-calendar-inlinedialog {
    .g-flatpickr-calendar .flatpickr-day.selected,
    .flatpickr-day.startRange,
    .flatpickr-day.endRange,
    .flatpickr-day.selected.inRange,
    .flatpickr-day.startRange.inRange,
    .flatpickr-day.endRange.inRange,
    .flatpickr-day.selected:focus,
    .flatpickr-day.startRange:focus,
    .flatpickr-day.endRange:focus,
    .flatpickr-day.selected:hover,
    .flatpickr-day.startRange:hover,
    .flatpickr-day.endRange:hover,
    .flatpickr-day.selected.prevMonthDay,
    .flatpickr-day.startRange.prevMonthDay,
    .flatpickr-day.endRange.prevMonthDay,
    .flatpickr-day.selected.nextMonthDay,
    .flatpickr-day.startRange.nextMonthDay,
    .flatpickr-day.endRange.nextMonthDay {
        background-color: #f4f6f9;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: black;
        border-color: #c6cde0;
        border-radius: 0;
    }

    .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus{
        @include focus;
    }
}

.g-calendar-inlinedialog {
    .g-flatpickr-calendar .flatpickr-day.inRange,
    .flatpickr-day.prevMonthDay.inRange,
    .flatpickr-day.nextMonthDay.inRange,
    .flatpickr-day.today.inRange,
    .flatpickr-day.prevMonthDay.today.inRange,
    .flatpickr-day.nextMonthDay.today.inRange,
    .flatpickr-day:hover,
    .flatpickr-day.prevMonthDay:hover,
    .flatpickr-day.nextMonthDay:hover,
    .flatpickr-day:focus,
    .flatpickr-day.prevMonthDay:focus,
    .flatpickr-day.nextMonthDay:focus {
        cursor: pointer;
        outline: 0;
        background-color: #e6e6e6;
        border-color: #e6e6e6;
        border-radius: 0;
    }

    .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
        @include focus;
    }
}

/* vizuální příznak počtu událostí */
.g-calendar-inlinedialog .flatpickr-day .g-balls-event {
    /*background-color: #69f;*/
    position: relative;
    border-radius: 75%;
    bottom: 0.65rem;
    margin: 0.05rem;
    height: 4px;
    width: 4px;
}

/* BIG */
.g-calendar-inlinedialog .flatpickr-day .g-big-flag-event .g-balls-event.g-one {
    left: 0.5rem;
}

.g-calendar-inlinedialog .flatpickr-day .g-big-flag-event .g-balls-event.g-two {
    left: 1rem;
}

.g-calendar-inlinedialog .flatpickr-day .g-big-flag-event .g-balls-event {
    left: 1.5rem;
}

/* MEDIUM */
.g-calendar-inlinedialog .flatpickr-day .g-medium-flag-event .g-balls-event.g-one {
    left: 0.8rem;
}

.g-calendar-inlinedialog .flatpickr-day .g-medium-flag-event .g-balls-event.g-two {
    left: 1.25rem;
}

/* SMALL */
.g-calendar-inlinedialog .flatpickr-day .g-small-flag-event .g-balls-event.g-one {
    left: calc(50% - 1.5px);
}

/* šipky doleva-doprava na kalendáři */
.g-calendar-inlinedialog .g-month-angle {
    font-size: 1.5rem;
    top: -0.4rem;
}

/* přepínač mezi dny na vybraném dnu */
.g-calendar-inlinedialog .g-event-switch {
    padding-bottom: 0.3rem;
}

.g-calendar-inlinedialog .g-event-switch .g-event-switch-child {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.year_button {
    width: 4rem;
    font-size: 1rem;
    margin-left: 1rem;
    cursor: default;
    border: 0;
}

/* text data přepínače */
.g-calendar-inlinedialog .g-day-date-text {
    pointer-events: none;
    font-size: 1.2rem;
    text-align: center;
    width: 16rem;
    font-weight: normal;
    margin-top: auto;
    margin-bottom: auto;
}

/* leva sipka prochazeni dnu */
.g-calendar-inlinedialog .g-day-left-angle {
    font-size: 1.5rem;
    cursor: pointer;
    padding-left: 0.7rem;
    padding-right: 0.5rem;
}

.g-calendar-inlinedialog .g-day-left-angle:hover {
    opacity: 0.5;
}

/* prava sipka prochazeni dnu */
.g-calendar-inlinedialog .g-day-right-angle {
    font-size: 1.5rem;
    cursor: pointer;
    padding-left: 0.4rem;
    padding-right: 0.5rem;
}

.g-calendar-inlinedialog .g-day-right-angle:hover {
    opacity: 0.5;
}

.g-calendar-inlinedialog .g-event-list {
    margin-top: 0.85rem;
    margin-bottom: 0.5rem;
}

/* události na vybraném dni */
.g-calendar-inlinedialog .g-event-scrollbar {
    height: 21rem;
    /*padding-right: 1rem;*/ 
}

.g-calendar-inlinedialog .g-event-empty-day {
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    font-weight: bold;
}


.g-calendar-inlinedialog .g-event {
    padding-top: 0.15rem;
    padding-right: 1.5rem;
    padding-bottom: 0.15rem;
    display: inline-flex;
    height: 3rem;
}

.g-calendar-inlinedialog .g-event:hover {
    cursor: pointer;
    //opacity: 0.5;
}

.g-calendar-inlinedialog .g-event .g-event-state {
    width: 1rem;
    background-color: navy;
}

.g-calendar-inlinedialog .g-event .g-event-state.g-event-old {
    background-color: #C6CDE0;
}

.g-calendar-inlinedialog .g-event .g-event-state.g-event-ongoing {
    background-color: #27B779;
}

.g-calendar-inlinedialog .g-event .g-event-datetime {
    background-color: white;
    width: 5rem;
    font-weight: normal;
    font-size: 0.7rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 2;
}


.g-calendar-inlinedialog .g-event .g-event-text {
    position: relative;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
    margin-right: 0.5rem;
    white-space: nowrap;
    min-width: 12rem;
}

.g-calendar-inlinedialog .g-event .g-event-remove-button {
    text-align: center;
    margin: auto;
    width: 1.4rem;
    color: lightgray;
    cursor: pointer;
    font-size: 1rem;
}

.g-calendar-inlinedialog .g-event .g-event-remove-button:hover {
    color: black;
}

.g-calendar-inlinedialog .g-event .g-event-separator {
    width: 1rem;
}

/* odstranění všech událostí dne */
.g-calendar-inlinedialog .g-remove-all-events {
    height: 2rem;
}

.g-calendar-inlinedialog .g-remove-all-events-text {
    padding-top: 0.3rem;
    font-size: 0.9rem;
    opacity: 0.4;
    width: 5.25rem;
    margin-left: 16rem;
    cursor: pointer;
}

.g-calendar-inlinedialog .g-remove-all-events-text:hover {
    opacity: 1;
}

/*************** SCROLLBAR BASE CSS ***************/
.g-calendar-inlinedialog .scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.g-calendar-inlinedialog .scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.g-calendar-inlinedialog .scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.g-calendar-inlinedialog .scroll-element {
    display: none;
}

.g-calendar-inlinedialog .scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.g-calendar-inlinedialog .scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.g-calendar-inlinedialog .scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.g-calendar-inlinedialog .scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}

.g-calendar-inlinedialog .scroll-textarea > .scroll-content {
    overflow: hidden !important;
}

.g-calendar-inlinedialog .scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}

.g-calendar-inlinedialog .scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}

/*************** SIMPLE INNER SCROLLBAR ***************/
.g-calendar-inlinedialog .scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element .scroll-element_track {
    background-color: #e0e0e0;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element .scroll-bar {
    background-color: #c2c2c2;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element:hover .scroll-bar {
    background-color: #919191;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
    background-color: #919191;
}

/* update scrollbar offset if both scrolls are visible */
.g-calendar-inlinedialog .scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}

.g-calendar-inlinedialog .scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
}


.g-calendar-inlinedialog .g-gcalendarfilterelement-calendar {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}


// skryvání/zobrazení datumových políček v dialogu přidání nové události

.g-calendar-event-field-hidden {
    display: none;
}

// --------------------------------------------------
// GDAYOVERVIEW - přehled dle dnů
// --------------------------------------------------


.gdayoverview-footer {
    text-align: center;
    padding: 0.5rem;
    color: navy;
    font-weight: bold;
}

.gdayoverview-footer:hover{
    opacity: 0.7;
    cursor: pointer;
}

.gdayoverview-no-event {
    padding: 0.2rem;
    color: gray;
}

.gdayoverview-day {
    background: gainsboro;
    font-weight: bold;
    border-bottom: 1px solid #c6cde0;
    border-top: 1px solid #c6cde0;
    padding: 0.2rem;
}

.gdayoverview-list{
    background-color: red;
    height: 65rem;
}

.gdayoverview {
        height: 760px;
    background-color: white;
    width: 320px;
    overflow: hidden;
}

.gdayoverview-header {
    height: 3rem;
    padding: 0.2rem;
    border-bottom: 1px solid #c6cde0;
}

.gdayoverview-header .gdayoverview-today-text {
    font-size: 1rem;
    font-weight: bold;
}

.gdayoverview-header .gdayoverview-today-date:hover {
    cursor: pointer;
    font-weight: bold;
}

.gdayoverview-event-container{
    min-height: 50px;
}