@import "base";

.grid-cert-list-ico {
    font-size: 1rem;
}

.certIcon {
    float: left;
    padding: 0.1rem 0.25rem 0;
    font-size: 2.6rem;

    & i {
        font-size: 2.6rem;
    }

    .certWarning & {
        &:before {
            content: "\f071";
            position: absolute;
            right: 2%;
            z-index: 10;
            font-family: 'Segoe UI', 'Open Sans', FontAwesome, sans-serif;
            color: $base-color-warning;
            font-size: 1rem;
        }
    }
}

.certDialog {
    & .flex-item {
        max-width: 13rem;
        width: calc(100% - 0.5rem);
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0.3rem;
    }

    & .certCard.ui-disabled {
        color: #6f6f6f;
        background-color: #E7EAF2;
    }

    & .certInfo {
        padding: 0.25rem 0.75rem 0.25rem 0.25rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & .gbasepanel {
        height: calc(100% - 0.75rem);


        & .flex-wrapper.noCertData {
            height: inherit;
        }

        & .flex-container-empty-value-text {
            font-weight: normal;


            & i {
                font-size: 3rem;
                display: block;
                text-align: center;
            }
        }

        & .flex-container-empty-value-text-wrapper {
            margin-bottom: 0rem;
        }
    }

    & .flex-container-empty-value-text {

        & > div {
            font-style: italic;
        }
    }
}
