@import "base";



.gcolorpickerpanel_cnt .gcolorpickerpanel_item {
    margin: 0.25rem;
    cursor: pointer;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 2.5rem;
}

// --------------

.gcolorpicker .gcolorpicker__parent.gcolorpicker__parent_clicked {
    cursor: pointer;
}
.gcolorpicker .gcolorpicker__parent.gcolorpicker__parent_clicked:hover {
    opacity: 0.3;
}

.gcolorpicker_empty {
    color: white;
}

.gcolorpicker__inlinedialog .item_text.gcolorpicker_empty {
    color: black;
}

.gcolorpicker__text.gcolorpicker_empty {
    color: black;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_notmarked {
    color: lightgray;
}

.gcolorpicker_notmarked {
    color: lightgray;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_gray {
    color: lightgray;
}

.gcolorpicker_gray {
    color: lightgray;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_white {
    color: white;
}

.gcolorpicker_white{
    color: white;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_red {
    color: #e1001e;
}

.gcolorpicker_red {
    color: #e1001e;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_green {
    color: #3cb44b;
}

.gcolorpicker_green {
    color: #3cb44b;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_blue {
    color: #00d7ff;
}

.gcolorpicker_blue {
    color: #00d7ff;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_purple {
    color: #aa00be;
}

.gcolorpicker_purple {
    color: #aa00be;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main.gcolorpicker_yellow {
    color: #ffeb19;
}

.gcolorpicker_yellow {
    color: #ffeb19;
}

.g-contentwrapper__middle .bm .g-link__icon.gcolorpickerpanel_main {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}



.gcolorpicker__inlinedialog .item_text.gcolorpicker_notmarked {
    color: black;
}

.gcolorpicker__text.gcolorpicker_notmarked {
    color: black;
}

.gcolorpicker .gcolorpicker__parent .gcolorpicker__text.with_icon {
    padding: 0px 10px;
}

.gcolorpicker .gcolorpicker__child {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 1rem;
}

.gcolorpicker__inlinedialog {
    overflow: hidden;
}

.gcolorpicker__inlinedialog.inlinepicker__text {
    margin: 0.5rem;
}

.gcolorpicker__inlinedialog.inlinepicker__text .item_text {
    margin-bottom: 0.1rem;
}

.gcolorpicker__inlinedialog.inlinepicker__text .item_text:hover {
    opacity: 0.3;
}

.gcolorpicker__inlinedialog .item {
    cursor: pointer;
}

.gcolorpicker__inlinedialog .item_icon {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin: 0.2rem;
    position: relative;
    font-size: 1.4rem;
}

.gcolorpicker__inlinedialog .item_icon:hover {
    opacity: 0.3;
}

// form
.gform .gform-field.gcolorpickerfield .gcolorpicker__parent {
    position: relative;
    top: 6px;
    float: left;
}

// statusbar
.statusbar .gcolorpicker {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
