@import "base";

.gcomparator {
    width: 100%;
    //overflow: hidden;
    //overflow-y: auto; // TEST
    height: 50px; 
    table {
        border-spacing: 0;
        min-width: 100%;
        position: relative;
        border-right: 0.125rem solid $base-color-shadow;
        border-bottom: 0.125rem solid $base-color-shadow;
    }
    thead tr {
        position: relative;
    }
    thead th { 
        position: sticky; 
        top: 0; 
    } 
    tbody:last-child {
        border-bottom: 0.125rem solid $base-color-shadow;
    }
    tbody tr:last-child &__cell--selected {
        border-bottom: 0.0625rem solid $base-color-primary !important;
    }
    &__cell {
        word-wrap: break-word;
        border-right: 0.0625rem solid $base-color-tool;
        border-bottom: 0.0625rem solid $base-color-tool;
        padding: 0 0.4rem;
    }
    &__row:last-child > &__cell {
        border-bottom: 0;
    }
    &__header-cell {
        border-left: 0.125rem solid $base-color-shadow;
        border-right: 0.125rem solid $base-color-shadow;
        border-bottom: 0.0625rem solid $base-color-shadow;
        background-color: $base-color-tool;
        position: relative;
        z-index: 1;
        height: 1.4375rem;
    }
    &__group-cell{
        display: flex;
        padding-top: 0.125rem;
    }
    &__header-cell &__group-action {
        width: 1.375rem;
    }
    &__header-cell button {
        height: 1.2rem;
        margin-left: -0.375rem;
        width: 1.25rem;
    }
    &__header-cell button:hover, &__header-cell button:focus {
        background-color: transparent;
        cursor: pointer;
    }
    &__header-cell > span {
        margin-left: -0.5rem;
    }
    &__header-cell i {
        color: $shadow-text-default;
    }
    &__action-cell, &__item-header-cell {
        border-top: 0.125rem solid $base-color-shadow;
        border-right: 0.0625rem solid $base-color-shadow;
        border-bottom: 0.125rem solid $base-color-shadow;
        background: $base-color-tool;
        min-width: 12rem;
        position: relative;
        padding: 0;
        z-index: 3;
        padding-bottom: 0.2rem;
    }
    &__action-cell {
        border-left: 0.125rem solid $base-color-shadow;
        z-index: 4;
    }
    &__action-cell .g-buttonpanel__item--menu {
        display: none;
    }
    &__action-cell .gshortcut {
        padding: 0 5px;
    }
    &__item-header-cell {
        vertical-align: top;
    }
    &__item-header-cell--selected {
        border-bottom: 0.125rem solid $base-color-primary;
        border-right-color: $base-color-primary;
        border-left: 0.0625rem solid $base-color-primary;
        border-top-color: $base-color-primary;
        background-color: $base-color-shadow;
    }
    &__item-header-cell--selected &__select-button button {
        height: auto;
        font-weight: $font-weight-bold !important;
    }
    &__row--user-hidden, &__row--hidden, &__row--group-hidden {
        display: none;
    }
    &__table-body--difference-visible &__cell--different {
        background: lighten($base-color-shadow, 5%);
        position: relative;
        z-index: 0;
    }
    &__table-body--difference-visible &__cell--group {
        background: $base-color-tool;
        position: relative;
        z-index: 0;
    }
    &__row--clickable {
        height: 100%;
    }
    &__row--clickable td {
        height: 100%;
    }
    &__table-body--clickable &__row--clickable &__header-cell {
        border-left: 0.125rem solid $base-color-active;
    }
    &__row--clickable &__cell.gbutton {
        padding: 0;
    }
    &__row--clickable .g-button {
        width: 100%;
        height: 100% !important;
        padding: 0;
        line-height: inherit;
        vertical-align: top;
        display: inline-block;
    }
    &__row--clickable .g-button:not(.g-state-background) {
        background-color: transparent;
        text-align: left;
        border: 0;
    }
    &__table-body--clickable &__row--clickable:not(&__row--field-disabled) &__cell:hover {
        background-color: $base-color-tool;
        cursor: pointer;
    }
    &__table-body &__row--clickable:not(&__row--field-disabled) &__cell:active {
        background-color: $base-color-shadow;
        cursor: pointer;
    }
    &__table-body &__row:not(&__row--clickable) &__cell:not(&__header-cell),
    &__row--field-disabled &__cell:not(&__header-cell) {
        background-color: $base-color-fields-disabled;
        z-index: -1;
        position: relative;
    }
    &__cell--group {
        background-color: $base-color-tool;
        border-right: 0.0625rem solid $base-color-shadow;
        border-bottom: 0.0625rem solid $base-color-shadow;
        border-top: 0.0625rem solid $base-color-shadow;
    }
    &__row--selected &__header-cell,
    &__table-body--clickable &__row--clickable &__header-cell:hover {
        position: relative;
        box-shadow: $base-color-active 0 0 0.06rem 0.06rem;
        border-left: 0.125rem solid $base-color-active;
        z-index: 2;
        background-color: $base-color-tool;
        cursor: pointer;
    }
    &__row--selected &__cell--selected {
        font-weight: bold;
    }
    &__cell--selected {
        border-left: 0.0625rem solid $base-color-active;
        border-right: 0.0625rem solid $base-color-active;
    }
    &__row--selected &__cell:not(&__header-cell) {
        border-right: 0.0625rem solid $base-color-active;
        border-bottom: 0.0625rem solid transparent;
        border: 0.0625rem solid $base-color-active;
    }
    &__table--sorting &__cell:not(&__header-cell) {
        background: $light-text-default;
        color: $light-text-default;
    }
    &__item-header-cell &__item-handle {
        padding-top: 0.125rem;
        cursor: move;
        height: 1.2rem;
        text-align: right;
    }
    &__item-header-cell &__item-remove-button, &__item-header-cell &__item-context-button {
        cursor: pointer;
        display: inline-block;
        height: 1rem;
    }
    &__item-context-button button, &__item-remove-button button {
        height: 1rem;
        line-height: 1rem;
        background-color: transparent;
    }
    &__item-action-panel {
        display: flex;
        vertical-align: baseline;
        width: 100%;
        position: relative;
        white-space: nowrap;
    }
    &__item-header-cell button:hover, &__item-header-cell button:focus {
        background-color: transparent;
    }
    &__item-header-cell--selected button {
        background-color: $base-color-shadow;
    }
    &__move-left-button button, &__select-button button, &__move-right-button button {
        height: 1.2rem;
        line-height: 1.2rem;
    }
    &__select-button button {
        width: 100%;
    }
    &__select-button {
        width: calc(100% - 4rem);
    }
    &__row-filter-form.size-L .gform-section {
        column-count: 3;
    }
    &__row-filter-form.size-M .gform-section {
        column-count: 2;
    }
    &__row-filter-form.size-S .gform-section {
        column-count: 1;
    }
}

// Uprava loga v notifikaci
.g-notification__left .fa-balance-scale {
    font-size: 1.6rem;
}