.g-datepicker {
    font-size: $font-size-base;
    line-height: 1;
    background: $base-color-content; //#fff;
    -moz-box-shadow: 7px 7px 60px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 7px 7px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 7px 7px 60px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    border: 1px solid $base-color-shadow;
    }

.g-datepicker {
    &__close {
        top: -1rem;
        position: absolute;
        right: -1rem;
        @include focus
    }
}

.g-datepicker :focus, .g-datepicker :focus-visible,
.g-datepicker .flatpickr-current-month input.cur-year:focus,
.g-datepicker .flatpickr-current-month select.flatpickr-monthDropdown-months:focus {
   @include focus
}


.g-datepicker.showTimeInput.hasTime .flatpickr-time {

  border-top-color: $base-color-shadow; //#e6e6e6;
}

.g-datepicker.arrowTop:before {
    border-bottom-color: $base-color-shadow; //#e6e6e6;
}

.g-datepicker.arrowTop:after {
    border-bottom-color: $base-color-content; //#fff;
}

.g-datepicker.arrowBottom:before {
    border-top-color: $base-color-shadow;//#e6e6e6;
}

.g-datepicker.arrowBottom:after {
    border-top-color: $base-color-content;//#fff;
}

.g-datepicker .flatpickr-month {
  background-color: transparent;
  color: rgba(0,0,0,0.9);
  fill: rgba(0,0,0,0.9);
  height: 2.2rem;
  line-height: inherit;
}

.g-datepicker .flatpickr-prev-month,
.g-datepicker .flatpickr-next-month {
  height: 2.2rem;
  line-height: inherit;
}

.g-datepicker .flatpickr-prev-month:hover,
.g-datepicker .flatpickr-next-month:hover {
    color: inherit; //#959ea9;
    background-color: $base-color-shadow;
}

.g-datepicker .flatpickr-prev-month:hover svg,
.g-datepicker .flatpickr-next-month:hover svg {
    fill: inherit; //#f64747;
}

.g-datepicker .numInputWrapper span {
    border-color: rgba(57,57,57,0.05);
}

.g-datepicker .numInputWrapper span:hover {
  background-color: rgba(0,0,0,0.1);
}
.g-datepicker .numInputWrapper span:active {
    background-color: rgba(0,0,0,0.2);
}

.g-datepicker .numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(57,57,57,0.6);
}

.g-datepicker .numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(57,57,57,0.6);
}

.g-datepicker .numInputWrapper span svg path {
  fill: rgba(0,0,0,0.5);
}
.g-datepicker .numInputWrapper:hover {
  background-color: rgba(0,0,0,0.05);
}
.g-datepicker .numInputWrapper:hover span, .g-datepicker .numInputWrapper input:focus + span, .g-datepicker .numInputWrapper input:focus + span+span {
    opacity: 1;
}

.g-datepicker .flatpickr-current-month {
  font-size: $font-size-header;
  height: 2.2rem;
  color: inherit;
}

.g-datepicker .flatpickr-current-month span.cur-month {
  font-weight: $font-weight-bold;
  color: inherit;
  margin-left: 1.5ch;
}


.g-datepicker .flatpickr-current-month span.cur-month:hover {
    background-color: rgba(0,0,0,0.05);
}

.g-datepicker flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(0,0,0,0.9);
}
.g-datepicker .flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(0,0,0,0.9);
}

.g-datepicker .flatpickr-current-month input.cur-year {
    background-color: transparent;
    color: inherit;
}

.g-datepicker .flatpickr-current-month input.cur-year[disabled],
.g-datepicker .flatpickr-current-month input.cur-year[disabled]:hover {
    color: rgba(0,0,0,0.5);
    background-color: transparent;
}

.g-datepicker .flatpickr-weekdays {
    background-color: transparent;
}

.g-datepicker span.flatpickr-weekday {
    background-color: transparent;
    color: rgba(0,0,0,0.54);
}

.g-datepicker .flatpickr-day {
    border-radius: 0;
    color: $dark-text-default; //#393939;
}

.g-datepicker .flatpickr-day.inRange,
.g-datepicker .flatpickr-day.prevMonthDay.inRange,
.g-datepicker .flatpickr-day.nextMonthDay.inRange,
.g-datepicker .flatpickr-day.today.inRange,
.g-datepicker .flatpickr-day.prevMonthDay.today.inRange,
.g-datepicker .flatpickr-day.nextMonthDay.today.inRange,
.g-datepicker .flatpickr-day:hover,
.g-datepicker .flatpickr-day.prevMonthDay:hover,
.g-datepicker .flatpickr-day.nextMonthDay:hover,
.g-datepicker .flatpickr-day button:focus,
.g-datepicker .flatpickr-day.prevMonthDay button:focus,
.g-datepicker .flatpickr-day.nextMonthDay button:focus {
    background-color: $base-color-shadow; //#e6e6e6;
    border-color: $base-color-shadow; //#e6e6e6;
}

.g-datepicker .flatpickr-day button:focus,
.g-datepicker .flatpickr-day.prevMonthDay button:focus,
.g-datepicker .flatpickr-day.nextMonthDay button:focus{
    @include focus
}

.g-datepicker .flatpickr-day.today {
    border-color: $base-color-shadow; //#959ea9;
}
.g-datepicker .flatpickr-day.today:hover,
.g-datepicker .flatpickr-day.today:focus {
    border-color: $base-color-primary; //#959ea9;
    background-color: $base-color-primary; //#959ea9;
    color: $light-text-default; // #fff;
}

.g-datepicker .flatpickr-day.today:focus {
    @include focus
}

.g-datepicker .flatpickr-day.selected,
.g-datepicker .flatpickr-day.startRange,
.g-datepicker .flatpickr-day.endRange,
.g-datepicker .flatpickr-day.selected.inRange,
.g-datepicker .flatpickr-day.startRange.inRange,
.g-datepicker .flatpickr-day.endRange.inRange,
.g-datepicker .flatpickr-day.selected button:focus,
.g-datepicker .flatpickr-day.startRange button:focus,
.g-datepicker .flatpickr-day.endRange button:focus,
.g-datepicker .flatpickr-day.selected:hover,
.g-datepicker .flatpickr-day.startRange:hover,
.g-datepicker .flatpickr-day.endRange:hover,
.g-datepicker .flatpickr-day.selected.prevMonthDay,
.g-datepicker .flatpickr-day.startRange.prevMonthDay,
.g-datepicker .flatpickr-day.endRange.prevMonthDay,
.g-datepicker .flatpickr-day.selected.nextMonthDay,
.g-datepicker .flatpickr-day.startRange.nextMonthDay,
.g-datepicker .flatpickr-day.endRange.nextMonthDay {
    background-color: $base-color-active;
    color: $light-text-default;
    border-color: $base-color-active;
    box-shadow: none;
}
.g-datepicker .flatpickr-day.selected button:focus {
    box-shadow: black 0px 0px 3px;
    @include focus;
}

.g-datepicker .flatpickr-day.selected.endRange,
.g-datepicker .flatpickr-day.startRange.endRange,
.g-datepicker .flatpickr-day.endRange.endRange {
    border-radius: 0 50% 50% 0;
}

.g-datepicker .flatpickr-day.selected.startRange,
.g-datepicker .flatpickr-day.startRange.startRange,
.g-datepicker .flatpickr-day.endRange.startRange {
    border-radius: 50% 0 0 50%;
}

.g-datepicker .flatpickr-day.selected.startRange + .endRange,
.g-datepicker .flatpickr-day.startRange.startRange + .endRange,
.g-datepicker .flatpickr-day.endRange.startRange + .endRange {
    box-shadow: -5px 0 0 $base-color-active;
}

.g-datepicker .flatpickr-day.selected.startRange.endRange,
.g-datepicker .flatpickr-day.startRange.startRange.endRange,
.g-datepicker .flatpickr-day.endRange.startRange.endRange {
    border-radius: 5px;
}

.g-datepicker .flatpickr-day.disabled,
.g-datepicker .flatpickr-day.disabled:hover,
.g-datepicker .flatpickr-day.prevMonthDay,
.g-datepicker .flatpickr-day.nextMonthDay,
.g-datepicker .flatpickr-day.notAllowed,
.g-datepicker .flatpickr-day.notAllowed.prevMonthDay,
.g-datepicker .flatpickr-day.notAllowed.nextMonthDay {
    color: rgba(57,57,57,0.3);
    background-color: transparent;
    border-color: transparent;
}

.g-datepicker .flatpickr-day.week.selected {
    box-shadow: -5px 0 0 $base-color-active, 5px 0 0 $base-color-active;
}

.g-datepicker .flatpickr-day.inRange {
  border-radius: 0;
  box-shadow: -5px 0 0 $base-color-shadow, 5px 0 0 $base-color-shadow;
}

.g-datepicker .flatpickr-weekwrapper .flatpickr-weeks {
  box-shadow: 1px 0 0 $base-color-shadow;//#e6e6e6;
}

.g-datepicker .flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: $dark-text-default;//#393939;
}
.g-datepicker .flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: $dark-text-default;//#393939;
}

.g-datepicker .flatpickr-time input {
    background-color: transparent;
    box-shadow: none;
    color: $dark-text-default; //#393939;
    font-size: $font-size-base;
}

.g-datepicker .flatpickr-time .flatpickr-time-separator,
.g-datepicker .flatpickr-time .flatpickr-am-pm {
  color: $dark-text-default;//#393939;
}

.g-datepicker .flatpickr-time .flatpickr-am-pm:hover,
.g-datepicker .flatpickr-time .flatpickr-am-pm:focus {
    background-color: $base-color-light; //#f0f0f0;
}

// CLEAR PLUGIN

.g-datepicker .flatpickr-clear {
    height: 2rem;
    display: inline-block;
    width: 100%;
    line-height: 2rem;
    cursor: pointer;
    background-color: $base-color-tool; //rgba(0,0,0,0.06)
}
.g-datepicker .flatpickr-confirm.visible:hover,
.g-datepicker .flatpickr-clear:hover {
    background-color: $base-color-shadow;
}

.g-datepicker .flatpickr-clear .flatpickr-clear-icon {
	margin-right: 5px;
}

.g-datepicker .flatpickr-confirm {
    height: 2rem;
    max-height: 0px;
    display: none;
    width: 50%;
    line-height: 2rem;
    cursor: pointer;
    background-color: $base-color-tool;
}

.g-datepicker .flatpickr-clear:hover {
    background-color: $base-color-shadow;
}

.g-datepicker .flatpickr-confirm svg path {
    fill: inherit;
}


.g-datepicker .flatpickr-confirm.visible {
    max-height: 2rem;
    display: inline-block;
}

.g-datepicker .flatpickr-clear.visible {
    display: inline-block;
    width: 50%;
    line-height: 2rem;
}












