.gdashboard2view {
    position: relative; //requires gcover, jinak se ukaze preloader spatne
    display: flex;
    flex-direction: column;
    background-color: $base-color-fields;
    border: 0.125rem solid transparent;
    //.gdashboardview__header {}

    .gdashboardview__barwrapper {
        font-size: 1rem;
        border-bottom: 1px solid $base-color-boundary;
        margin-bottom: 0.25rem;
        display: flex;
    }

   /* @media (prefers-color-scheme: dark) {
        .gdashboardview__barwrapper {
            border-bottom: 1px solid $base-color-boundary-dark;
        }
    }*/

    .gdashboardview__title {
        font-weight: bold;
    }

    .gdashboardview__menubar {
        flex-grow: 2;
    }

    .gdashboardview__description {
        margin-bottom: 0.5rem;
    }

    &.gdashboardview--state {
        border-width: 1px;
        border-style: solid;
    }

    &.gdashboardview--info {
        border-color: $base-color-info;
    }

    &.gdashboardview--success {
        border-color: $base-color-success;
    }

    &.gdashboardview--warning {
        border-color: $base-color-warning;
    }

    &.gdashboardview--error {
        border-color: $base-color-error;
    }

    &.gdashboardview--important {
        border-color: $base-color-important;
    }

    .ui-resizable-e {
        border-left: 1px solid $base-color-tool;
        width: 1px;
    }

    .ui-resizable-s {
        border-bottom: 1px solid $base-color-tool;
        height: 1px;
    }
}

.gdashboard2viewraw {
    .gdashboardview__content {
        border: 1px solid black;
        padding: 0.25rem;
        overflow: auto;
    }

    .gdashboardview__contentwrapper {
        display: flex;
    }
}

.gdashboard2viewtable {
    .gtable {
        overflow: auto;
    }
}

.gdashboard2viewchart {
    .gchart .main-chart {
        width: 100%;
        height: 100%;
    }
}

.gdashboard2viewarticle {
    .g-article {
        overflow: auto;
    }
}

.gdashboard2viewcustom {
    &__content {
        overflow: auto;
    }
}

.gdashboard2 {
    padding: 0.25rem;

    .gdashboard2__zones {
        display: flex;
        flex-wrap: wrap;
    }

    .gdashboard2__zone {
        min-width: 150px;
        min-height: 50px;
        border: 0.125rem solid transparent;

        &--toggled {
            border-color: $base-color-success;
            box-shadow: 0px 0px 5px 0px $base-color-success;
        }
    }

    .gdashboard2view {
        padding: 0.5rem;

        &--toggled {
            border-color: $base-color-warning;
            box-shadow: 0px 0px 5px 0px $base-color-warning;
        }
    }
}

.gdashboard2__zone {
    //NOTE: Nutnost pretizit basepanel, jinak se RSS templaty neroztahnou na celou sirku :-(
    .flex-item {
        flex-grow: 1;
        flex-shrink: 1;
        //width: 100%; //zlobi na FUC05 a vsude jinde, kde je customprovider + basepanel!
    }

    .gdashboardrsstemplate {
        width: 100%;

        .main {
            width: 100%
        }
    }

    .slgmodulestemplate {
        .main {
            padding: 0.5rem;
            display: flex;
            flex-direction: row;
            cursor: pointer;
        }

        .title {
            font-weight: bold;
        }

        .text {
            padding-left: 1rem;
        }

        .description {
            padding-bottom: 0.25rem;
            padding-top: 0.25rem;
        }

        .link {
            text-decoration: none;
        }

        .icon {
            width: 48px;
        }

        .date {
            color: $shadow-text-default;
        }
    }
}

//Kompatibilita pro stary dashboard (po kompletnim prechodu mozno smazat)
.gdashboard-zone {
    //NOTE: Nutnost pretizit basepanel, jinak se RSS templaty neroztahnou na celou sirku :-(
    .flex-item {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .gdashboardrsstemplate {
        width: 100%;

        .main {
            width: 100%
        }
    }
}