.gfilepreview {
    border-top: 1px solid rgb(198, 205, 224);
}

.gfilepreview_content.pdfViewer {
    background: #f4f6f9; /*#C6CDE0;*/
    overflow: auto;
    position: relative;
    /* text-align: center;*/
    .page {
        /*position: relative;*/
        margin: 0.5rem auto;
        /*display: block;
        text-align: center;*/
        border: none;
    }

    &.scrollHorizontal {
        /*white-space: nowrap;*/
        margin: 0;

        .page {
            /*display: inline-block;*/
            margin: 0.5rem;
        }
    }

    &.scrollWrapped {
        margin: 0;

        .page {
            /*display: inline-block;*/
            /*text-align: initial;*/
            margin: 0.5rem;
        }
    }



    .spread .page {
        margin: 0.5rem;
    }
}

/*.gfilepreview__image {
    display: flex;
    justify-content: center;
    align-items: center;    
}*/

body:not(.gfilepreview_dragging) .gfilepreview_draggable {
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
} 

html body.gfilepreview_dragging {
    cursor: move !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
} 


.pdfpagenav .pdfpagenav-current {
    display: inline-block;
    vertical-align: middle;
} 

.pdfpagenav .pdfpagenav-current input {
    width: calc(4ch + 0.5rem);
} 

.pdfpagenav .pdfpagenav-count {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.25rem;
} 

.pdfzoom {
    max-width: 14em;
    width:100%;
} 

.pdfFindBar {
    border-bottom: 1px solid #C6CDE0;
} 

.gfilepreview-warning {
    text-align: center;
    margin: 2rem 0.5rem;
} 

.gfilepreview-warning>i {
    text-align: center;
    display: block;
    font-size: 5rem;
} 

.gfilepreview__office-frame {
    position: relative;
}

.gfilepreview__filename {
    background: #c6cde0;
    color: #222;
    padding: 0.125rem 0;
    border-top: 0.25rem solid #e7eaf2;
}

.gfilepreview__filename>i {
    padding: 0 0.5rem;
}

.gfilepreview__text-renderer {
    text-align: left;
    white-space: pre;
    padding: 0 1rem;

    &--wrap {
        white-space: pre-wrap;
        word-break:break-all;
    }
}

