@import "_gactions.props.scss";

/*filtry*/
.gform-section.gform-filterSection {
    flex-grow: 0;
}

a.g-link .gfilterPinFalse {
    /*color: #E7EAF2;*/
    color:rgba(148, 148, 148, 0.50);
    
}
a.g-link .gfilterPinTrue {
    /*color: #C6CDE0;*/
    color: rgb(128, 128, 128);

}
.gform-row > label ~ label.gfilterFavoritePinLabel:before {
    padding-left: 0rem;
}
.gfilterFavoritePinLabel{
    font-size: 1.1rem;
}
.gform-section.gfilterpanel-section {
    padding-bottom: 0rem;
    padding-top: 0rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
.gform-section.gfilterpanel-mainSection {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    padding-bottom: 0rem;
}
.gfilterpanel-DeleteButInFavorite {
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    display: inline-block;
}

.gfilterpanel {
        background-color: #F4F6F9;
        /* $base-color-light  */
}

.gfiltepanel-link-like-button {
    & button.g-button {
        background-color: transparent;
    }
}

.gfiltepanel-selbox-s-vyhledanejma-kriteriema {
    & .gfilterpanel-multi-item {
        display: flex;
        flex-wrap: wrap;

        & .gselectbox-item {
            margin: 2px;
        }
    }
}

ul.gfilterpanel-vyhledana-kriteria {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.5rem;
}

.gfiltepanel-vyber-predvolenych-filtru {
    & .gfield-table {
        border-color: transparent;
    }

    & .gcontrolbox-buttons.right {
        border-color: transparent;
    }

    & .gselectbox-vc {
        background-color: #fafafa;
    }

    & .gcontrolbox-buttons.right > .gcontrolbox-button {
        height: calc(2rem - 1px);
    }
}

.gfiltepanel-selbox-s-vyhledanejma-kriteriema {
    & .gfield-table {
        border-color: transparent;
    }

    & .gcontrolbox-buttons.right {
        border-color: transparent;
    }

    & .gselectbox-vc {
        background-color: #fafafa;
    }
}

.gfilterpanel .gfilterpanel-widget-visible-focus {
    &::before {
        content: ' ';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: $btn-focus-image;
        z-index: 999;
    }
}