//scss Gordic.Forms.WYSIWYG.EditorContent
$editor-elements:( gform: #ffe4c4, gform-section: #90ee90, gform-row: #87ceeb, gform-field: #dda0dd ); // colors elements form

.editor-panel {
	//Properties panel
	position: relative;
	float: left;
	display: block;
	width: 15rem;
	height: 100%;
	overflow: auto;
	border-right: solid 2px black;
}

.editor-connection-div {
	overflow: hidden;
}

.editor-form{
	//Main editor form 
  	position: relative;
 	height: 100%;
  	overflow: auto;
  	
    @each $type-div, $color in $editor-elements {
	    .#{$type-div} {
	    	@if $type-div == 'gform' {
				margin: 3px  3px 3px 3px;
				padding: 1em  2px 1em 2px;
			}
	    	&.editor--active {
	    		border-radius: 4px;
				background-color: $color
			}
			&.editor--hover {
				border-radius: 4px;
				box-shadow: inset 0px 0px 4px 1px darken( $color , 30%);
			}
	    }
	}
}
//