@import "base";




.gfilefield .gfield-table {
    min-height: 30px;
    height: 1.625rem;
}

  .filefield-error {
      color: #C63C3C;
  }

  .gfilefield-progline {
      height: 0.15rem;
      background-color: #27B779;
  }


  .gfilefield-vc {
      cursor: pointer;
      vertical-align: middle;
    max-width: 0;
  }

  .gfilefield-itemc, .gfilefield .gfield-mode-generated {
      min-height: 1rem;
      display: inline-block;
      vertical-align: top;
      padding: 0.1rem;
      position: relative;
    max-width: 100%;

      & ~ input {
          min-height: 1.5rem;
      }

      & .button-item {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0.25rem;
          opacity: 0.5;
          font-size: 0.875rem;
      }

      & .button-item:hover {
          opacity: 1;
      }

      &.ui-state-active {
          background-color: transparent;
          border: none;
      }
  }

.gfilefield .gfield-mode-generated{
    width: 100%;
}

.gfilefield-placeholder {
    opacity: 0.5;
    padding-left: 0.5rem;
}

.gfilefield-item {
    padding: 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid transparent;

    .gselectbox-multi &, .gfilefield-multi &, .ui-selecting:not(.ui-state-active) > &, .gselectbox-list:not(.ui-state-active):not(.ui-selecting):not(.ui-state-disabled):hover & {
        background-color: $base-color-tool; //#E7EAF2;
        border: 1px solid $base-color-shadow; //#C6CDE0;
    }

    & .js-cancel-fileaction {
        & .js-field-content:hover {
            opacity: 0.2;
        }
       
		& .js-cancel-filefield .js-file-hover {
            display: block;
            position: absolute;
            pointer-events: none;
            left: 50%;
            top: 0%;
            transform: translate(-50%);
            padding: 1%;
            font-size: 2rem;
            &.w-h {
                display: none;
            }
        }
    }

    .gselectbox-list &, .gfilefield-list & {
        background-color: transparent;
        border: 1px solid transparent;
    }

    .ui-state-selected > & {
        border: 1px solid #6699FF;
    }

    .ui-state-active > & {
        background-color: $base-color-active;//#2650b9;
        color: $light-text-default; //#FFFFFF;
    }
}

.gdropzone[contenteditable] {
    caret-color: transparent;
}