//TODO: BMartinek (2018-05-22): Doslo k prepracovani zobrazovane zastupne hodnoty pro intervalova DTO, tyto styly uz zrejme nebudou potreba.
//      Pokud to projde na metodicke ukazce, cely soubor odstranit.

/*.ggrid--vertical-intervals {
    .gform-vertical-interval-value {
        line-height: 12px;
        font-size: 10px;
        
        letter-spacing: 1px;
        opacity: 1;
        display: inherit;
    }
    
    .gformbox.gform-vertical-interval-value .gfield-table {
        border: none;
    }

    .g-cfu-filter .gselectbox-itemc,
    .g-cfu-filter .gselectbox-item,
    .fieldcell.g-cfu-filter .gselectbox-itemc,
    .gform-vertical-interval-value .gselectbox-item {
        border: none;
        padding: 0;
    }

    .gfield.gform-vertical-interval-value {
        display: inherit;
        padding: 0 2px;
    }
}*/

.g-cfu-filter {

    &:hover {
        background-color: $base-color-tool;
    }

    .g-cfu-emptyval {
        display: inline;
        color: $shadow-text-default;
    }
}

/* opravuje uskoceni hodnoty v editoru stranou*/
.ggrid .header .g-cfu-filter {
    overflow: visible;
}

.ggrid .viewport .cell:not(.editing) .g-cfu-value {
    line-height: 1.625rem;
}

.g-cfu-emptyval {
    display: none;
}

.g-cfu-value__end {
    &.g-cfu-value--same {
        display: none;
    }
}

.g-cfu-nonfilter {
    background-color: $base-color-fields-disabled;
}

