@import "base";

.ghelper-ginlinedialog {
    background-color: #fffce0;
}

.ghelper-cover .btnExit {
    font-size: 3rem;
    color: white;
    position: absolute;
}

.ghelper-cover .btnExit:hover{
    opacity: 0.75;
    cursor: pointer;
}

.ghelper-cover .transparent {
    /* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
    opacity: 0.8;
}

.ghelper-cover .ghelper-buttons-width {
    width: 10rem;
}



.g-stepper .transparent {
    /* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
    opacity: 0.6;
}

.g-stepper {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.g-stepper-border .g-stepper-border-child {
    background-color: black;
    position: absolute;
}

.stepper-helper-layer-header-exit-button {
    position: absolute;
    top: 0.5rem;            // 8px - nezvolil jsem 12px - už moc vzdálená od okraje
    right: 0.5rem;      
    font-size: 1rem;        // 16px - nezvolil jsem 12px dle zadání, protože byla ikona už moc malá
    color: black;
}

.stepper-helper-layer-header-exit-button:hover {
    background-color: #C6CDE0;
    cursor: pointer;
}

.stepper-page-overlay {
    position: fixed;
    background-color: #000;
    z-index: 999999;
    opacity: 0.6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.stepper-highlighted-element-stage {
    //box-sizing: content-box;
    position: absolute;
    z-index: 9999998;
    /*box-shadow: 1px 1px 5px 5px #2650b9;*/ /* #2650b9 - světle modrá */ /* #1d3e8f*/
    border: 0.2rem solid #6699FF;
    /*border: 1px solid #777;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 4px;
    box-shadow: 0 2px 15px rgba(0,0,0,.4);*/
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.stepper-helper-layer-body {
    min-height: 3.5rem;
    font-size: 12px;
    font-weight: normal;
    color: #222;
    line-height: 18.5px;
    margin-bottom: 4rem;
}

.stepper-helper-layer-footer-bullets ul li a.stepper-helper-layer-footer-bullets-highlight {
    background-color: #1d3e8f;
}

.stepper-highlighted-element {
    border: none;
    position: relative;
    z-index: 9999999!important;
}

.stepper-helper-layer-wrapper {
    background-color: white;
}

.stepper-helper-layer {
    min-height: 20rem;
    min-width: 22rem;
    background-color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: auto;
}

.stepper-helper-layer-header{
    /*margin-bottom: 24px;*/
    height: 30px;
}

.stepper-helper-layer-header-title {
    font-size: 16px;
    font-weight: bold;
    color: rgb(34,34,34);
}

.stepper-helper-layer-body {
    overflow: auto;
    height: 200px;
}

.stepper-helper-layer-footer-buttons {
    display: inline-flex;
}

.stepper-helper-layer-footer-button .g-button {
    height: 1.5rem;
    width: 4rem;
}

.stepper-helper-layer-footer-button.next {
    margin-left: 6px;
}

.stepper-helper-layer-footer {
    display: inline-flex;
    margin-bottom: 1rem;
    /** vycentrování prvků v zápátí na střed */
    text-align: center;
    /** následující čtyři parametry jsou pro ukotvení zápátí dole v inlinedialogu*/
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.stepper-helper-layer-footer-left {
    width: 100%;
    display: inline-block;
    min-width: 10rem;
    margin-left: 1rem;
    text-align: right;
}

.stepper-helper-layer-footer-right {
    text-align: right;
    margin: auto;
    margin-right: 1rem;
    margin-left: 1rem;
}

.stepper-helper-layer-footer-bullets {
    
}

.stepper-helper-layer-footer-bullets ul {
    /*min-width: 8rem;*/
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
}

.stepper-helper-layer-footer-bullets ul li {
    box-sizing: content-box;
    list-style: none;
    float: left;
    margin: 0.2rem;
}

.stepper-helper-layer-footer-bullets ul li a {
    box-sizing: content-box;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: #ccc;
    border-radius: 2rem;
    -moz-border-radius: 2rem;
    -webkit-border-radius: 2rem;
    text-decoration: none;
    cursor: pointer;
}

.stepper-helper-layer-footer-bullets ul li a:hover {
    background: #999;
}

.ui-dialog.ui-widget.stepper-initial-z-index {
    z-index: initial;
}

.stepper-helper-layer-footer-wrapper:after {
    content: "";
    display: block;
    clear: both;
}