.g-kpi-multirow {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    /*padding: 0.25rem;*/
    border-bottom: 1px solid lightgray;
    /*justify-content: space-between;*/
    .g-kpi-multirow-header {
        font-size: $font-size-base;
        flex-direction: row;
        justify-content: space-between;
        display: flex;
    }

    .g-kpi-multirow-header-right {
        /*justify-content: space-between;*/
        /*width: 50%;*/
        justify-content: flex-end;
        flex-direction: row;
        display: flex;
    }

    .g-kpi-multirow-header-date {
        opacity: 0.5;
        /*width: 50%;*/
    }

    .g-kpi-multirow-header-settings {
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        display: flex;
        color: gray;
        /*height: 100%;*/
        margin-left: 0.5rem;
        z-index: 2;
        position: absolute;
        right: 0.1rem;
        top: 0.1rem;
    }

    .g-kpi-multirow-header-settings-icon {
        margin-left: 0.25rem;
        opacity: 0.5;
    }

    .g-kpi-multirow-header-settings-icon:hover {
        opacity: unset;
    }

    .g-kpi-multirow-header-settings-icon__need-refresh {
        color: #ED1E79;
    }

    .g-kpi-multirow-header-settings-icon__need-refresh:hover {
        color: gray;
    }

    .g-kpi-multirow-header-left {
        .g-kpi-multirow-header-title {
            margin-bottom: 0.15rem;
            font-weight: bold;
            /*text-transform: uppercase;*/
        }
    }

    .g-kpi-multirow-body-primaryText, .g-kpi-multirow-body-secondaryText {
        .glink {
            .g-link {
                margin: 0;
            }

            :hover > * {
                text-decoration: underline;
            }

            .g-link__text:hover {
                border-bottom: 0.0625rem solid transparent;
            }
        }
    }
}

.positive-value {
    color: #27b779;
    fill: #27b779;
    font-weight: bold;
}

.negative-value {
    color: #ea2f4e;
    fill: #ea2f4e;
    font-weight: bold;
}

.neutral-value {
    color: #6699FF; //#000000;
    fill: #6699FF;
    font-weight: bold;
}

.important-value {
    color: #ED1E79;
    font-weight: bold;
}

.warning-value {
    color: #FFB266;
    font-weight: bold;
}

.purple-value {
    color: #aa00be;
    font-weight: bold;
}

.yellow-value {
    color: #ffeb19;
    font-weight: bold;
}

.g-kpi-simple {
    .g-kpi-simple-main {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        display: flex;
        flex-direction: row;
    }

    .g-kpi-simple-header-text {
        font-size: 1rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        font-weight: bold;
    }

    .g-kpi-simple-main-text {
        /*align-items: center;*/
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .g-kpi-simple-main-value {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        font-weight: bold;
    }

    .g-kpi-simple-value {
        padding-right: 0.1rem;
    }

    .g-kpi-simple-unit {
        padding-right: 0.25rem;
    }

    .g-kpi-simple-icon {
    }
}


.g-kpi-multirow-body {
    display: flex;
    /*flex-flow: row wrap;*/
    align-items: center;
    /*justify-content: flex-end;*/ /*space-between;*/
    width: 100%;
    height: 100%;
    /*padding-top: 0.25rem;
    padding-bottom: 0.25rem;*/
    /*line-height: 1.5rem;*/
    .g-kpi-multirow-body-value {
        /*font-size: 1.15rem;*/
        font-weight: normal;
    }

    .g-kpi-multirow-body-unit {
        font-size: 1.25rem;
        /*font-weight: bold;*/
        /*padding-left: 0.25rem;*/
        font-weight: normal;
    }

    .g-kpi-multirow-body-text {
        font-size: 1.15rem;
        /*font-weight: bold;*/
        /*margin-left: 0.5rem;
        margin-right: 0.5rem;*/
        font-weight: bold;
        width: 100%;
    }

    .g-kpi-multirow-body-textWrapper {
        /*margin-left: 0.5rem;*/
        /*font-size: 1.15rem;*/
        width: 100%;
    }

    .g-kpi-multirow-body-primaryText {
        /*font-size: 1.15rem;*/
        /*font-weight: bold;*/
        /*margin-left: 0.5rem;*/
        font-weight: bold;
        width: 100%;
    }

    .g-kpi-multirow-body-secondaryText {
        width: 100%;
    }

    .g-kpi-multirow-body-icon {
        font-weight: normal;
        font-size: 1.75rem;
        text-align: center;

        .fa-stack {
            font-size: 0.5em;

            .gi-stack-fw {
                font-size: 1.5em;
            }
        }

        .gi-stack,
        .fa-stack {
            top: -0.125em;
        }
    }

    .g-kpi-multirow-body-icon > *:not(.gi-stack):not(.fa-stack) {
        //padding: 0 0.5rem;
        /*padding-right: 0.5rem;*/
    }

    .g-kpi-multirow-body-description {
        font-size: 0.75rem;
    }

    .g-kpi-multirow-body-description-row {
        display: flex;
        font-size: $font-size-base;
        white-space: normal;
        hyphens: auto;
        width: 100%;
        padding-top: 0.15rem;
        flex-wrap: wrap;
        justify-content: initial;
    }

    .g-kpi-multirow-body-description-row__vertical_mode {
        padding: 0.15rem;
    }

    .g-kpi-multirow-body-description-row--value-first {
        padding-left: 1rem;
        width: 70%;
        /*flex-grow: 2;*/
    }

    .g-kpi-multirow-body-row--value-first {
        justify-content: space-between;
    }

    .g-kpi-multirow-body-value-row--value-first {
        /*flex-grow: 1;*/
        width: 30%;
        text-align: right;
        font-weight: bold;
    }

    .g-kpi-multirow-body-description-row {
    }

    .g-kpi-multirow-body-row-value {
        font-weight: bold;
        margin-left: auto;
        text-align: right;
    }
}

.g-kpi-multirow-footer {
    /*display: flex;*/
    flex-flow: row wrap;

    .g-kpi-multirow-footer-left {
        /*width: 50%;*/
        display: flex;
        justify-content: flex-start;
    }

    .g-kpi-multirow-footer-right {
        /*width: 50%;*/
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.main-chart {
    /*display: inline-block;
    vertical-align: top;*/
    padding-right: 0.5rem;
    padding-top: 0.25rem;
}

.g-kpi {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    /*cursor: pointer;*/
    

    .description {
        /*padding: 5px;*/
        .small {
            font-size: 1em;
        }

        .normal {
            font-size: 1.5em;
        }

        .big {
            font-size: 2em;
        }

        .xl {
            font-size: 2.5em;
        }
    }

    .main-text {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: 5px;
        /*padding-top: 3px;*/
    }

    .bar {
        fill: #C6CDE0;
    }

    .bar:hover {
        fill: #c63c3c;
    }

    .bar--negative {
        fill: #ea2f4e;
    }

    .bar--positive {
        fill: #27b779;
    }

    .selected {
        fill: #ea2f4e;
    }

    .axis--x path {
        /*display: none;*/
    }

    .line {
        fill: none;
        stroke: #C6CDE0;
        stroke-width: 1.5px;
    }

    .area {
        stroke: #C6CDE0;
        fill: #C6CDE0;
    }

    .arc text {
        font: 10px sans-serif;
        text-anchor: middle;
    }

    .arc path {
        stroke: #fff;
    }


    .neutral-value-black {
        color: #000000;
        fill: #000000;
        font-weight: bold;
    }

    .polyline {
        opacity: .3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
    }

    .title {
        font-weight: bold;
    }

    .g-link {
        font-weight: bold;
        margin: 0px;

        .small {
            font-size: 1em;
        }

        .normal {
            font-size: 1.5em;
        }

        .big {
            font-size: 2em;
        }

        .xl {
            font-size: 2.5em;
        }
    }

    .text {
        /*margin-left: 5px;*/
        display: inline-block;
        font-weight: bold;

        .small {
            font-size: 1em;
        }

        .normal {
            font-size: 1.5em;
        }

        .big {
            font-size: 2em;
        }

        .xl {
            font-size: 2.5em;
        }
    }

    .bullet {
        font: 10px sans-serif;
    }

    .bullet .marker {
        stroke: #000;
        stroke-width: 2px;
    }

    .bullet .tick line {
        stroke: #666;
        stroke-width: .5px;
    }

    .bullet .range.s0 {
        fill: #eee;
    }

    .bullet .range.s1 {
        fill: #ddd;
    }

    .bullet .range.s2 {
        fill: #ccc;
    }

    .bullet .measure.s0 {
        fill: lightsteelblue;
    }

    .bullet .measure.s1 {
        fill: steelblue;
    }

    .bullet .title {
        font-size: 14px;
        font-weight: bold;
    }

    .bullet .subtitle {
        fill: #999;
    }

    .progress-meter {
        .border-left {
            fill: #27B779;
        }

        .border-right {
            fill: #C63C3C;
        }

        .border {
            fill: #1D3E8F;
        }

        .background {
            fill: #ccc;
        }

        .foreground {
            fill: #1D3E8F;
        }

        .gaugeText {
            //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 0.8rem;
            font-weight: bold;
            fill: #1D3E8F;
        }

        .gauge4Text {
            //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 0.55rem;
            font-weight: bold;
            fill: #1D3E8F;
        }
    }
}

.timeLine {
    &.node {
        cursor: pointer;
    }

    &.node circle {
        fill: #fff;
        /*stroke: #91b5d5; 
                ;
                stroke-width: 3px;*/
    }

    &.node text {
        font: 12px sans-serif;
    }

    &.link {
        fill: none;
        stroke: #91b5d5;
        stroke-width: 2px;
    }

    &.arrow {
        fill: #91b5d5;
        stroke: #91b5d5;
        stroke-width: 1px;
    }
}

.value-card-wrapper {
    font-weight: bold;
    height: 100%;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-around !important;
    justify-content: space-between !important;
    align-items: center;
    justify-content: center;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.value-card-icon {
    padding-right: 0.2rem;
    text-align: center;
    font-size: 1.75rem;
}

.value-card-value {
    padding-right: 0.2rem;
    text-align: center;
    font-size: 1.75rem;
}

.value-card-text {
    padding-right: 0.2rem;
    text-align: center;
}

.value-card-unit {
    /*padding-right: 0.2rem;*/
    text-align: center;
    font-size: 1.75rem;
}

.g-kpipanel {
    margin-top: 10px;
    margin-bottom: 10px;
    /*display: block;*/
    /*cursor: pointer;*/
    .wrapper {
        width: 100%;
        /*display: table;*/
        /*height: 80px;*/
        overflow: hidden;
        position: relative;
    }

    .carousel {
        width: calc(100% - 40px);
        overflow: hidden;
        position: relative;
        left: 20px;
        display: inline-block;
        /*position: relative;*/
        /*display: table-cell;*/
    }

    .inner {
        display: inline-block;
        display: flex;
        width: 100%;
        /*background: #F0F0F0;*/
        white-space: nowrap;
        /*position: relative;*/
        /*padding: 5px;*/
    }

    .left_scroll, .right_scroll {
        /*display: table-cell;*/
        /*height: 70px;*/
        width: 20px;
        position: absolute;
        text-align: center;
        /*display: inline-block;*/
        min-height: 66px;
    }

    .left_scroll {
        left: 0px;
        padding-left: 3px;
    }

    .right_scroll {
        right: 0px;
        padding-left: 5px;
    }

    .items {
        background-color: $base-color-fields;
        border: 1px solid #d9d9d9;
        padding-top: 2px;
        padding-bottom: 2px;
        min-height: 66px;
        max-height: 66px;
        display: inline-block;
        /*margin-left: 10px;  
        margin-right: 10px;*/
        margin-right: 5px;
        padding-left: 5px;
        /*position: relative;*/
    }

    .items:hover {
        background-color: $base-color-tool; //#E7EAF2;
    }

    .items:active {
        background-color: #999;
    }

    .items_toggled {
        background-color: $base-color-tool; //#E7EAF2;
    }

    .item_placeholder_carousel {
        background-color: $base-color-tool; //#E7EAF2;
        display: inline-block;
    }

    .item_placeholder_panel {
        background-color: $base-color-tool; //#E7EAF2;
        float: left;
    }
}

.timeLineArrow {
    stroke-width: 3;
    stroke: #000;
}


.bullet {
    font: 10px sans-serif;
}

.bullet .marker {
    stroke: #000;
    opacity: 0.7;
    stroke-width: 2px;
}

.bullet .tick line {
    stroke: #666;
    stroke-width: .5px;
}

.bullet .range.s0 {
    fill: #eee;
}

.bullet .range.s1 {
    fill: #ddd;
}

.bullet .range.s2 {
    fill: #ccc;
}

.bullet .measure.s0 {
    fill: #6699FF;
}

.bullet .title {
    font-size: 14px;
    font-weight: bold;
}

.bullet .subtitle {
    fill: #999;
}
