@import "base";

$media-breakpoint-min-width-small: 576px;
// Pro vetsi obrazovky
$media-breakpoint-min-width-medium: 768px;
// Pro velke obrazovky
$media-breakpoint-min-width-large: 992px;

.gmodal {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: auto;
    &-dialog {
        padding: 2rem;
        width: 50%;
        background-color: $base-color-content;
        box-shadow: 0 0 1.25rem -0.31rem rgba(0,0,0,0.5);
    }
    &-cnt-dialog {
        margin-top: -1.5rem;
    }
    &-close-button {
        text-align: right;
        font-size: 2rem;
        margin-top: -1.7rem;
        margin-right: -0.7rem;
        color: $base-color-tool;
        cursor: pointer;
    }
    &-close-button:hover {
        color: $base-color-shadow;
    }
    &-small-height {
        align-items: flex-start !important;
    }
    &-resize-m .gmodal-dialog {
        width: 70%!important;
    }
    &-resize-s .gmodal-dialog {
        width: 90%!important;
    }
    &-resize-xs .gmodal-dialog {
        width: 100%!important;
    }
}
