$base-color-notification: #f3f4f9; //Barva od grafika - dat nekam do _themebase???

.g-notification {
    display: block;
    position: relative;
    margin-bottom: 0.5rem;
    background-color: $base-color-content;
    //background-color: #e8e8e8;
    padding: 0.5rem;
    border: 1px solid #ebebeb;

    &.g-notification--collapsed {
        background-color: $base-color-content;
        //background-color: #f3f4f9;
        //background-color: #f6f6f6;
    }

    &--not-visited {
        border-left: 0.25rem solid $base-color-active;
    }

    &--state {
        &-important {
            border-color: $base-color-important;
        }

        &-error {
            border-color: $base-color-error;
        }

        &-warning {
            border-color: $base-color-warning;
        }

        &-success {
            border-color: $base-color-success;
        }

        &-info {
            border-color: $base-color-info;
        }
    }

    &__left {
        float: left;
        font-size: 2rem;
        width: 2rem;
        margin-right: 0.5rem;
        color: #333;
        position: relative;

        .g-badge {
            font-size: 0.75rem;
            top: 0;
            left: 1rem;
        }
    }

    &__title {
        font-weight: bold;
        //margin-top: 0.25rem;
    }

    &__meta {
        font-size: 10px;
        color: #7b8b99;
    }

    &__center {
        float: left;
        width: calc(100% - 5.25rem);
        border-right: 1px solid $base-color-shadow;
        padding-right: 0.25rem;
        margin-right: 0.25rem;
        cursor: pointer;

        &:focus {
            position: relative;
            //Visible in Windows high-contrast themes, see: https://stackoverflow.com/questions/52589391/css-box-shadow-vs-outline
            outline-color: transparent;
            outline-width: 2px;
            outline-style: dotted;

            &::before {
                content: ' ';
                position: absolute;
                top: 2px;
                right: 2px;
                bottom: 2px;
                left: 2px;
                background-image: $btn-focus-image; //def. v _gactions.scss
                z-index: 999;
            }
        }
    }

    &__center--toast {
        width: calc(100% - 3.25rem);
        border-right: none;
    }

    &__content--collapsed {
        //height: 2.25rem;
        //height: 1.75rem;
        height: 3rem;
        overflow: hidden;
        //background-color: #f6f6f6;
        border-color: #d0d0d0;
        position: relative;
    }

    &__content--toast {
        overflow: hidden;
        //text-overflow: ellipsis;
        //white-space: nowrap;
        position: relative;
        max-height: 6rem;
    }
    //Vytvoreni textu do ztracena
    &__text-fade {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.25rem;
        background: linear-gradient(rgba(255,255,255,0) 0%, $base-color-content 100%); //Nutno pouzit rgba - Safari ma problem s 'transparent', viz: https://stackoverflow.com/questions/11829410/css3-gradient-rendering-issues-from-transparent-to-white
        //background: linear-gradient(transparent, $base-color-tool);
        //background: linear-gradient(transparent, #f6f6f6);
    }

    &__center--toast .g-notification__text-fade {
        background: linear-gradient(rgba(255,255,255,0) 0%, $base-color-notification 100%); //Nutno pouzit rgba - Safari ma problem s 'transparent', viz: https://stackoverflow.com/questions/11829410/css3-gradient-rendering-issues-from-transparent-to-white
        //background: linear-gradient(transparent, $base-color-tool);
        //background: linear-gradient(transparent, #dee5f5);
    }

    &__progress {
        text-align: center;
        overflow: hidden;
        margin-top: 0.5rem
    }

    &__progress-text {
        color: $base-color-dark;
        font-size: 0.75rem;
    }

    &__progressbar.ui-progressbar {
        height: 0.5rem;
    }

    &__progressbar.ui-progressbar .ui-progressbar-value {
        background: none;
        background-color: $base-color-dark;
        border: none;
        margin: 0;
    }

    &__cmdbar {
        background: none;

        & .g-button {
            margin-left: 0.25rem;
        }
    }

    &__right {
        float: left;
        width: 2.5rem;
        text-align: center;

        & .g-link {
            color: #1b2951;
            //display: block;
            position: relative; //prasarna
            left: 0.125rem; //prasarna
            top: 0.375rem; //prasarna
            display: inline-block;
            outline-style: none;
        }
    }

    &__close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.5rem;
        color: transparent;

        &:hover {
            background-color: $base-color-dark;
            color: white;
            cursor: pointer;
        }
    }

    &__dt { //div s DateTime
        height: 1.75rem;
    }
}

.g-notification-placeholder {
    height: 80px;
    width: 100%;
    background-color: yellow;
    display: inline-block;
}

.g-notification-toast {
    //@include shadow(7px 7px 60px 0 rgba(0,0,0,0.3));

    &.g-notification {
        margin: 0;
    }

    &.g-notification--not-visited {
        //border:none; //NOTE: 2018-10-15: Na poz MPolaka a PHorsaka pretizen styl inline dialogu pro toasty
    }
}

.g-notification-list {
    &__header {
        //line-height: 2rem;
        margin-bottom: 1rem;
    }

    &__header-bar {
        background-color: transparent;
    }

    &__header-title {
        float: left;
        //margin: 0.5rem;
        font-size: 1.5rem;
        color: $dark-text-default;
    }

    &__header-action {
        float: right;
        position: relative;
        //top: 0.5rem;
        top: 14px;
        margin-right: 0.25rem;
        outline-style: none;
        font-weight: bold;
    }

    &__group-title {
        font-size: 1rem;
        font-weight: bold;
        display: block;
        border-bottom: 1px solid $base-color-shadow;
        margin: 0.5rem 0;
        line-height: 1.5rem;
    }
}

.g-notification-anidiv {
    position: absolute;
    background-color: $base-color-tool;
}