@import "base";

.g-pdfannotator__side-panel{
    ul {
        list-style:none;
        padding-left: 0;
    }
}
.g-pdfannotator__tooltip {
    .g-tooltip__header, .g-tooltip__tip {
        color: $base-color-text;
    }
}
