
.g-preview{
    overflow:hidden;
}
.g-preview .g-preview__tab-div{
    position: relative;
}

.g-preview .g-preview__disabled-element{
    padding: 0.5rem;
}

.g-preview .g-preview__content-element {
    position: relative;
    min-height: 50px;
}

.g-preview__external-link {
    right: 0;
    position: absolute;
    top: 0.85rem;
}

.g-preview__external-link a {
    padding: 0.25rem 0 0 0.25rem;
}

.g-preview__info-content {
    text-align: center;
    margin: 2rem 0.5rem;
}

.g-preview__info-header {
    font-weight: $font-weight-bold;
}

.g-preview__info-content > i {
    text-align: center;
    display: block;
    font-size: 5rem;
}