.g-progress-bar__bar {
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
}

.g-progress-bar__indicator {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    -moz-transition: left 161ms;
    -o-transition: left 161ms;
    -webkit-transition: left 161ms;
    transition: left 161ms;
}

.g-progress-bar--pending {
    -moz-animation: pending 1.618s infinite;
    -o-animation: pending 1.618s infinite;
    -webkit-animation: pending 1.618s infinite;
    animation: pending 1.618s infinite;
}

.g-progress-bar__fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 997;
}

@-moz-keyframes pending {
    from { left: -100% ; }
    to { left: 100%; }
}

@-webkit-keyframes pending {
    from { left: -100% ; }
    to { left: 100%; }
}

@keyframes pending {
    from { left: -100% ; }
    to { left: 100%; }
}