/*.g-rectangle-select {
    user-select: none;
}*/

.g-rectangle-select__selection {
    z-index: 9999;
    position: absolute;
    background-color: rgba(239, 28, 190, 0.6);
    border: 1px solid #aaf81a;
}
