.gscrollbar {
    $collapsedWidth: 1rem;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $collapsedWidth * 2;
    z-index: 999;

    .gscrollbar-slider {
        position: absolute;
        left: 0;
        width: $collapsedWidth;
    }

    .gscrollbar-slider-indicator {
        @extend .gscrollbar-slider;
        background-color: hsla(160, 0%, 50%, .5);
        opacity: 0;
    }

    &:hover .gscrollbar-slider-indicator {
        opacity: 1 !important;
    }
}