/*           UI gsidebar            */
@import "base";
 

$gsidebar-rail-hover: $base-color-shadow;
$gsidebar-rail-separator: #8c8c8c;


.gsidebar.g-sidebar {
    position: relative;
    z-index: 1;
}

.g-sidebar-left {
    &, & > * {
        float: left;
    }

    > .ui-sbpanel {
        border-right: 1px solid $base-color-shadow;
    }

    .g-sbp--absolute {
        position: absolute;
        margin-left: 2rem;
    }

    .ui-sbpanel:not(.g-sbp--absolute) {
        margin-right: 2px;
    }
}

.g-sidebar-right {
    &, & > * {
        float: right;
    }

    > .ui-sbpanel {
        border-left: 1px solid $base-color-shadow;
    }

    .g-sbp--absolute {
        right: 0;
        position: absolute;
        margin-right: 2rem;
    }

    .ui-sbpanel:not(.g-sbp--absolute) {
        margin-left: 2px;
    }
}

.g-sidebar-rail {
    position: relative;
    height: 100%;
    background-color: $base-color-tool;
    overflow: hidden;
    padding-bottom: 1rem;

    .g-sb-rail-menu {
        position: relative;
        width: 2rem;
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        height: 100%;
    }

    .g-sb-rail-shift {
        position: absolute;
        width: 100%;
        background-color: $base-color-tool;
        list-style-type: none;
        padding: 0;
        margin: 0;
        bottom: 0;
        text-align: center;
    }
}

.g-sb-rail-shift {
    &--disabled {
        opacity: 0.35;
    }

    button {
        width: 50%;
        height: 1rem; 
        line-height: 1rem; 
        padding: 0;
        margin: 0;
    }

}


.g-sb-rail-menu-leaf {
    cursor: pointer;
    padding: 0.5rem 0 0.25rem 0;
    /*    border-bottom: 1px solid $base-color-shadow; */
    border-left: 4px solid $base-color-shadow;

    &:hover {
        color: $base-color-primary;
    }

    &.leaf--active {
        color: $base-color-primary;
        border-left-color: $base-color-primary;
        background-color: $base-color-shadow;
    }

    &:not(:first-child):before {
        background: $base-color-shadow;
        display: block;
        content: " ";
        width: 1.5rem;
        height: 1px;
        margin: auto;
        margin-bottom: 8px;
        margin-top: -8px;
    }

    .gstatic {
        display: inline-block;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        white-space: nowrap;
    }

    .gbadge {
        display: inline-block;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        padding: 0.25rem 0;
        margin: 0;
    }
}


.ui-sbpanel {
    height: 100%;
    background-color: $base-color-content;
    z-index: 1;

    &:focus {
        outline: none;
    }

    &.g-sbp--hide {
        display: none;
    }

   /* .ui-resizable-handle.ui-resizable-w:after {
        content: "\f053  \f054";
        font-family: 'FontAwesome';*/
        /* content: "\ea6d";
    font-family: 'gorico';
    transform: rotate(90deg);*/
        /*width: 28px;
        padding-top: 6px;*/
        /* padding: 25px; */
        /*border: 1px solid $base-color-tool;
        height: 28px;
        top: calc(50% - 11px);
        font-style: inherit;
        left: -11px;
        position: relative;
        font-size: 0.75rem;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;
        white-space: nowrap;
        background-color: $base-color-content;
        display: block;
    }

    .ui-resizable-handle.ui-resizable-w:hover:after {
        display: block !important;
    }*/
}

.g-sbp-header {
    position: relative; 
}

.g-sbp-content {
    height: 100%;
    overflow: auto;
}

.g-sbp-caption {
    padding: 0 1.25rem 0 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.25rem;
    color: $light-text-default;
    background-color: $base-color-primary;

    &__icon {
        position: absolute; 
        right: 0.125rem; 
        top: 0.25rem; 
        cursor: pointer; 
        font-size: $font-size-icon; 
        color: $base-color-tool; 
        &:hover { color: $base-color-shadow; }
    }

    span {
    }
}

.g-sbp-statusbar { 
  border-bottom: 1px solid $base-color-shadow;
}

.g-sbp-flashpanel .gflashpanel { margin: 0 } 
