.gsignaturefield .gfield-table {
    display: flex;
}

    .gsignaturefield .gfield-table .canvasContainer {
        order: 1;
        flex-grow: 1;
        flex-shrink: 1;
    }

.gsignaturefield .gcontrolbox-vertical {
    height: 160px;
}

    .gsignaturefield .gcontrolbox-vertical .gcontrolbox-buttons {
        order: 2;
        float: right;
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }