.gsignpost {
    .header-icon {
        display: flex;
    }

    .header-icon .icon {
        font-size: 4rem;
        margin-top: 0rem;
        margin-left: 1rem;
    }

    .header-icon span {
        font-size: 1.125rem;
        margin-top: 1.75rem;
        margin-left: 1rem;
        font-weight: 800;
    }
    /*    .signpost-header {
        background-color: brown;
    }*/
    .signpost-cnt {
        padding-bottom: 0.5rem;
    }

    .large.signpost-cnt.size-L .menu-item {
        width: 24%;
    }

    .signpost-cnt.size-L .menu-item {
        width: 32%;
    }

    .signpost-cnt.size-M .menu-item {
        width: 48%;
    }

    .signpost-cnt.size-S .menu-item {
        width: 98%;
    }

    .signpost-cnt .menu-item {
        border: none;
        background-color: #FAFAFA;
        overflow: hidden;
    }

    .signpost-cnt .g-kpi-multirow {
        padding: 0.1rem;
    }

    .signpost-cnt .menu-item .g-kpi-multirow-body-primaryText {
        font-weight: normal;
    }

    .signpost-cnt .flex-item-content-wrapper:focus-visible {
        outline: none;
    }

    .signpost-cnt .flex-item-toggled--visible {
        background-image: none;
    }

    .signpost-cnt .g-kpi-multirow-body-icon {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        font-size: 1.2rem;
        text-align: left;
        width: 4rem;
    }

    .signpost-cnt .open-in-new-tab {
        display: none;
    }

    .signpost-cnt .flex-item-hover .open-in-new-tab {
        display: list-item !important;
    }

    .kpi-signpost .js-gbuttonpanel-button .gi-arrow-down {
        display: none !important;
    }

    .oddelovac {
        margin: 1rem;
        border-top: #bdbaba;
        border-left: #bdbaba;
    }

    .gdashboardpanel__header__buttons .statusbar {
        min-width: 0;
    }

    .gdashboardpanel_container {
        padding: 0;
    }
}
