@import "base"; 
$gtab-space-around: 0.5rem;

.g-tab-header {
  display:table;
  height:2rem; 
  cursor: pointer; 
  padding: 0; 
  font-size: $font-size-title;
  margin: $gtab-space-around $gtab-space-around;
  margin-bottom: 0;

  &.ui-state-default {
    background: transparent; //transparentize($base-color-tool, 0.6);
    border: 1px solid $base-color-tool;
    color: $base-color-text;
  }
    
  &.ui-state-active {
    background: $base-color-tool;
    border: 1px solid $base-color-tool;
    color: $base-color-text;
  }
   
  &.ui-state-default:hover {
    background-color: transparentize($base-color-tool, 0.4);
  }

  .g-tab-header-text { display:table-cell; font-size: $font-size-title; white-space:nowrap; padding:0 0.25rem; vertical-align: middle; height: 2rem; font-weight: $font-weight-normal;}
  .g-tab-header__empty { padding: 0 }
  .g-tab-header-icon { margin-right:3px;  }
  .g-tab-header-error-icon { margin-left:3px;  }
  .g-tab-header-bar {display:table-cell; width:100%; position:relative; vertical-align:top; padding-left: 1.5rem; font-weight:$font-weight-normal; }
  .g-tab-header__empty ~ .g-tab-header-bar { padding-left:0; }
  .g-tab-header-badge { 
      height: 100%; 
      .g-badge { 
          margin: 0.5rem 0.25rem; 
          position: static;
      }
  }
  .g-tab-header-barcontent { overflow:hidden; }
  &.ui-state-default, &.ui-state-active.g-tab-loading { margin-bottom: 0.25rem; }
  &.ui-state-active + .g-tab-content { margin-bottom: 0.5rem; }
  &.g-tab-locked { cursor:default; }
  .gfield { display: inline-block; margin-right: 1rem; }
  
   &:focus {
        position: relative;
        outline-color: transparent;

        &::before {
            content: ' ';
            position: absolute;
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            background-image: $btn-focus-image; //def. v _gactions.scss
            //z-index: 999; //S timto nelze kliknout na menubar gtabu, pokud ma hlavicka focus.
        }
    }
}

.g-tab-content {
    margin: 0 $gtab-space-around;

    &.ggrid, & .ggrid {
        border-top: 1px solid $base-color-tool;
        border-left: 1px solid $base-color-tool;
        border-right: 1px solid $base-color-tool;
    }
    
    &, &.ggrid .field-box-parent, & .ggrid .field-box-parent {
        border-left: none;
    }
}

.ginfobar {  }
.ginfobar__item { display:inline-block; margin: 0 0.25rem; }
.ginfobar__item h3 { margin:0; padding:0; }

.gflashpanel { 
  display: flex;
  min-height: 1.5rem; 
  box-sizing: border-box; 
  margin: 0.5rem; 
  border: 1px solid; 
  padding: 0 0.25rem;
  font-size: $font-size-title; 
  font-weight: $font-weight-bold; 
  > * {
    padding: 0.25rem; 
  }
  > i {
    font-size: $font-size-header;
    text-align: center;
  }
  > span {
    flex-grow: 1; 
  }
  .gflashpanel__icon { margin: auto; }
  .gflashpanel__close{ 
    cursor: pointer; 
    padding-right: 0;
    &:hover { opacity: 0.5; }
  }

  .gflashpanel__content {
    flex-grow: 1; 
    &--collapsed {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .gbadge {
      font-size: 0.5rem;
      line-height: 0.5rem;
      position: relative;
      top: -0.25rem;
      left: -0.25rem;
      margin: auto;
  }

  .gbuttonpanel {
      padding-top: 0;
      margin: auto;
  }
}

.gtabmanager.gbuttonpanel:not(.gsubtasks) {
    margin: 0.25rem 0.25rem 0.5rem 0.25rem;
}