@import "base";

.gtable {
    table {
        border-collapse: collapse;
        width: 100%;
    }

    .virtual-header { 
        display: none;
    } 
    
    .gtable-header {
        cursor: pointer;
        background-color: $base-color-tool;
        font-weight: $font-weight-bold;
    }

    .g-button__text {
        padding: 0;
        margin: 0 0.4rem;
        font-size: $font-size-base;
        height: 20px;
    }

    .g-button__icon {
        padding-top: 0.1875rem;
    }

    .statusbar button {
        font-weight: normal;
        color: $base-color-active;
        margin-top: -0.125rem;
        padding-left: 0;
    }

    .statusbar button span:hover {
        border-bottom: 1px solid $base-color-active;
    }

    .gtable-empty {
        text-align: center;
        padding-top: 10px;
    }

    .gtable-header-0 {
        background-color: $base-color-shadow !important;
    }

    .gtable-header .fa-chevron-down {
        padding-right: 10px;
    }

    .gtable-header .fa-chevron-right {
        padding-right: 13px;
    }

    .gtable-header th {
        padding: 12px 12px 12px;
        font-size: $font-size-base;
        text-align: left;
        border-bottom: 1px solid #cfcfcf;
    }

    .gtable-row td {
        padding: 12px 20px 12px;
        font-size: $font-size-base;
        border-bottom: 1px solid #cfcfcf;
        //word-break: break-all;
        vertical-align: middle;
    }

    .gtable-row:hover {
        background-color: $base-color-tool;
    }

    .gtable-hrow th {
        padding: 12px 20px 12px;
        font-size: $font-size-base;
        border-bottom: 1px solid #cfcfcf;
    }

    .gtable-hrow th {
        padding: 12px 20px 12px;
        font-size: $font-size-base;
        border-bottom: 1px solid #cfcfcf;
    }

    .gtable-hrow td {
        padding: 12px 20px 12px;
        font-size: $font-size-base;
        border-bottom: 1px solid #cfcfcf;
    }

    .grid-cell-icon {
        font-size: $font-size-bigicon;
    }

    .g-table-responsive-header {
        display: none;
        color: #000000;
        text-align: left;
    }

    .gtable-responsive {
        .gtable-empty {
            padding-left: 20px;
        }

        .g-table-responsive-header {
            display: table-cell;
            text-align: right !important;
            font-weight: $font-weight-normal !important;
            width: 120px;
        }

        .gtable-header {
            padding: 0px;
        }

        .gtable-row td {
            display: table-row;
        }

        .gtable-row td > * {
            padding: 4px 22px;
            text-align: left;
        }

        .gtable-hrow {
            display: none;
        }

        table, th, tr {
            display: block;
            width: 100% !important;
        }

        tr {
            padding: 10px 0;
        }

        td {
            display: flex;
            width: 100% !important;
        }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .gtable-row td {
            border-bottom: none;
        }

        .gtable-row {
            border-bottom: 1px solid #cfcfcf;
        }

        .gtable-row:hover {
            background-color: $base-color-content;
        }
    }
}
.gtable-medium {
    word-break: break-all;
    white-space: pre-wrap;
    //overflow-x: scroll;
}