// ****************************************************
//   LAYOUT - COMMON
//
// ****************************************************

.w100 { width: 100%; }
.h100 { height: 100%; }
.pr { position: relative; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.spaced { min-width: 1.25rem; padding: 0 0.5rem; }
.hidden { display: none !important; }
.hidden-block { visibility: hidden !important; }
.focusdummy { 
  width:0; 
  height:0;
  min-height:0; 
  padding: 0;
  border: none; 
  outline: none; 
  position: absolute; 
}
.data-deleted {
  color: lighten($base-color-text, 35%);
  font-style: italic;
}

.data-new { 
  font-weight: bold; 
}



// ****************************************************
//   DETAIL / CONTENT
//
// ****************************************************

.detail-header, .ui-dialog-content.detail-header {
    padding: 0.5rem; 
    overflow: auto; 
    display:block; 
    background: $base-color-light;
}

.detail-content, .ui-dialog-content.detail-content { 
    padding: 0.5rem; 
    overflow:auto;
    display:block; 
}

.detail-grid, .ui-dialog-content.detail-grid { 
    overflow:auto; 
    display:block; 
   
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
.textselect {
    -webkit-user-select: text; /* Chrome/Safari/Opera */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  not supported by any browser */
}
div.gcontent:empty { display: none }


//************************************************
//
//
//************************************************

.g-drag-handle-s {
    display: block;
    position: relative;
    margin: auto;
    top: -4px;
}

// ****************************************************
//   SCROLLBARY
//
// ****************************************************
/* mCustomScrollbar */
.mCSB_inside > .mCSB_container {
    margin-right: 0;
}

/* mCustomScorllbarDetail */
.mCS-gor-dark-theme.mCSB_scrollTools {
  width: 8px;
}

.mCS-gor-dark-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  background-color: #e7eaf2;
  opacity: 1;
}

.mCS-gor-dark-theme.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.mCS-gor-dark-theme.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #0d1732;
  opacity: 0.85;
}

.mCS-gor-dark-theme.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-gor-dark-theme.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #0d1732;
  opacity: 1;
}





// ****************************************************
//   Styly k ikonkam
//
// ****************************************************

.gi {
    display: inline-block;
}

.gi-rot90 {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.gi-rot180 {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.gi-rot270 {
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.gi-rotX180 {
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.gi-rotY180 {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.icon-with-text { 
  padding-right: 0.25rem; 
}

//---------------skladane ikony---------------
.gi-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.gi-stack-bg,
.gi-stack-fw {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.gi-stack-bg {
    font-size: 1em;
    line-height: inherit;
}

.gi-stack-fw {
    font-size: 0.75em;   
    line-height: inherit;
    //text-shadow: 0 0 1px #fff;
    &.gi-stack-fw-full {
        font-size: 1em;
    }
}

.gi-bgw:not(.g-state-text) {
    color: $dark-text-default;
}

.gi-bgw::before,
.gi-bgw--rect::before { //Poz. MPolak pro slozeni gi-folder_bold|gi-H gi-bgw--rect
    background-color: $base-color-content; //NOTE: Tady si nejsem jisty, jestli je dobre se vazat na background contentu kvuli pripadnym tematum v budoucnu
}

.gi-bgw::before {
    border-radius: 50%;
}

.gi-stack-pos--rb {
    top: 0.5em;
    left: 0.5em;
}

.gi-stack-pos--rt {
    top: -0.25em;
    left: 0.5em;
}

.gi-stack-pos--lb {
    top: 0.5em;
    left: -0.5em;
}

.gi-stack-pos--lt {
    top: -0.25em;
    left: -0.5em;
}


// ****************************************************
//   STAVY
//
// ****************************************************


// vlozi sekce background-color, color, border do CSS
// pouziti s tematy:
//
// @include colors($theme-header...);
@mixin gstate($state, $maincolor, $invertcolor) {
    .#{$state} {
        [class*='g-state-'] &.g-state-transbackground, &.g-state-transbackground, [class*='g-state-'] & .g-state-transbackground, & .g-state-transbackground {
            background-color: transparentize($maincolor, 0.8);
            border-color: mix($maincolor, $base-color-content, 40%);
        }

        [class*='g-state-'] &.g-state-lightbackground, &.g-state-lightbackground, [class*='g-state-'] & .g-state-lightbackground, & .g-state-lightbackground {
            background-color: mix($maincolor, $base-color-content, 40%);
            border-color: mix($maincolor, $base-color-content, 40%);
        }

        [class*='g-state-'] &.g-state-background, &.g-state-background, [class*='g-state-'] & .g-state-background, & .g-state-background {
            background-color: $maincolor;
            border-color: mix($maincolor, $base-color-content, 40%);
            color: $invertcolor;
        }

        [class*='g-state-'] &.g-state-text, &.g-state-text, [class*='g-state-'] & .g-state-text, & .g-state-text, [class*='g-state-'] .g-state-text &, .g-state-text & {
            color: $maincolor;
        }

        /*@media (prefers-color-scheme: dark) {
            [class*='g-state-'] &.g-state-transbackground, &.g-state-transbackground, [class*='g-state-'] & .g-state-transbackground, & .g-state-transbackground {
                border-color: $maincolor;
            }

            [class*='g-state-'] &.g-state-lightbackground, &.g-state-lightbackground, [class*='g-state-'] & .g-state-lightbackground, & .g-state-lightbackground {
                border-color: $maincolor;
            }

            [class*='g-state-'] &.g-state-background, &.g-state-background, [class*='g-state-'] & .g-state-background, & .g-state-background {
                border-color: $maincolor;
            }
        }*/
    }
}

@include gstate(g-state-info, $base-color-info, $base-color-content); 
@include gstate(g-state-warning, $base-color-warning, $base-color-content); 
@include gstate(g-state-success, $base-color-success, $base-color-content); 
@include gstate(g-state-error, $base-color-error, $base-color-content); 
@include gstate(g-state-important, $base-color-important, $base-color-content);
@include gstate(g-state-active, $base-color-active, $base-color-content); 
@include gstate(g-state-inactive, $base-color-shadow, $base-color-content);
@include gstate(g-state-favorite, $base-color-favorite, $base-color-content);

.g-primary { }


@mixin marker-gen($state, $maincolor) {
  .#{$state} { position: relative }
  .#{$state}::after {
    @extend %marker-base;
    border-right-color: $maincolor;
    border-top-color: $maincolor;
  }
}

%marker-base {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 0.25rem;
}

@include marker-gen(g-marker, $base-color-primary); 
@include marker-gen(g-marker-info, $base-color-info); 
@include marker-gen(g-marker-error, $base-color-error); 
@include marker-gen(g-marker-warning, $base-color-warning); 
@include marker-gen(g-marker-success, $base-color-success); 
@include marker-gen(g-marker-important, $base-color-important); 
@include marker-gen(g-marker-inactive, $base-color-shadow); 


// ****************************************************
//   KARTY (DLAŽDICE) - v prvním divu je obrázek, následuje
//                      titulek a div s textem
// ****************************************************
.card{
    width: 100%;
    height: 100%;
    padding: 5px; 
    border: 1px solid gray;
    margin: 10px;

    h3 {
        padding-left: 5px;
    }

    div:first-of-type {       
        display: block;      
        text-align: center;       
    }

    div:last-of-type {
        padding: 5px;
        line-height: 1.5em;
        overflow: hidden;
    }
  
    img {
        border: 0px none;
        width: 200px;
    }
}

.inline-shadow {
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.4); 
}

.gmaximize-active { 
  background-color: $base-color-content;
  position: fixed; 
  top: 3rem !important;
  height: calc(100% - 3rem) !important;
  left: 0 !important;
  width: 100% !important; 

}

.gmarkdown { 
  blockquote {
    padding: 0.5rem 1rem;
    margin: 0 0 1rem;
    border-left: 5px solid $base-color-shadow;
  }
  code { 
    background-color: $base-color-tool;
    border: 1px solid $base-color-shadow;
  }
  pre {
    display: block;
    padding: 0.5rem;
    margin: 0 0 0.5rem;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: $base-color-tool;
    border: 1px solid $base-color-shadow;
    code {
      background-color: inherit;
      border: 0; 
    }
  }
  table {
    width: 100%;
    max-width: 100%;
    border: 1px solid $base-color-shadow;
    border-collapse: collapse;
    margin-bottom: 1rem; 
  }
  table thead th,
  table tfoot th {
    background-color: $base-color-tool;
  }
  table caption {
    padding: 0.5rem;
  }
  table th,
  table td {
    padding: 0.5rem;
    border: 1px solid $base-color-shadow;
  }

  hr { 
    border: 0;
    border-top: 1px solid $base-color-shadow;
  }
  img {
    max-width: 100%; 
  }
}