// barevne varianty textu mezi kterymi se podle pozadi vybira ten kontrastnejsi
$dark-text-default: #333;
$shadow-text-default: #707070;
$light-text-default: #fff;

$base-color-important: #ED1E79; 
$base-color-error: #C63C3C; 
$base-color-warning: #FFB266; 
$base-color-success: #27B779;
$base-color-info: #6699FF;
$base-color-favorite: #feb63b;

$base-color-content: #FAFAFA;
$base-color-fields: #FFFFFF;
$base-color-fields-disabled: darken($base-color-fields,8%);
$base-color-boundary: #CCCCCC;
$base-color-boundary-dark: gray;

$base-color-light: #F4F6F9;
$base-color-tool: #E7EAF2;
$base-color-shadow: #C6CDE0;

$base-color-active: #2650b9;
$base-color-primary: #1D3E8F;
$base-color-dark: #0D1732; 
$base-color-text: #222;


$font: "Open Sans", "Segoe UI", sans-serif;

$font-size-mini: 0.625rem;      // 10px 
$font-size-base: 0.8125rem;     // 13px 
$font-size-title: 0.8125rem;    // 13px 
$font-size-header: 1.125rem;    // 18px

$font-size-icon: 0.875rem; // 14px
$font-size-bigicon: 1.3125rem; // 21px 

$font-weight-normal: 400; 
$font-weight-bold: 700; 
