<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://www.gordic.cz/shared/project-config/v_1.0.0.0">
  <Name>Gordic.GFE.WinClient</Name>
  <Description>GORDIC Návrhář sestav</Description>
  <Author>Mgr. Stepan Sukovych</Author>
  <Copyright>Copyright © GORDIC spol. s r. o. 1993-2025</Copyright>
  <Code>
  </Code>
  <Users>
    <User name="maliger">
      <LastExceptionCode>21000000</LastExceptionCode>
      <LastResourceCode>21090006</LastResourceCode>
    </User>
    <User name="stepe">
      <LastExceptionCode>29400006</LastExceptionCode>
      <LastResourceCode>2945176</LastResourceCode>
    </User>
    <User name="ssukovych">
      <LastExceptionCode>29400007</LastExceptionCode>
      <LastResourceCode>2945207</LastResourceCode>
    </User>
    <User name="stepan_sukovych@gordic.cz">
      <LastExceptionCode>29400006</LastExceptionCode>
      <LastResourceCode>2945176</LastResourceCode>
    </User>
  </Users>
  <ResourcesFileName />
  <ExceptionResourcesFileName>Exceptions</ExceptionResourcesFileName>
  <install>
    <customer name="X">
      <module name="GFE01" installable="true">
        <include name="CORE" />
        <include name="GUI" />
        <include name="REP" />
        <target name="WINCLIENT" description="Návrhář sestav" title="Návrhář sestav">
          <assembly include="true" rename="GSAGFE01.exe" />
          <shortcut description="Návrhář sestav" directory="startmenu" iconIndex="0" name="GSAGFE01 - Návrhář sestav.lnk" show="normal" target="GSAGFE01.exe" />
          <files>
            <include srcroot="src" srcdir="." dstdir="." regexp="\.tst$" recursive="false" />
            <include srcroot="src" srcdir="." dstdir="." regexp="app_release.config" rename="GSAGFE01.exe.config" recursive="false" />
            <include srcroot="bin" srcdir="." dstdir="." regexp="Gordic.TextEditor.dll" />
          </files>
        </target>
      </module>
    </customer>
  </install>
</Project>